<div class="chart">
    <div class="container2">
        <mat-form-field appearance="fill">
          <mat-label>Enter a date</mat-label>
          <input matInput [matDatepicker]="picker" [max]="maxDate" (dateChange)="onDateSelected($event)" [(ngModel)]="currentDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="container3">
        <button class="btn" (click)="downloadCSV()">Export to CSV</button>
      </div>
    <div *ngIf="loader" style="display: inline; justify-content: center;align-items: center;"><app-loader></app-loader></div>
    <div class="chart-container">
        <canvas id="linechart2"></canvas>
    </div>
</div>