header {
    background-color: #1C315E;
    box-shadow: 1px 1px 5px 0px grey;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logoimi {
    float: right;
    width: 20%;
    text-align: center;
}

#logoimi {
    width: 90%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.logo {
    display: inline-block;
    color: white;
    font-size: 30px;
    margin-left: 10px;
    text-align: center;
}


/* Nav menu */

.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #1C315E;
    overflow: hidden;
}

.menu a {
    display: block;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

.menu a:hover {
    color: #95aad7;
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}


/* Menu Icon */

.hamb {
    /* cursor: pointer;
    float: right;
    padding: 20px 20px; */
    display: none;
}


/* Style label tag */

.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}


/* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}


/* Hide checkbox */


/* Toggle menu icon */

.side-menu:checked~nav {
    max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li {
        float: left;
    }
    .menu a:hover {
        background-color: transparent;
        color: #3E5483;
    }
    .hamb {
        display: none;
    }
    .logo {
        font-size: 60px;
    }
    .logoimi {
        display: none;
    }
    .user {
        padding-right: 30px;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropbtn {
        color: white;
        padding: 20px;
        font-size: 20px;
        border: none;
        cursor: pointer;
    }
    .dropdown-content {
        border-radius: 5px;
        width: 150px;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: #1C315E;
        padding: 20px 20px;
        text-decoration: none;
        display: block;
    }
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #1C315E;
        color: #f9f9f9;
    }
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown:hover .dropbtn {
        background-color: #1C315E;
    }
    .dropbtn a:hover {
        background-color: #f9f9f9;
    }
}