<header>
    <a [routerLink]='["prosumer-home-page"]' class="logo">WattApp</a>
    <input class="side-menu" type="checkbox" id="side-menu" />
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
    <nav class="nav">
        <ul class="menu">
            <li><a [routerLink]='["prosumer-home-page"]'>Dashboard</a></li>
            <li><a [routerLink]='["/prosumer-devices-page"]'>Devices</a> </li>
            <li><a [routerLink]='["/prosumer-account-page"]'>Profile</a></li>
            <li><a id="logouta" (click)="logout()">Logout</a></li>
        </ul>
    </nav>
</header>