<div class="constainer my-5">
    <h1 class="mb-3">Edit Employee</h1>
    <div class="row-2">
        <div class="col-4">
            <form #form="ngForm" (ngSubmit)="updateEmployee()">

                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="employeeDetails.id">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="employeeDetails.name">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="employeeDetails.email">
                </div>

                <div class=" mb-3 ">
                    <label for="phone " class="form-label ">Phone</label>
                    <input type="text " class="form-control " id="phone " name="phone " [(ngModel)]="employeeDetails.phone">
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" id="country" name="country" [(ngModel)]="employeeDetails.country">
                </div>

                <button type=" submit " class="btn btn-primary mr-5 ">Save</button>
                <button type=" button " class="btn btn-danger" (click)="deleteEmployee(employeeDetails.id)">Delete</button>

            </form>
        </div>
    </div>
</div>