.chart {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    padding-top: 18px;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 40vh;
    width: 100%;
}

.container2 {
    display: inline-block;
}

mat-form-field {
    width: 77%;
    float: left;
}

.container3 {
    float: right;
}

.btn {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: #bce9e4;
    color: grey;
    font-weight: normal;
    text-align: center;
}

.btn:hover {
    background-color: #93ede2;
}

@media (min-width:768px) {
    mat-form-field {
        width: 78%;
        float: right;
    }
    .container3 {
        margin-right: 10%;
    }
}