.main {
    top: 0;
    width: 100%;
    min-height: 100vh;
    position: absolute;
}

.centar {
    max-width: 100%;
    margin-top: 45px;
    text-align: center;
    height: auto;
}

#imgdevice {
    position: relative;
    width: 30%;
}

.back {
    text-align: left;
}

#turnback {
    margin-top: 10px;
    width: 7%;
}

h1 {
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}

ul {
    margin-top: 15px;
    text-align: left;
    list-style: none;
    margin-left: 10px;
}

ul li {
    text-decoration: none;
    font-size: 15px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    border-radius: 5px;
    background-color: rgb(129, 202, 248);
    color: white;
}

#number {
    border-bottom: 1px solid rgb(183, 183, 183);
    max-width: 300px;
}

@media (min-width: 768px) {
    .centar {
        margin-top: 85px;
    }
    #turnback {
        width: 3%;
        margin-left: 15px;
    }
    #imgdevice {
        width: 10%;
    }
    form {
        margin-left: 200px;
        margin-right: 200px;
    }
    h1 {
        font-size: 30px;
    }
    label {
        font-size: 20px !important;
    }
    button {
        width: 105px;
    }
    .info {
        border-radius: 15px;
        width: auto;
        background-color: rgb(92, 166, 231);
    }
    ul {
        margin-left: 35%;
        list-style: none;
    }
    ul li {
        width: 100%;
        text-align: left;
        font-size: 25px;
    }
    .card {
        border-radius: 15px;
        background-color: rgb(166, 203, 235);
        top: 25%;
        left: 8%;
        position: absolute;
        width: 80%;
    }
}