<app-prosumer-navbar></app-prosumer-navbar>
<div class="main">
    <div class="centar">

        <div class="card">
            <!-- <div class="borderTop"></div> -->
            <!-- <div class="back">
                <a href="prosumer-home-page"><img id="turnback" src="assets/img/back.png" alt=""></a>
            </div> -->
            <div class="userimg">
                <img id="imgdevice" src="assets/img/account.png" alt="">
            </div>
            <h1>{{name}}</h1>
            <div class="info">
                <ul>
                    <li>Username: {{name}}</li>
                    <li>E-mail: {{email}}</li>
                    <li>Adress:{{adres}}</li>
                    <li *ngIf="this.role==this.prosumer" id="number">Number of devices: {{numOfDevices}}</li>
                    <li class="aa" *ngIf="this.role==this.prosumer"> <img id="imgdevice1" src="assets/userSetting.png" alt=""><a [routerLink]='["/profile-update"]'>Edit Profile</a></li>
                    <li class="aa" *ngIf="this.role==this.dso"><a [routerLink]='["/profile-dso-update"]'>Edit Profile</a></li>
                    <li class="aa"> <img id="imgdevice111" src="assets/key.png" alt=""><a id="pass" [routerLink]='["/prosumer-account-settings"]'>Change Password</a></li>
                    <li class="aa"> <img id="imgdevice11" src="assets/exit.png" alt=""><a id="logout" (click)="logout()">Log out</a></li>

                </ul>
            </div>

        </div>
    </div>

    <app-footer *ngIf="this.role==this.prosumer"></app-footer>
    <app-prosumer-footer *ngIf="this.role==this.prosumer"></app-prosumer-footer>
</div>