.main {
    min-height: 100vh;
}

.centar {
    width: 100%;
    min-height: 100vh;
    text-align: center;
}

#imgdevice {
    position: relative;
    width: 30%;
}

.back {
    text-align: left;
}

#turnback {
    margin-top: 10px;
    width: 7%;
}

h1 {
    text-align: center;
    margin-top: 27px;
    font-size: 20px;
}

ul {
    margin-top: 20px;
    margin-left: -15px;
    text-align: left;
    list-style: none;
}

ul li {
    text-decoration: none;
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
}

.aa {
    margin-top: 10px;
}

.aa a {
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px;
    color: #727272;
}

a:hover {
    border-radius: 5px;
    background-color: rgb(129, 202, 248);
    color: white;
}

.card {
    padding-top: 20%;
    padding-bottom: 61px;
    min-height: 100vh;
    border-radius: 0px;
}

#imgdevice1 {
    width: 30px;
}

#imgdevice11 {
    width: 30px;
    margin-left: -4px;
}

#imgdevice111 {
    width: 28px;
}

#pass {
    margin-left: 2px;
}

#logout {
    margin-left: 6px;
}

#number {
    border-bottom: 1px solid rgb(183, 183, 183);
    max-width: 300px;
}

@media (min-width: 768px) {
    .main {
        top: 0;
        right: 0;
        left: 0;
        position: absolute;
        justify-content: center;
        min-height: 100vh;
    }
    .centar {
        display: flex;
        min-height: 100vh;
        width: 100%;
    }
    #turnback {
        width: 3%;
        margin-left: 15px;
    }
    #imgdevice {
        width: 15%;
        margin-top: -43%;
    }
    form {
        margin-left: 200px;
        margin-right: 200px;
    }
    #number {
        max-width: 436px;
        border-bottom: 0px;
    }
    h1 {
        margin-top: -11%;
        font-size: 40px;
    }
    label {
        font-size: 20px !important;
    }
    button {
        width: 105px;
    }
    .info {
        border-radius: 15px;
        width: auto;
        margin: 15px;
        display: flex;
        justify-content: center;
        background-color: rgb(208 233 255);
    }
    ul {
        display: inline-block;
        text-align: center;
        list-style: none;
        margin-top: 38px;
    }
    ul>.li1 {
        margin: 10px;
        width: 689px;
        text-align: left;
        font-size: 35px;
    }
    .aa {
        text-align: left;
        font-size: 20px;
        font-size: 80px;
        width: 400px;
    }
    ul>.aa {
        margin-top: 27px;
        font-size: 30px;
    }
    .card {
        min-height: 200px;
        margin-top: 7%;
        margin-bottom: 4%;
        border-radius: 15px;
        width: 100%;
        margin-left: 20%;
        margin-right: 20%;
        float: left;
        /* padding: 0;
        margin-top: 155px;
        margin-left: 80px;
        width: 60%;
        display: inline-block;
        border-radius: 15px;
        background-color: #b8dcff; */
    }
    #userimg {
        border: 1px solid black;
    }
    app-footer {
        width: 100%;
        display: contents;
    }
}