<div class="table-container responsive">
    <div class="col-md-12">
        <div class="container2">
            <mat-form-field appearance="fill">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="picker" [max]="maxDate">
                <input matStartDate placeholder="Start date" formControlName="start" [(ngModel)]="firstdate">
                <input matEndDate placeholder="End date" formControlName="end" [(ngModel)]="currentDate">
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
          <div class="container3">
            <button class="btn" (click)="downloadCSV()">Export to CSV</button>
          </div>
        <div class="table-container">
            <div class="table-wrapper">
                <h2 class="table-title">Consumption/Production</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date Time</th>
                            <th>Consumption</th>
                            <th>Production</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item1 of list1">
                            <ng-container *ngFor="let item2 of list2; let i = index">
                                <ng-container *ngIf="item1.year == item2.year && item1.month == item2.month && item1.day == item2.day">
                                    <td>{{ item1.year }}/{{item1.month}}/{{dateTime[i]}}</td>
                                    <td>{{ item1.energyUsageResult }} [kWh]</td>
                                    <td>{{ item2.energyUsageResult }} [kWh]</td>
                                </ng-container>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>