<main>
	<a [routerLink]="['/']" class="go-back">&lt;&nbsp;Go back</a>
    <div class="containters">
            <div class="forgot-password-form-wrapper">
                <div class="forgot-password-form">
					<h1>Forgot password?</h1>
                    <div class="form-group">
                        <label for="username">Enter your email</label>
                        <input type="email" name="email" class="form-control" placeholder="Enter your email" [(ngModel)]="email" pattern="^[\\w-\\.]+@([\\w-]+\\.)+[\\w-]{2,4}$"/>
                    </div>
                    <div class="btn-container">
                        <button class="btn btn-dark" >Send email</button><br><br>
                    </div>
                    <div class="error-message">
                        
                    </div>
                </div>
            </div>
    </div>
</main>