main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 46, 100);
}

.background-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#turnback {
    width: 10%;
}

.go-back {
    color: white;
    font-size: 20px;
    margin-left: -10px;
    margin-top: -50px;
}

#text-return{
    padding-left: 10px;
}

a {
    text-decoration: none;
}

.go-back:hover {
    text-decoration: underline;
}

.forgot-password-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    flex-direction: column;    
}

.containers {
    display: flex;
    width: 90%;
    height: 70%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 46, 100, 0.95);
    box-shadow: rgb(41,140,255) 0px 20px 20px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgb(41,140,255) 0px -2px 6px 0px inset;
    color: whitesmoke;
    border: 3px solid rgb(41,140,255);
    border-top: 0;
    border-bottom: 0;
    position: relative;
  }

  .containers::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: rgb(41, 140, 255);
  }

  .containers::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 2px;
    background-color: rgb(41, 140, 255);
  }

.forgot-password-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 5%;
}

.form-control{
    height: 40px;
    border-radius: 0px;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(0, 46, 100);
  }

.form-control.invalid {
    box-shadow: 0 0 2px 2px red;
}

p.error-message {
    height: 35px;
    color: red;
}

.success {
    color: green;
}

.success>p {
    text-align: center;
}

div.error-message {
    color: red;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 25px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -25px;
}

.btn {
    width: 75%;
    padding: 5px;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: rgb(41,140,255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}

.btn-container>.link {
    color: #D9D9D9;
}

.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (min-width:769px) {
    .containers {
        display: flex;
        width: 30%;
        height: 60%;
        margin-left: 55%;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 46, 100, 0.95);
        box-shadow: rgb(41,140,255) 0px 20px 20px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgb(41,140,255) 0px -2px 6px 0px inset;
        color: whitesmoke;
        border: 3px solid rgb(41,140,255);
        border-top: 0;
        border-bottom: 0;
        position: relative;
      }

      .containers::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 2px;
        background-color: rgb(41, 140, 255);
      }

      .containers::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 2px;
        background-color: rgb(41, 140, 255);
      }

    .forgot-password-form-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 100%;
        flex-direction: column;
    }

    .form-group{
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 5%;
      }

      .form-control{
        height: 50px;
        border-radius: 0px;
        font-size: 18px;
        letter-spacing: 1px;
        color: rgba(0, 46, 100);
      }

    input {
        font-size: 1.5rem;
    }
    
    label {
        font-size: 20px;
    }

    .btn-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      .btn{
        width: 50%;
        padding: 10px;
        font-size: 22px;
        letter-spacing: 2px;
        background-color: rgb(41,140,255);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: transform 0.3s ease;
      }

      .btn:hover{
        background-color: rgba(0, 46, 100);
        border: 2px solid rgb(41,140,255);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: scale(1.02);
      }

      #turnback {
        width: 8%;
        }
    .go-back {
        font-size: 24px;
        margin-left: -35px;
    }

    .go-back:hover{
        text-decoration: none;
    }

    h1{
        font-size: 32px;
    }
}