<main class="background-image" [style.backgroundImage]="'url(' + backgroundImage + ')'">
    <a [routerLink]="['/']" class="go-back"><img id="turnback" src="assets/img/back.png" alt="">Go back</a>

    <div class="containters">
        <div class="forgot-password-form-wrapper">
            <div class="forgot-password-form">
                <h1>Forgot password?</h1>
                <div class="form-group">
                    <label for="username">Enter your email</label>
                    <input type="email" name="email" #emailElement class="form-control" placeholder="Enter your email" [(ngModel)]="email" (blur)="validateEmail()" />
                    <p class="error-message">{{emailErrorMessage}}</p>
                </div>
                <div class="btn-container">
                    <button class="btn btn-dark" (click)="sendEmail()">Send email</button>
                </div>
                <div *ngIf="success; then successBlock else errorBlock"></div>
                <ng-template #successBlock>
                    <div class="success">
                        <p>Code is sent on email successfully. Check your email.</p>
                    </div>
                </ng-template>
                <ng-template #errorBlock>
                    <div class="error-message">
                        {{errorMessage}}
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</main>