.chart {
    background-color: white;
    border-radius: 5px;
    width: 100%;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 30vh;
    width: 100%;
}

#barplots {
    width: 100%;
}

@media(min-width:1200px) {
    .chart-container {
        min-height: 50vh !important;
        width: 100%;
    }
    #barplots {
        display: inline-flex;
        width: 100%;
    }
}