.chart {
    background-color: white;
    border-radius: 5px;
    width: 100%;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 30vh;
    width: 100%;
}

#barplots {
    width: 100%;
}

.container {
  width: 10%;
  float: left;
  margin-left: 5%;
}
.form-select {
  cursor: pointer;
}

  
  .container2 {
    display: inline-block;
    width: 15%;

  }
  .container3 {
    width: 15%;
    float: right;
    margin-right: 5%;
  }

  .btn {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2199e8;
    color: white;
    font-weight: normal;
    text-align: center;
  }
  
  .btn:hover {
    background-color: #0d8beb;
  }

@media(min-width:1200px) {
    .chart-container {
        min-height: 50vh !important;
        width: 100%;
    }
    #barplots {
        display: inline-flex;
        width: 100%;
    }
}