<div class="head">
    <form (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
        <div class="form-group">
            <label for="oldPassword">Old password:</label>
            <input type="password" class="form-control" id="oldPassword" name="oldPassword" required [(ngModel)]="oldPassword">
        </div>
        <div class="form-group">
            <label for="newPassword">New password:</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" required [(ngModel)]="newPassword">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm the new password:</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required [(ngModel)]="confirmPassword">
        </div>
        <button type="submit" class="btn btn-primary">Change password</button>
    </form>
</div>