<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>

    <div class="card-body">
      <form novalidate (ngSubmit)="saveDriver()" [formGroup]="driverForm">

        <div class="form-group row mb-2">
          <label class="col-md-3 col-form-label" for="nameId">Driver Name</label>
          <div class="col-md-7">
            <input class="form-control" id="nameId" type="text" placeholder="Name (required)" formControlName="name" />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-3 col-form-label" for="nationalityId">Nationality</label>
          <div class="col-md-7">
            <input class="form-control" id="nationalityId" type="text" placeholder="Nationality" formControlName="nationality" />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-3 col-form-label" for="championshipsId">Championships</label>
          <div class="col-md-7">
            <input class="form-control" id="championshipsId" type="number" placeholder="Championships" formControlName="championships" />
          </div>
        </div>
        
        <div class="form-group row mb-2">
          <label class="col-md-3 col-form-label" for="numberId">Number</label>
          <div class="col-md-7">
            <input class="form-control" id="numberId" type="number" placeholder="Number" formControlName="number" />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-3 col-form-label" for="yearOfBirthId">Year of Birth</label>
          <div class="col-md-7">
            <input class="form-control" id="yearOfBirthId" type="number" placeholder="Year of Birth" formControlName="yearOfBirth" />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-3 col-form-label" for="teamId">Team</label>
          <div class="col-md-7">
            <input class="form-control" id="teamId" type="text" placeholder="Team" formControlName="team" />
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-6">
            <button class="btn btn-primary" style="width:80px;margin-right:10px;" type="submit"
              [title]="driverForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
              [disabled]="!driverForm.valid">
              Save
            </button>
            <button class="btn btn-outline-secondary" style="width:80px;margin-right:10px;" type="button" title="Cancel your edits" [routerLink]="['/drivers']">
              Cancel
            </button>
            <button class="btn btn-outline-warning" *ngIf="pageTitle != 'Add Driver'"
              style="width:80px;margin-right:10px" type="button" title="Delete this product" (click)="deleteDriver()">
              Delete
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
  </div>