<app-prosumer-navbar>
</app-prosumer-navbar>
<div class="main">
    <div class="centar">
        <div class="card">
            <div class="back">
                <a *ngIf="this.role==this.prosumer" [routerLink]='["/profile"]'><img id="turnback" src="assets/img/back.png" alt=""></a>
                <a *ngIf="this.role==this.dso" [routerLink]='["/profile-dso"]'><img id="turnback" src="assets/img/back.png" alt=""></a>
            </div>
            <div>
                <img id="imgdevice" src="assets/img/account.png" alt="">
            </div>
            <h1>{{name}}</h1>
            <form #form="ngForm" (ngSubmit)="updatePasswordProsumer()" [formGroup]="myForm">
                <div class="changepass">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Old Password</label>
                        <input type="password" formControlName="nameform1" class="form-control" name="oldPassword" placeholder="Old password" [(ngModel)]="oldPassword">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">New Password</label>
                        <input type="password" formControlName="nameform2" class="form-control" name="newPassword" placeholder="New password" [(ngModel)]="newPassword">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" formControlName="nameform3" class="form-control" name="confirmPassword" placeholder="Confirm password" [(ngModel)]="confirmPassword">
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button>
                    <button type="submit" class="btn btn-primary" id="giveupbutton" [routerLink]="['/profile']">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <app-footer *ngIf="this.role==this.prosumer"></app-footer>
    <app-prosumer-footer *ngIf="this.role==this.prosumer"></app-prosumer-footer>
</div>