<app-prosumer-navbar>
</app-prosumer-navbar>
<div class="main">
    <p-toast></p-toast>
    <div class="centar">
        <div class="card">
            <div class="back">
                <a *ngIf="this.role==this.prosumer" [routerLink]='["/profile"]'><img id="turnback" src="assets/img/back.png" alt=""></a>
                <a *ngIf="this.role==this.dso" [routerLink]='["/profile-dso"]'><img id="turnback" src="assets/img/back.png" alt=""></a>
            </div>
            <div>
                <img id="imgdevice" src="assets/img/account.png" alt="">
            </div>
            <h1>{{name}}</h1>
            <form #form="ngForm" (ngSubmit)="updatePasswordProsumer()" (ngModelChange)="onFormChange()" [formGroup]="myForm">
                <div class="changepass">
                    <div class="form-group">
                        <label for="old">Old Password</label>
                        <input type="password" formControlName="old" [ngClass]="{'is-invalid':isFormDirty && myForm.controls.old.errors}" class="form-control" id="oldPassword" placeholder="Old password" [(ngModel)]="oldPassword" (ngModelChange)="onFormChange()">
                    </div>
                    <div class="form-group">
                        <label for="new">New Password</label>
                        <input type="password" formControlName="new" [ngClass]="{'is-invalid':isFormDirty && myForm.controls.new.errors}" class="form-control" id="newPassword" placeholder="New password" [(ngModel)]="newPassword" (ngModelChange)="onFormChange()">
                    </div>
                    <div class="form-group">
                        <label for="confirm">Confirm Password</label>
                        <input type="password" formControlName="confirm" [ngClass]="{'is-invalid':isFormDirty && myForm.controls.confirm.errors}" class="form-control" id="confirmPassword" placeholder="Confirm password" [(ngModel)]="confirmPassword" (ngModelChange)="onFormChange()">
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid || !isFormDirty">Save</button>
                    <button type="submit" class="btn btn-primary" id="giveupbutton" [routerLink]="['/profile']">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <app-footer *ngIf="this.role==this.prosumer"></app-footer>
    <app-prosumer-footer *ngIf="this.role==this.prosumer"></app-prosumer-footer>
</div>

<ng-template #modalContent let-modal >
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <h5 class="modal-title" style="text-align: center; margin-bottom: 20px;">{{body}}</h5>
      <div id="subb">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')"id="popup" *ngIf="confirm===true">{{btnAction}}</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-danger"  (click)="modal.dismiss('cancel')">Close</button>
      </div>
    </div>
  </ng-template>