<google-map height="800px"
            width="1200px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapClick)="addMarker($event)"
            (mapMousemove)="move($event)">
        <map-marker #marker="mapMarker"
            *ngFor="let markerPosition of markerPositions"
            [position]="markerPosition"
            [options]="markerOptions"
            (mapClick)="openInfoWindow(marker)">
        </map-marker>
        <map-info-window>{{message}}</map-info-window>
</google-map>

<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>