/* 
#1C315E -tamno plava
#3E5483 -svetlo plava
#9FA3AA - siva
#FFFFFF -bela
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.main {
    background-color: rgb(224 249 254);
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(238, 238, 238);
    color: #727272;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    overflow: auto !important;

}
button{
	cursor: pointer;
}
.modal-open{
    padding-right: 0px!important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
