/* 
#1C315E -tamno plava
#3E5483 -svetlo plava
#9FA3AA - siva
#FFFFFF -bela
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1C315E;
    color: #000000;
}

.wrapper1 {
    border: 1px solid black;
    position: absolute;
    top: 76px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/*
.card{
    background-color: gray;
    margin-right:2px;

   
} */