.homewrepper {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.first {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

#buttonAdd {
    width: 100px;
    height: 50px;
}

#buttonAdd:hover {
    background-color: #1C315E;
    color: white;
}

table,
td,
th {
    border: 1px solid black;
    text-align: left;
}


/* tr:nth-child(even) {
    background-color: #f2f2f2;
} */

tr:hover {
    background-color: #1C315E;
    color: white;
}

th {
    text-align: left;
    background-color: #1C315E;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
    color: white;
    text-align: center;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #1C315E;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1C315E;
}

li {
    float: left;
}

li a {
    display: block;
    color: #1C315E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}