<p-toast></p-toast>
<main class="background-image" [style.backgroundImage]="'url(' + backgroundImage + ')'">
    <div class="containers">

        <div class="login-form-wrapper">
            <div class="logo">
                <img src="assets/white-logo-1.png">
            </div>
            <div class="login-form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" [(ngModel)]="username" id="username" (keydown)="toPassword($event)" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <!--<input type="password" name="password" class="form-control" [(ngModel)]="password" id="password" (keydown)="toLogin($event)" />-->
					<p-password [feedback]="false" [toggleMask]="true" name="password" [(ngModel)]="password" id="password" (keydown)="toLogin($event)" [ngStyle]="{'width':'100%','borderRadius':'0'}"></p-password>
                </div>
                <div class="form-group">
                    <label for="remember">
                    <input class="checkbox" type="checkbox" name="forgotpass" id="remember"> Remember me</label>
                </div>

                <div class="btn-container">
                    <button class="btn btn-dark" (click)="login()" [disabled]="username=='' || password==''">Login</button>
                    <a class="linka" [routerLink]='["/forgot-password"]'>Forgot password?</a>
                </div>
                <div class="error-message" *ngIf="show">
                    <i class="fas fa-exclamation-triangle" style="margin-right: 5px;"></i> {{errorMsg}}
                </div>
            </div>
        </div>
    </div>
</main>