/* .login-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
} */

.containters {
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #0F759B;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.login-form {
    justify-content: center;
    text-align: left;
    max-width: 100%;
    height: auto;
}

.login-form-wrapper {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-size: 20px;
    line-height: 35px;
    color: #D9D9D9;
    max-width: 100%;
    height: auto;
    background: rgba(15, 15, 15, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
}

.login-form {
    border: 1px solid #0F759B;
    border-radius: 80px;
    height: 500px;
}

.logo {
    background: #0F759B;
}

.container1 {
    background: #0F759B;
    float: left;
    transition: all 0.3s;
    width: 500px;
    max-height: 800px;
    text-align: center;
}

.container2 {
    background: #0F759B;
    margin-left: 0px;
    width: 800px;
    max-height: 800px;
    text-align: center;
}

.image {
    height: auto;
    max-width: 100%;
}

.form-group {
    margin: 30px;
    justify-content: center;
    width: auto;
    transition: all 0.3s;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.08em;
    color: #D9D9D9;
}

.btn-container>.btn {
    width: 200px;
    height: 60px;
    margin-top: 20px;
    background: linear-gradient(0deg, #2EA0E6, #2EA0E6), linear-gradient(270deg, #FFFFFF 0%, rgba(239, 239, 239, 0.5) 34.37%, #F5F4FB 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.08em;
    color: #D9D9D9;
}

.btn-container>.link {
    color: #D9D9D9;
}

.btn-container>.linka {
    color: #D9D9D9;
}

.checkbox {
    display: inline-flex;
    margin-left: 50px;
}

.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and(max-width:1280px) {
    .containters {
        max-width: 100px;
        max-height: 100px;
    }
    .login-form-wrapper {
        max-width: 600px;
        max-height: 500px;
    }
    .checkbox {
        margin-left: 15px;
    }
    .form-group {
        justify-content: center;
        width: 500px;
    }
    .linka {
        margin-top: -50px;
    }
    .container2 {
        display: none;
    }
}

@media screen and(min-width:700px) {
    .containters {
        min-width: 100px;
        min-height: 100px;
    }
    .login-form-wrapper {
        max-width: 300px;
        max-height: 450px;
    }
    .checkbox {
        margin-left: 15px;
    }
    .form-group {
        margin-left: 15px;
        justify-content: center;
        width: 200px;
    }
    .linka {
        margin-top: -50px;
    }
    .container2 {
        display: none;
    }
    .btn-container>button {
        max-width: 200px;
        max-height: 50px;
    }
}

@media screen and (min-width:320px) and (max-width:700px) {
    .login-form-wrapper {
        transition: all 0.6s;
    }
    .checkbox {
        margin-left: 35px;
        transition: all 0.3s;
    }
    .form-group {
        margin: 30px;
        justify-content: center;
        width: auto;
        transition: all 0.3s;
    }
    label {
        font-size: 15px;
    }
    .linka {
        margin-top: -50px;
        font-size: 15px;
    }
    .checkbox {
        size: 10px;
    }
    .linka {
        margin-top: 2px;
    }
    .logo>img {
        min-width: 150px;
        transition: all 0.6s;
    }
    .link {
        font-size: 15px;
    }
    button {
        font-size: 15px;
    }
    .container2 {
        display: none;
    }
    .btn-container>button {
        max-width: 170px;
        max-height: 50px;
    }
}