<div class="container">
    <div class="child">
        <span><p>Producing</p>135 kWh </span>
        <img src="assets/img/transmission-tower.png" class="img" style="max-width: 300px;"> 
    </div>
    <div class="child">
        <span><p>Consuming</p>135 kWh </span>
        <img src="assets/img/electrical.png" class="img" style="max-width: 300px;">
    </div>
    <div class="child">
        <span><p>Producing</p>135 kWh </span>
        <img src="assets/img/panel.png" class="img" style="max-width: 300px;">
    </div>
  </div>