.table-responsive {
    margin-left: 50px;
    margin-right: 50px;
}
table {
    box-sizing: border-box;
}
table,
td,
th {
    border-bottom: 1px solid gray;   
    text-align: left;
    box-sizing: border-box;
}
th {
    text-align: left;
    background-color: #2199e8;
    color: white;
}
table {
    border-collapse: collapse;
}
th,
td {
    padding: 15px;
    text-align: left;
}
#names{
    font-weight: bold;
    text-decoration: none; 
    color: #2199e8;
}
#names:hover{
    font-weight: bold;
    text-decoration: none; 
    color: #354871;
    transition: border-color 0.5s ease-in-out;
}
#show-prosumer{
    cursor: pointer;
}
#show-prosumer:hover{
    border: 1px solid grey;
    box-shadow: 5px 1px 1px gray;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .table-responsive {
        margin-left: 10px;
        margin-right: 10px;
    }
    td {
        color: #1C315E;
    }
    th,
    td {
        white-space: nowrap;
    }
}