<div *ngIf="loader" style="display: inline; justify-content: center;align-items: center;"><app-loader></app-loader></div>
<div class="table-responsive">
    <div class="filters">
        <div class="first-row">
            <div class="form-group">
                <select class="form-select">
                    <option>Male Pcelice</option>
                    <option>Bubanj</option>
                </select>
            </div>
            
            <div class="value-comparation">
                <div class="form-group">
                    <select class="form-select">
                        <option>Consumption</option>
                        <option>Production</option>
                    </select>
                </div>
        
                <div class="form-group">
                    <select class="form-select">
                        <option>Greater</option>
                        <option>Less</option>
                    </select>
                </div>
        
                <div class="label-than">than</div>
                 
        
                <div class="form-group">
                    <input class="custom-input" type="number" min="0" placeholder="Enter value">
                </div>

                <div class="clear-label">
                    <a href="#">Clear</a>
                </div>
            </div>
            
    
            <div class="form-group">
                <input class="custom-input" id="search" type="text" placeholder="Search prosumers by name, username or address">
            </div>
        </div>
    </div>
    <table *ngIf="data?.length!=0 && !loader" class="table" >
        <thead>
            <tr>
                <th>#</th>
                <th scope="col">Name</th>
                <th scope="col">Settlement</th>
                <th scope="col">City</th>
                <th scope="col">Country</th>
                <th scope="col">Current consumption</th>
                <th scope="col">Current production</th>
            </tr>
        </thead>
        <tbody>
            <tr [routerLink]='["/prosumer/"+prosumer.userDetailsDTO.id]' id="show-prosumer" *ngFor="let prosumer of data | paginate: {currentPage,itemsPerPage,totalItems}let i = index ">
                <td>{{ (currentPage - 1) * itemsPerPage + i +1 }}</td>
                <td><a id="names" class="hovered-link"[routerLink]='["/prosumer/"+prosumer.userDetailsDTO.id]'>{{prosumer.userDetailsDTO.name}}</a></td>
                <td>{{prosumer.userDetailsDTO.settlement}}</td>
                <td>{{prosumer.userDetailsDTO.city}}</td>
                <td>{{prosumer.userDetailsDTO.country}}</td>
                <td>{{prosumer.currentConsumption}} kWh</td>
                <td>{{prosumer.currentProduction}} kWh</td>
            </tr>
        </tbody>
    </table>
    <app-page-control (pageChange)="pageChanged($event)" *ngIf="itemsPerPage<totalItems" [class.hidden]="loader"></app-page-control>
</div>