
<!--<div class="row" style="margin-bottom:15px; margin-left: 20px; margin-top: 10px;">
  <div class="col-md-2">
    <input id="search-input" type="text" placeholder="Search by name" [(ngModel)]="listFilter">
  </div>
  
  <div class="col-md-2">
    <select id="filter-select">
      <option value="aerodrom">Aerodrom</option>
      <option value="bresnica">Bresnica</option>
      <option value="erdoglija">Erdoglija</option>
      <option value="bagremar">Bagremar</option>
      <option value="belosevac">Belosevac</option>
      <option value="pivara">Pivara</option>
    </select>
  </div>
  
  <div class="col-md-2">
  <div class="col-md-2">
      Sort by:
      <select style="padding: 10px; text-align: center;">
          <option value="option1">City</option>
          <option value="option2">Communities</option>
          <option value="option3">Adress</option>
        </select>
  </div> 
</div> -->

<div class="table-responsive">
<table *ngIf="prosumers" class="table">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">username</th>
      <!-- <th>email</th> -->
      <th scope="col">settlement</th>
      <th scope="col">city</th>
      <th scope="col">country</th>
      <th scope="col">peak consumption</th>
      <th scope="col">month consumption</th>
      <th scope="col">year consumption</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prosumer of mapirano | paginate: {currentPage,itemsPerPage,totalItems}">
      <td><a [routerLink]='["/prosumer/",prosumer.id]'>{{prosumer.name}}</a></td>
      <td>{{prosumer.username}}</td>
      <!-- <td>{{prosumer.email}}</td> -->
      <td>{{prosumer.settlement}}</td>
      <td>{{prosumer.city}}</td>
      <td>{{prosumer.country}}</td>
      <td>8.5 kWh</td>
      <td>30 kWh</td>
      <td>100 kWh</td>
    </tr>
  </tbody>
</table>
</div>
