<div class="table-responsive">
  <table *ngIf="data?.length!=0" class="table">
    <thead>
      <tr>
        <th>#</th>
        <th scope="col">Name</th>
        <!-- <th>email</th> -->
        <th scope="col">Settlement</th>
        <th scope="col">City</th>
        <th scope="col">Country</th>
        <th scope="col">Current consumption</th>
        <th scope="col">Current production</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prosumer of data | paginate: {currentPage,itemsPerPage,totalItems}let i = index ">
        
        
        <ng-container *ngFor="let pr of prosumerValues | paginate: {currentPage,itemsPerPage,totalItems} " >
          <ng-container *ngIf="prosumer.id === pr.id ">
            <td>{{ (currentPage - 1) * itemsPerPage + i +1  }}</td>
            <td><a [routerLink]='["/prosumer/"+prosumer.id]'>{{prosumer.name}}</a></td>
            <td>{{prosumer.settlement}}</td>
            <td>{{prosumer.city}}</td>
            <td>{{prosumer.country}}</td>
            <td>{{pr.consumption}} kWh</td>
            <td>{{pr.production}} kWh</td>
          </ng-container>
          
        </ng-container>
        
      </tr>
    </tbody>
  </table>
  <app-page-control (pageChange)="pageChanged($event)" *ngIf="itemsPerPage<totalItems"></app-page-control>
  </div>
  
