<div id="weather_wrapper" *ngIf="weatherNow">
	<div class="weatherCard">
		<div class="currentTemp" *ngIf="cels">
			<span class="temp">{{ weatherNow.main.temp | number: '1.0-0' }} °C</span>
			<span class="location">{{ location.name }}</span>
		</div>
        <div class="currentTemp" *ngIf="fer">
			<span class="temp">{{ weatherNow.main.temp | number: '1.0-0' }} °F</span>
			<span class="location">{{ location.name }}</span>
		</div>
		<div class="currentWeather" >
            <label class="toggle">
                <input type="checkbox" (click)="showF()">
                <span class="slider"></span>
                <span class="labels" data-on="°F" data-off="°C"></span>
              </label>
			<span class="conditions"><img src="assets/img/{{weatherNow.weather[0].icon}}.png" alt="">
            </span>
			<div class="info" *ngIf="cels">
                Feels like {{ weatherNow.main.feels_like | number: '1.0-0' }} °C . {{ weatherNow.weather[0].main }}.
			</div>
            <div class="info" *ngIf="fer">
				Feels like {{ weatherNow.main.feels_like | number: '1.0-0' }} °F . {{ weatherNow.weather[0].main }}.
			</div>
		</div>
	</div>
</div>
