<div class="container">
  <h1>Beleske</h1>
  <div class="note-container">
    <div class="note-form">
      <div class="form-group">
        <label for="">Naslov</label>
        <input type="text" name="title">
      </div>
      <div class="form-group">
        <label for="">Opis</label>
        <textarea name="description" >
        </textarea>
      </div>
      <button>Save</button>
    </div>
    <div class="note-grid">
      <div class="note-row">
        <div class="note-row-details">
          <p>Naslov</p>
        </div>
        <div class="note-row-action">
          <a><i class="fa-solid fa-trash-can"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>