<p>edit-zaposleni works!</p>
<div class="container my-5">
    <h1 class="mb-3">Izmeni informacije zaposlenog</h1>

    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="updateZaposlenog()">
                <div class="mb-3">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control" id="id" name="id" readonly [(ngModel)] = "zaposlenDetails.id">
                </div>
                <div class="mb-3">
                    <label for="ime" class="form-label">Ime</label>
                    <input type="text" class="form-control" id="ime" name="ime" [(ngModel)] = "zaposlenDetails.ime">
                  </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email"  name="email" [(ngModel)] = "zaposlenDetails.email">
                </div>
                <div class="mb-3">
                  <label for="telefon" class="form-label">Telefon</label>
                  <input type="text" class="form-control" id="telefon"  name="telefon" [(ngModel)] = "zaposlenDetails.telefon">
                </div>
                <div class="mb-3">
                    <label for="plata" class="form-label">Plata</label>
                    <input type="number" class="form-control" id="plata"  name="plata" [(ngModel)] = "zaposlenDetails.plata">
                </div>
                <div class="mb-3">
                    <label for="odeljenje" class="form-label">Odeljenje</label>
                    <input type="text" class="form-control" id="odeljenje"  name="odeljenje" [(ngModel)] = "zaposlenDetails.odeljenje">
                </div>
                <button type="submit" class="btn btn-primary mr-5">Izmeni</button>&nbsp;
                <button type="button" class="btn btn-danger" (click)="deleteZaposlenog(zaposlenDetails.id)">Obrisi</button>
              </form>
        </div>
    </div>
</div>