
.chart{
    width: 380px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#piechart{
    width: 550px;
    height: 360px;
}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
    .chart{
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #piechart{
        width: 300px;
        height: 360px;
    }

}