<div *ngIf="film">
    <h2>{{film.name}}</h2>
    <div>
        Name:
        <input [(ngModel)]="film.name" placeholder="Name"/>
    </div>
    <div>
        Description:
        <input [(ngModel)]="film.description" placeholder="Description"/>
    </div>
    <div>
        Actor:
        <input [(ngModel)]="film.actor" placeholder="Actor"/>
    </div>
    <div>
        Genre:
        <input [(ngModel)]="film.genre" placeholder="Genre"/>
    </div>
    <div>
        IconUrl:
        <input [(ngModel)]="film.iconUrl" placeholder="IconUrl"/>
    </div>
    <button (click)="updateFilm(film)" *ngIf="film.id">Save</button>
    <button (click)="deleteFilm(film)" *ngIf="film.id">Delete</button>
    <button (click)="createFilm(film)" *ngIf="!film.id">Add</button>
</div>