/* main {
    width: 100%;
    min-height: 100vh;
    background: #0F759B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image { */


/* filter: blur(2px); */


/* background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#turnback {
    width: 5%;
}

.go-back {
    color: white;
    width: 60%;
    position: absolute;
    top: 5%;
    left: 0px;
}

.go-back:hover {
    text-decoration: underline;
}

.forgot-password-form-wrapper {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.08em;
    color: #D9D9D9;
    width: 500px;
    height: 500px;
    float: left;
    background: #055b7a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.forgot-password-form {
    width: 80%;
    max-height: 500px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.form-group {
    width: 100%;
    height: auto;
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-control.invalid {
    box-shadow: 0 0 2px 2px red;
}

p.error-message {
    height: 35px;
    color: red;
}

.success {
    color: green;
}

.success>p {
    text-align: center;
}

div.error-message {
    color: red;
    min-height: 40px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.08em;
    color: #D9D9D9;
}

.btn-container>.btn {
    width: 200px;
    height: 60px;
    margin-top: 20px;
    background: linear-gradient(0deg, #2EA0E6, #2EA0E6), linear-gradient(270deg, #FFFFFF 0%, rgba(239, 239, 239, 0.5) 34.37%, #F5F4FB 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.08em;
    color: #D9D9D9;
}

.btn-container>.link {
    color: #D9D9D9;
}

.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
} */

main {
    width: 100%;
    min-height: 100vh;
    background: #0F759B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#turnback {
    width: 8%;
}

.go-back {
    color: white;
    font-size: 23px;
    margin-left: -24px;
}

a {
    text-decoration: none;
}

.go-back:hover {
    text-decoration: underline;
}

.forgot-password-form-wrapper {
    font-family: 'Roboto Serif';
    font-style: normal;
    height: 440px;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #D9D9D9;
    width: 79%;
    margin-left: 37px;
    float: left;
    background: #002e64;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

input {
    font-size: 1.2rem;
}

.forgot-password-form {
    width: 80%;
    display: flex;
    height: auto;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    width: 100%;
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-control.invalid {
    box-shadow: 0 0 2px 2px red;
}

p.error-message {
    height: 35px;
    color: red;
}

.success {
    color: green;
}

.success>p {
    text-align: center;
}

div.error-message {
    color: red;
}

h1 {
    text-align: center;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D9D9D9;
}

.btn-container>.btn {
    width: 215px;
    background: linear-gradient(0deg, #2EA0E6, #002863), linear-gradient(270deg, #FFFFFF 0%, rgba(239, 239, 239, 0.5) 34.37%, #F5F4FB 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #D9D9D9;
}

.btn-container>.link {
    color: #D9D9D9;
}

.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-wrapper {
    position: relative;
}

label {
    font-size: 19px;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-family: 'Font Awesome 5 Free';
    content: '\f070';
}

.error-message {
    display: none;
}

@media (min-width:768px) {
    .containters {
        right: 10%;
        position: absolute;
    }
    .forgot-password-form-wrapper {
        width: 500px;
        height: 484px;
    }
    input {
        font-size: 1.5rem;
    }
    label {
        font-size: 30px;
    }
    .btn-container>.btn {
        width: 268px;
        font-size: 27px;
        height: 60px;
    }
    .go-back {
        font-size: 30px;
        margin-top: 10px;
        margin-left: -43px;
    }
    p.error-message {
        height: 45px;
        color: red;
    }
    .error-message {
        display: none;
    }
}