<main class="background-image" [style.backgroundImage]="'url(' + backgroundImage + ')'">
    <div class="containters">
        <div class="forgot-password-form-wrapper">
            <div class="forgot-password-form">
                <a [routerLink]="['/']" class="go-back"><img id="turnback" src="assets/img/back.png" alt="">Go back</a>
                <h1>Reset password</h1>
                <div class="form-group">
                    <label>Enter your new password</label>
                    <input type="password" name="new_password" #emailElement class="form-control" placeholder="Enter your password" [(ngModel)]="newPassword" (blur)="validatePassword()" />
                    <p class="error-message">{{errorNewPassword}}</p>
                </div>
                <div class="form-group">
                    <label>Confirm new password</label>
                    <input type="password" name="confirm_password" #emailElement class="form-control" placeholder="Confirm password" [(ngModel)]="confirmedPassword" (blur)="validateConfirmedPassword()" />
                    <p class="error-message">{{errorConfirmedPassword}}</p>
                </div>
                <div class="btn-container">
                    <button class="btn btn-dark" (click)="resetPassword()">Reset password</button><br><br>
                </div>

                <div *ngIf="success; then successBlock else errorBlock"></div>
                <ng-template #successBlock>
                    <div class="success">
                        <p>Password changed successfully</p>
                    </div>
                </ng-template>
                <ng-template #errorBlock>
                    <div class="error-message">
                        {{errorMessage}}
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</main>