.container{
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
}
#imgdevice {
    width: 20%;
    display: block;
    margin: 0 auto;
  }
h1 {
    text-align: center;
    margin-top: 15px;
    font-size: 50px;
    color: #727272;
}

.info {
    display: flex;
    justify-content: center;
    font-size: 26px;
    margin-top: 30px;
    color: #727272;
    text-align: left;
  }
  
ul{
    display: inline-block;
    color: #727272;
    margin: 0 60px;
    padding: 0;
    list-style: none;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-group label {
  text-align: right;
  margin-right: 10px;
  width: 200px;
}
.offset-sm-4{
  margin-left: 0%;
  margin-right: 29%;
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {

  .container{
    margin-top: 80px;
    margin-bottom: 80px; 
  }
  #imgdevice {
      width: 20%;
    }
  h1 {
      font-size: 50px;
  }

  .info {
      font-size: 20px;
      margin-top: 30px;

    }
    
  ul{
      margin: 0 7px;
     

  }

  .form-group label {
    text-align: right;
    margin-right: 10px;
    width: 200px;
  }
  .offset-sm-4{
    margin-left: 0%;
    margin-right: 16%;
  }

}