<p-toast></p-toast>
<div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="card mt-5">
          <div class="card-header" style="text-align: center;">
            <h3>Profile Settings</h3>
          </div>
          <div class="card-body">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingAll">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAll" aria-expanded="true" aria-controls="collapseAll">
                    Profile Details
                  </button>
                </h2>
                <div id="collapseAll" class="accordion-collapse collapse show" aria-labelledby="headingAll" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <img id="imgdevice" src="assets/img/account.png" alt="">
                        <h1>{{updateUserDetail.name}}</h1>
                        <div class="info">
                            <ul>
                                <li>Username: {{updateUserDetail.username}}</li>
                                <li>Email: {{updateUserDetail.email}}</li>
                                <li>Role: {{updateUserDetail.role}} </li>
                            </ul>
                            <ul>
                                <li>Adress: {{updateUserDetail.address}}</li>
                                <li>Settlement: {{updateUserDetail.settlement}}</li>
                                <li>City: {{updateUserDetail.city}}</li>
                            </ul>
                        </div>
                      </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingEdit">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEdit" aria-expanded="false" aria-controls="collapseEdit">
                    Edit Profile
                  </button>
                </h2>
                <div id="collapseEdit" class="accordion-collapse collapse" aria-labelledby="headingEdit" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <form (ngSubmit)="upDateUser()"(ngModelChange)="onFormChange1()" [formGroup]="userForm"  >
                        <div class="form-group row mb-3">
                          <label for="name" class="col-sm-4 col-form-label">Name</label>
                          <div class="col-sm-7">
                            <input type="text" class="form-control"  formControlName="name" [(ngModel)]="logedDetail.name"[ngClass]="{'is-invalid':isFormDirty1 && userForm.controls.name.errors}" (ngModelChange)="onFormChange1()">
                          </div>
                        </div>
                        <div class="form-group row mb-3">
                          <label for="username" class="col-sm-4 col-form-label">Username</label>
                          <div class="col-sm-7">
                            <input type="text" class="form-control"  formControlName="username"[(ngModel)]="logedDetail.username"[ngClass]="{'is-invalid':isFormDirty1 && userForm.controls.username.errors}"(ngModelChange)="onFormChange1()" >
                          </div>
                        </div>
                        <div class="form-group row mb-3">
                          <label for="email" class="col-sm-4 col-form-label">E-mail</label>
                          <div class="col-sm-7">
                            <input type="email" class="form-control"  formControlName="email"[(ngModel)]="logedDetail.email"[ngClass]="{'is-invalid':isFormDirty1 && userForm.controls.email.errors}" (ngModelChange)="onFormChange1()">
                          </div>
                        </div>
                        <div class="form-group row mb-3">
                          <div class="col-sm-8 offset-sm-4">
                            <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid || !isFormDirty1">Save Changes</button>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
              </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingPassword">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePassword" aria-expanded="false" aria-controls="collapsePassword">
                        Change Password
                    </button>
                    </h2>
                    <div id="collapsePassword" class="accordion-collapse collapse" aria-labelledby="headingPassword" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form  (ngSubmit)="updatePasswordProsumer()"  (ngModelChange)="onFormChange()" [formGroup]="passForm" >
                        <div class="form-group row mb-3">
                            <label for="old" class="col-sm-4 col-form-label">Current Password</label>
                            <div class="col-sm-7">
                            <input type="password" class="form-control" id="oldPassword"   formControlName="old" [ngClass]="{'is-invalid':isFormDirty && passForm.controls.old.errors}" placeholder="Enter your current password" [(ngModel)]="oldPassword "(ngModelChange)="onFormChange()">
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="new" class="col-sm-4 col-form-label">New Password</label>
                            <div class="col-sm-7">
                            <input type="password" class="form-control" id="newPassword" formControlName="new" [ngClass]="{'is-invalid':isFormDirty && passForm.controls.new.errors}" placeholder="Enter your new password" [(ngModel)]="newPassword"(ngModelChange)="onFormChange()">
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="confirm" class="col-sm-4 col-form-label">Confirm New Password</label>
                            <div class="col-sm-7">
                            <input type="password" class="form-control"  id="confirmPassword" formControlName="confirm" [ngClass]="{'is-invalid':isFormDirty && passForm.controls.confirm.errors}" placeholder="Confirm your new password" [(ngModel)]="confirmPassword"(ngModelChange)="onFormChange()">
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <div class="col-sm-8 offset-sm-4">
                            <button type="submit" class="btn btn-primary" [disabled]=" passForm.invalid || !isFormDirty">Save Changes</button>
                            </div>
                        </div>
                        </form>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
<ng-template #modalContent let-modal >
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <h5 class="modal-title" style="text-align: center; margin-bottom: 20px;">{{body}}</h5>
    <div id="subb">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')"id="popup" *ngIf="confirm===true">{{btnAction}}</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-outline-danger"  (click)="modal.dismiss('cancel')">Close</button>
    </div>
  </div>
</ng-template>