.global {
    top: 10%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}
#turnback {
    margin-top: 5px;
    width: 7%;
    margin-left: 5px;
}
input {
    color: #1C315E;
}

.global1 {
    box-shadow: 2px 4px gray;
    background-color: white;
    padding: 20px;
    width: 100%;
    margin-bottom: 30px;
}

h1 {
    color: #1C315E;
    display: flex;
    justify-content: center;
    font-style: italic;
}

label {
    color: #1C315E;
    font-style: italic;
    font-size: 25px;
}

form {
    margin-top: 50px;
}

.form-row {
    display: flex;
    justify-content: center;
}

button {
    justify-content: center;
    margin-left: 25%;
    width: 160px;
    background-color: #1C315E;
}
input.ng-invalid.ng-touched {

    border: 1px solid red;    
}
input.ng-valid {
    border: 1px solid green;
    
}
input.ng-touched {
    border: 1px solid blue;
}
@media(min-width: 768px)
{
    .global{
        top: 20%;
        position: absolute;
    }
    .global1{
        width: 50%;
    }
    #turnback {
        width: 3%;
        margin-top: 100px;
        margin-left: 2%;
    }

}