<div class="constainer my-5">
    <h1 class="mb-3">Add new Employee</h1>
    <div class="row-2">
        <div class="col-4">
            <form #form="ngForm" (ngSubmit)="addEmployee()">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addEmployeeRequest.name">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="addEmployeeRequest.email">
                </div>

                <div class=" mb-3 ">
                    <label for="phone " class="form-label ">Phone</label>
                    <input type="text " class="form-control " id="phone " name="phone " [(ngModel)]="addEmployeeRequest.phone">
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" id="country" name="country" [(ngModel)]="addEmployeeRequest.country">
                </div>

                <button type=" submit " class="btn btn-primary ">Save</button>

            </form>
        </div>
    </div>



</div>