<p>zaposleni-lista works!</p>

<div class="container my-5">
    <h1 class="mb-3">Zaposleni</h1>

    <table class="table" *ngIf="zaposleni && zaposleni.length > 0">
        <thead>
            <tr>
                <th>ID</th>
                <th>IME</th>
                <th>EMAIL</th>
                <th>TELEFON</th>
                <th>PLATA</th>
                <th>ODELJENJE</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let zaposlen of zaposleni"> <!-- zaposleni je lista iz zaposleni-lista.components.ts -->
                <td>{{ zaposlen.id }}</td>
                <td>{{ zaposlen.ime }}</td>
                <td>{{ zaposlen.email }}</td>
                <td>{{ zaposlen.telefon }}</td>
                <td>{{ zaposlen.plata }}</td>
                <td>{{ zaposlen.odeljenje }}</td>
                <td><a [routerLink]="['/zaposleni', 'edit', zaposlen.id]">View</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!zaposleni || zaposleni.length <= 0">Nisu pronadjeni Zaposleni</p>
</div>