#sidebar{
    display: none;
}
#dashboard {
    
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    min-height: 98vh;
}
app-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
  }
.wrapper1 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: stretch;
    width: 100%;
    /* min-height: 100vh; */
    transition: all 0.3s;
}
/* #sidebar {
    background-color: white;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    top: 75px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    width: 280px;
    z-index: 1;
    min-width: 40px;
    max-width: 80px;
    display: block;
} */
#sidebar.active {
    min-width: 180px;
    max-width: 100px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
    margin-right: 30px!important;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px ;
    font-size: 0.85em;
}
#sidebar .sidebar-header {
    padding: 30px;
    background: #6d7fcc;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}



.nav {
    position: relative;
}

.nav-link {
    color: #1C315E;
}
ul ul a {
    font-size: 0.9em !important;
    /* padding-left: 30px !important; */
    background: #6d7fcc;
}

.active {
    background-color: white !important;
}

 ul li a:hover {
    background-color: #1C315E;
    color: white;
}
#sidebar ul.components {
    padding: 10px 0;
    
}
#sidebar ul li a {
    display: block;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 15px;
    position: relative;
    white-space: nowrap;
    
    
}
#sidebar.active ul li a {
    display: block;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 15px;
    position: relative;
    white-space: nowrap;
    
    
}
#sidebar ul li a .icon-holder{
    
    border-radius: 6px;
    display: inline-block;
    font-size: 30px;
    height: 35px;
    left: 0;
    line-height: 35px;
    margin-right: 14px;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 52px;
    
}

#sidebar ul li a .title{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    font-size: 12px;
    text-align: center!important;
}

#sidebar.active {
    list-style-type: none;
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;

}
#sidebar.active ul li a .title {
    
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    font-size: 20px;
}
#sidebar.active ul li a .icon-holder {
    border-radius: 6px;
    display: inline-block;
    font-size: 25px;
    height: 35px;
    left: 0;
    line-height: 35px;
    margin-right: 14px;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 35px;
}
#sidebar.active ul #role-li a .role-title {
    
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    font-size: 20px;
}
#sidebar.active ul #role-li a .role-icon{
    border-radius: 6px;
    display: inline-block;
    font-size: 40px;
    height: 35px;
    left: 0;
    line-height: 35px;
    margin-right: 14px;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 35px;
}
#sidebar ul #role-li a .role-title {
    
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
     display: none;
    font-size: 20px;
}
#sidebar ul #role-li a .role-icon{
    border-radius: 6px;
    display: none;
    font-size: 40px;
    height: 35px;
    left: 0;
    line-height: 35px;
    margin-right: 14px;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 35px;
}

 ul #role-li a:hover {
    background-color:  white;
    color: #1C315E;
}


#sidebar ul li a .role-line{
   
    display: none;
    
}
#sidebar.active ul li a .role-line{
   
    display: block;
    
}
.list-unstyled.components li.active a {
    background-color:  #1C315E;
    color: white; 
  }

@media (min-width: 768px){
    app-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    #dashboard {
        padding-left: 80px;
        height: auto;
        width: 100%;
        position: relative;
        min-height: 100vh;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
   
    .wrapper1 {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        position: relative;
        top: 0px;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: stretch;
        width: 100%;
        
        transition: all 0.3s;
    }
    #sidebar {
        margin-top: 70px;
        background-color: white;
        overflow: hidden;
        position: fixed;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        width: 280px;
        z-index: 1;
        min-width: 40px;
        max-width: 80px;
        display: block;
        
    }
    #sidebar.active {
        min-width: 180px;
        max-width: 100px;
        text-align: center;
    }
    
    #sidebar.active .sidebar-header h3,
    #sidebar.active .CTAs {
        display: none;
    }
    
    #sidebar.active .sidebar-header strong {
        display: block;
        margin-right: 30px!important;
    }
    
    #sidebar ul li a {
        text-align: left;
    }
    
    #sidebar.active ul li a {
        padding: 20px ;
        font-size: 0.85em;
    }
    #sidebar .sidebar-header {
        padding: 30px;
        background: #6d7fcc;
    }
    
    #sidebar .sidebar-header strong {
        display: none;
        font-size: 1.8em;
    }
    
    
    
    .nav {
        position: relative;
    }
    
    .nav-link {
        color: #1C315E;
    }
    ul ul a {
        font-size: 0.9em !important;
        /* padding-left: 30px !important; */
        background: #6d7fcc;
    }
    
    .active {
        background-color: white !important;
    }
    
     ul li a:hover {
        background-color: #1C315E;
        color: white;
    }
    #sidebar ul.components {
        padding: 10px 0;
        
    }
    #sidebar ul li a {
        display: block;
        font-size: 15px;
        font-weight: 500;
        padding: 5px 15px;
        position: relative;
        white-space: nowrap;
        
        
    }
    #sidebar.active ul li a {
        display: block;
        font-size: 15px;
        font-weight: 500;
        padding: 5px 15px;
        position: relative;
        white-space: nowrap;
        
        
    }
    #sidebar ul li a .icon-holder{
        
        border-radius: 6px;
        display: inline-block;
        font-size: 30px;
        height: 35px;
        left: 0;
        line-height: 35px;
        margin-right: 14px;
        position: relative;
        text-align: center;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        width: 52px;
        
    }
    
    #sidebar ul li a .title{
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        display: block;
        font-size: 12px;
        text-align: center!important;
    }

    #sidebar.active {
        list-style-type: none;
        overflow: hidden !important;
        overflow-anchor: none;
        -ms-overflow-style: none;
        touch-action: auto;
        -ms-touch-action: auto;

    }
    #sidebar.active ul li a .title {
        
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        display: inline-block;
        font-size: 20px;
    }
    #sidebar.active ul li a .icon-holder {
        border-radius: 6px;
        display: inline-block;
        font-size: 25px;
        height: 35px;
        left: 0;
        line-height: 35px;
        margin-right: 14px;
        position: relative;
        text-align: center;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        width: 35px;
    }
    #sidebar.active ul #role-li a .role-title {
        
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        display: inline-block;
        font-size: 20px;
    }
    #sidebar.active ul #role-li a .role-icon{
        border-radius: 6px;
        display: inline-block;
        font-size: 40px;
        height: 35px;
        left: 0;
        line-height: 35px;
        margin-right: 14px;
        position: relative;
        text-align: center;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        width: 35px;
    }
    #sidebar ul #role-li a .role-title {
        
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
         display: none;
        font-size: 20px;
        padding-left: 10px;
    }
    #sidebar ul #role-li a .role-icon{
        border-radius: 6px;
        display: none;
        font-size: 40px;
        height: 35px;
        left: 0;
        line-height: 35px;
        margin-right: 14px;
        position: relative;
        text-align: center;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        width: 35px;
    }
    
     ul #role-li a:hover {
        background-color:  white;
        color: #1C315E;
    }
    
  
    #sidebar ul li a .role-line{
       
        display: none;
        
    }
    #sidebar.active ul li a .role-line{
       
        display: block;
        
    }
    .list-unstyled.components li.active a {
        background-color:  #1C315E;
        color: white; 
      }
    
      
   
}

