<div class="wrapper1">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li *ngIf="role==dso">
                <a class="nav-link" [routerLink]='["/dsohome"]'>
                    <i class="fas fa-home"></i>DSO Home
                </a>
            </li>

            <li *ngIf="role==admin">
                <a class="nav-link" [routerLink]='["/admindso"]'><i class="fas fa-copy"></i> Admin CRUD</a>

            </li>
            <li *ngIf="role==dso">
                <a class="nav-link" [routerLink]='["/dsoprosumer"]'><i class="fa fa-user" ></i> Prosumers</a>

            </li>
            <li *ngIf="role==prosumer">
                <a class="nav-link" [routerLink]='["/prosumer-home-page"]'><i class="fa fa-user" ></i>Prosumer Home</a>

            </li>
            <li>
                <a class="nav-link" [routerLink]='["/devices"]'><i class="fa fa-user"></i>Prosumer devices</a>
            </li>
            
            <li>
                <a href="#" id="logouta" class="nav-link" (click)="logout()"><i class="fa fa-user"></i>  Logout</a>
            </li>

        </ul>
    </nav>
    <div id="dashboard">
        <router-outlet></router-outlet>
    </div>
</div>