<div class="wrapper1">
    <nav id="sidebar">
        <ul class="list-unstyled components ">
            <li *ngIf="role==dso " id="role-li">
                <a class="nav-link">
                    <span class="role-icon"><i class="fas fa-user-cog" ></i> </span>
                    <span class="role-title">DSO</span>
                    <hr class="role-line">
                </a>
            </li>
            <li *ngIf="role==admin || role==superadmin" id="role-li">
                <a class="nav-link">
                    <span class="role-icon"><i class="fas fa-user-shield" ></i> </span>
                    <span class="role-title">Admin</span>
                    <hr class="role-line">
                </a>
            </li>
            <li *ngIf="role==prosumer " id="role-li">
                <a class="nav-link">
                    <span class="role-icon"><i class="fas fa-user-tie" ></i> </span>
                    <span class="role-title">Prosumer</span>
                    <hr class="role-line">
                </a>
            </li>
            <li *ngIf="role == 'admin' || role == 'superadmin'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/dashboard']" >
                    <span class="icon-holder"><i class="fas fa-home"></i> </span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li *ngIf="role == 'admin' || role == 'superadmin'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/add-user']" >
                    <span class="icon-holder"><i class="fas fa-user-plus"></i> </span>
                    <span class="title">Add User</span>
                </a>
            </li>
            <li *ngIf="role == 'admin' || role == 'superadmin'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/profile-admin']" >
                    <span class="icon-holder"><i class="fa fa-cog"></i></span>
                    <span class="title">Settings</span>
                </a>
            </li>
            <li *ngIf="role==dso " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">

                <a class="nav-link" [routerLink]='["/dashboard"]'>
                    <span class="icon-holder"><i class="fas fa-tachometer-alt"></i></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li *ngIf="role==dso" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/prosumers']"[queryParams]="{ tab: tab}"*ngIf="showLink==false">
                    <span class="icon-holder"><i class="fas fa-users"></i></span>
                    <span class="title">Prosumers</span>
                </a>
                <a class="nav-link" [routerLink]="['/prosumers']"[queryParams]="{ tab: tab}"style="background-color: #354871;color: white;" *ngIf="showLink==true">
                    <span class="icon-holder"><i class="fas fa-users"></i></span>
                    <span class="title">Prosumers</span>
                </a> 
            </li>
            <li *ngIf="role==dso" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">

                <a class="nav-link" [routerLink]='["/prediction"]'>
                    <span class="icon-holder"><i class="fas fa-chart-line"></i>
                    </span>
                    <span class="title">Predictions</span>
                </a>
            </li>
            <li *ngIf="role==dso" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]='["/profile-dso"]'>
                    <span class="icon-holder"><i class="fa fa-cog"></i></span>
                    <span class="title">Settings</span>
                </a>
            </li>
            <li *ngIf="role==prosumer" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]='["/dashboard"]'>
                    <span class="icon-holder"><i class="fas fa-home"></i></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li *ngIf="role==prosumer" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]='["/devices"]'*ngIf="showLink==false">
                    <span class="icon-holder"><i class="fa fa-mobile"></i></span>
                    <span class="title">Devices</span>
                </a>
                <a class="nav-link" [routerLink]='["/devices"]'*ngIf="showLink==true" style="background-color: #354871;color: white;">
                    <span class="icon-holder"><i class="fa fa-mobile"></i></span>
                    <span class="title">Devices</span>
                </a>
            </li>
            <li *ngIf="role==prosumer" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]='["/prosumer-reports"]'>
                    <span class="icon-holder"><i class="fas fa-chart-bar"></i></span>
                    <span class="title">Reports</span>
                </a>
            </li>
            <li *ngIf="role==prosumer" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]='["/profile"]'>
                    <span class="icon-holder"><i class="fa fa-cog"></i></span>
                    <span class="title">Profile</span>
                </a>
            </li>
        </ul>
    </nav>
    <div id="dashboard">
        <router-outlet></router-outlet>
        <app-footer *ngIf="role==dso ||role==admin || role==superadmin"></app-footer>
    </div>
</div>
