

        <div class="devices">
            <div class="devices-item" id="slide-1" *ngFor="let device of devices">
                <a  class="devices-device-item" *ngIf="device.turnOn===true" style="cursor: pointer;" [routerLink]="['/device/'+device.id]">
                    <img id="imgdevice" src="assets/img/{{device.deviceType}}.png" alt="">
                </a>
                <a   class="devices-device-item1" *ngIf="device.turnOn===false" style="cursor: pointer;"   [routerLink]="['/device/'+device.id]" >
                        <img id="imgdevice" src="assets/img/{{device.deviceType}}.png" alt="">
                </a>
                <h3 id="deviceh3">{{device.name}}</h3>
                
            </div>
            <div>
              <h3><a  [routerLink]='["/devices"]'>More devices</a></h3>
            </div>
            
            
        </div>
        <!-- Button trigger modal -->

  
  <!-- Modal On-->
  <div class="modal fade" id="myModalOn" tabindex="-1" aria-labelledby="myModalOnLabel" aria-hidden="true" data-bs-backdrop="true" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="myModalOnLabel" style="text-align: center;">Do you want to turn off this device?</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" aria-hidden="true" data-bs-backdrop="true" data-bs-keyboard="true"></button>
        </div>
        <div class="modal-body">
           <h5 class="modal-title" id="myModalOnLabel" style="text-align: center;">Do you want to turn off this device?</h5>
          </div>
        <div class="modal-footer" >
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="turn-on-popup">Turn Off</button>
            
          <button type="button" class="btn btn-outline-danger " data-bs-dismiss="modal">
            Close
          </button>
          
        </div>
      </div>
    </div>
  </div>

   <!-- Modal Off -->
   <div class="modal fade" id="myModalOff" tabindex="-1" aria-labelledby="myModalOffLabel" aria-hidden="true" data-bs-backdrop="true" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="myModalOffLabel" style="text-align: center;"></h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        
        <div class="modal-body">
          <h5 class="modal-title" id="myModalOffLabel" style="text-align: center;">Do you want to turn on this device?</h5>
        </div>
        <div class="modal-footer" >
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="turn-off-popup">Turn On</button>
            
          <button type="button" class="btn btn-outline-danger " data-bs-dismiss="modal">
            Close
          </button>
          
        </div>
      </div>
    </div>
  </div>


        
          