
        <div class="glavni"  *ngIf="device">
            <div class="updatedelete">
                <span id="typedev">{{device.deviceType}}</span>
                <button id="del" class="btn btn-primary" (click)="delete(device.id)" >Delete</button>
                <a id="del"class="btn btn-primary" [routerLink]='["/device-update/"+idDevice]' role="button">Update</a>
            </div>
            <div class="deviceimg">
                <div class="infoimg" >
                    
                    <h2 >{{device.name}}</h2>
                    
                    
                          <label class="switch"  *ngIf="device.turnOn===false"(click)="turnOn(device.id)">
                            <input type="checkbox" [disabled]="!buttonOnoff">
                            <span class="slider round"></span>
                          </label>
                          <label class="switch"  *ngIf="device.turnOn===true" (click)="turnOff(device.id)">
                            <input type="checkbox" checked [disabled]="!buttonOnoff">
                            <span class="slider round"></span>
                          </label>
                   
                </div>
                <img id="imgdevice" src="assets/img/{{device.deviceType}}.png" alt="">

                <div class="info">
                    <p>Session Started</p>
                    <p>Duration</p>
                    <p>Energy consumtion</p>
                </div>
            </div>
        </div>

        <ng-template #modalContent let-modal >
          <div class="modal-header">
            <!-- <h5 class="modal-title" id="modalTitle">{{ title }}</h5> -->
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">
            <h5 class="modal-title" style="text-align: center; margin-bottom: 20px;">{{body}}</h5>
            <div id="subb">
              <button type="button" class="btn btn-primary" (click)="modal.close('Save click')"id="popup">{{btnAction}}</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-outline-danger"  (click)="modal.dismiss('cancel')">Close</button>
            </div>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.close('Save click')"id="popup">{{btnAction}}</button>
            <button type="button" class="btn btn-outline-danger"  (click)="modal.dismiss('cancel')">Close</button>
          </div> -->
        </ng-template>