.main {
    top: 0px;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    justify-content: center;
}

.device {
    top: 43px;
    left: 0;
    right: 0;
    height: auto;
    max-width: 100%;
    position: relative;
}

#turnback {
    margin-top: 5px;
    width: 7%;
    margin-left: 5px;
}

.glavni {
    top: 10%;
    margin: 2%;
}

.updatedelete {
    height: 40px;
    background-color: #1C315E;
    border-radius: 5px;
    position: relative;
    justify-content: center;
}

#del {
    background-color: #3E5483;
    border-color: #3E5483;
    float: right;
    font-size: 10px;
    margin: 5px;
    box-shadow: none;
    color: white;
    width: 60px;
    border-radius: 10px;
}
#up{
    background-color: #3E5483;
    border-color: #3E5483;
    float: right;
    font-size: 10px;
    margin: 5px;
    box-shadow: none;
    color: white;
    width: 60px;
    border-radius: 10px;
}


.deviceimg {
    margin-top: 5px;
    text-align: center;
}

#imgdevice {
    margin-left: 15px;
    width: 30%;
}

.infoimg {
    width: 55%;
    float: right;
    height: auto;
    text-align: center;
}

#startbutton {
    left: -20% !important;
    position: relative;
    font-size: 12px;
    width: 100px !important;
}

h2 {
    padding-top: 5px;
    font-size: 14px;
    position: relative;
}

.button1 {
    left: 49%;
    width: 100px;
    position: absolute;
}

.info {
    height: auto;
    margin-top: 2%;
    text-align: left;
    background-color: rgb(222, 222, 222);
}

p {
    padding-left: 5px;
    font-size: 10px;
    margin: 0;
    position: relative;
}

.schedular {
    height: auto;
    margin-top: 5px;
}

#pschedular {
    border-radius: 5px;
    padding-left: 5px;
    background-color: #1C315E;
    color: white;
}

.history {
    height: auto;
    margin-top: 5px;
}

#phistiry {
    padding-left: 5px;
    border-radius: 5px;
    background-color: #1C315E;
    color: white;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  #typedev
    {
      
      font-size: 25px;
      padding-left: 20px;
      color: white;
    }
@media (min-width: 768px) {
   
    .device {
        top: 83px;
    }
    #turnback {
        width: 3%;
        margin-left: 2%;
    }
    #del {
        width: 15% !important;
        font-size: 20px;
        margin: 9px;
    }
    /* .btn1 {
        
    .btn1:hover{
        background-color: #5675b8;
        border-color: #425a8d;
    }
    } */
    .updatedelete {
        height: 60px;
    }
    .deviceimg {
        width: 100%;
        text-align: left;
        /* min-height: auto; */
        /* box-sizing: border-box; */
    }
    #imgdevice {
        box-sizing: border-box;
        width: 13%;
        /* float: left; */
        margin: 10px;
        /* position: relative; */
    }
    .info {
        float: right;
        width: 57%;
        margin-right: 15px;
    }
    .infoimg {
        float: left;
        /* margin-top: 15px; */
        /* float: left; */
        left: 22%;
        padding-top: 15px;
        position: absolute;
        width: 20%;
    }
    h2 {
        font-size: 25px;
    }
    p {
        font-size: 22px;
    }
    #startbutton {
        font-size: 20px;
        width: 50% !important;
    }
    .schcons {
        position: absolute;
        width: 96%;
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 120px;
      height: 68px;
    }
    
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ff0000;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 52px;
      width: 52px;
      left: 8px;
      bottom: 8px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #00ff2a;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(52px);
      -ms-transform: translateX(52px);
      transform: translateX(52px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 68px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
    #typedev
    {
      font-size: 40px;
      padding-left: 30px;
      color: white;
    }
}