<button (click)="initNewFilm()">Create New Film</button>
<table>
    <thead>
        <th>
            name
        </th>
        <th>
            description
        </th>
        <th>
            genre
        </th>
        <th>
            actor
        </th>
        <th>
            iconUrl
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let film of films">
            <td>
                {{film.name}}
            </td>
            <td>
                {{film.description}}
            </td>
            <td>
                {{film.genre}}
            </td>
            <td>
                {{film.actor}}
            </td>
            <td>
                {{film.iconUrl}}
            </td>
            <td>
                <button (click)="editFilm(film)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>
<app-edit-film [film]="filmToEdit" (filmUpdated)="updateFilmList($event)"></app-edit-film>