.table-container {

  margin: 20px 0;
}

.table-wrapper {
  background-color: #f8f9fa;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  flex-basis: 48%;
  margin-bottom: 20px;
  padding: 20px;
}

.table-title {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.table {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
}

.table th,
.table td {
  border: 1px solid #dee2e6;
  padding: 8px;
  text-align: right;
}

.table th {
  background-color: #2199e8;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.container1 {
  width: 12%;
  float: left;
  margin-left: 5%;
}
.form-select {
  cursor: pointer;
}

.container2 {
  display: inline-flex;
  width: 15%;
  margin-left: 30px;
}
.container3 {
  width: 15%;
  float: right;
  margin-right: 5%;
}


.btn {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2199e8;
  color: white;
  font-weight: normal;
  text-align: center;
}

.btn:hover {
  background-color: #0d8beb;
}
@media (min-width:1024px) and (max-width:1280px) {
  .container1 {
    width: 17%;
  }
  .container2 {
    width: 17%;
    margin-left: 0px;
  }
}
@media(min-width:768px) and (max-width:1023px) {
  .container1 {
    width: 27%;

  }
  .container2 {
    width: 24%;
    margin-left: 0px;
  }
  .btn {
    padding: 8px;
    margin-top: 15px;
    font-size: 14px;
  }
  .container3 {
    width: 20%;
    
  }
}