
<div class="chart">
  <div class="container2">
    <mat-form-field appearance="fill">
      <mat-label>Month and Year</mat-label>
      <input matInput [matDatepicker]="dp" [formControl]="date" [max]="currentDate">
      <mat-hint>MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="dp" ></mat-datepicker-toggle>
      <mat-datepicker #dp
                      startView="multi-year"
                      (monthSelected)="setMonthAndYear($event, dp)"
                      panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>
  </div>
  
  <div class="container3">
    <button class="btn" (click)="downloadCSV()">Export to CSV</button>
  </div>
  <div id="barplots">
    <div class="chart-container">
      <canvas id="barplot2"></canvas></div>
    <div class="chart-container">
      <canvas id="barplot1"></canvas></div>
  </div>
  
  </div>