.table-container {
    margin: 20px 0;
}

.table-wrapper {
    background-color: #f8f9fa;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    flex-basis: 48%;
    padding: 20px;
}

.table-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.table {
    border-collapse: collapse;
    font-size: 11px;
    width: 100%;
}

.table th,
.table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #1c315e;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.btn {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
    background-color: #1c315e;
    color: white;
    font-weight: normal;
    text-align: center;
}

.btn:hover {
    background-color: #0d8beb;
}