@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);

.weatherCard {
  width: 30%;
  height: 150px;
  font-family: 'Open Sans';
  position: relative;
  background-color: white;
  border-radius: 30px;
}
.currentTemp {
  width: 50%;
  height: 150px;
  /* background: #ffffff; */
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
.currentWeather {
  width: 50%;
  height: 150px;
  /* background: #2ab2ea; */
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  border-radius: 10px;
}
.temp {
  font-size: 40px;
  text-align: center;
  display: block;
  font-weight: 300;
  color: #000000;
  padding: 10px 0 0;
}
.location {
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  display: block;
}
.conditions {
  /* background-color: #ffffff; */
  font-size: 30px;
  display: block;
  text-align: center;
}

.conditions>img{
  margin-top: -20px;
}
.info {
  width: 130px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  /* background: #2ab2ea; */
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-right: 25%;
}
.rain,
.wind {
  width: 50%;
  position: absolute;
  top: 3px;
}
.wind {
  right: -8px;
}
.wind::before {
  display: block;
  content: '\f050';
  font-family: weathericons;
  font-size: 20px;
  left: -8px;
  position: absolute;
  top: 5px;
}
.toggle {
  --width: 60px;
  --height: calc(var(--width) / 3);
  margin-top: 2px;
  margin-bottom: 0px;
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  border-radius: var(--height);
  cursor: pointer;
}
.toggle input {
  display: none;
}
.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  border: 1px solid #000000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}
.toggle .slider::before {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 2px;
  width: calc(var(--height) * 0.6);
  height: calc(var(--height) * 0.6);
  border-radius: calc(var(--height) / 2);
  border: 3px solid #000000;
  background-color: #dbdbdb;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}
.toggle input:checked+.slider {
  border-color: #2196F3;
}

.toggle input:checked+.slider::before {
  border-color: #2196F3;
  background-color: #c6e5ff;
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top: 1.5px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #000000;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
  opacity: 0;
}

.toggle input:checked~.labels::before {
  opacity: 1;
}

@media (max-width: 768px) {
  .weatherCard {
    width: 100%;
    height: 150px;
    font-family: 'Open Sans';
    position: relative;
    background-color: white;
    border-radius: 30px;
  }
  .currentTemp {
    width: 75%;
    height: 150px;
    /* background: #ffffff; */
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
  }
  .currentWeather {
    width: 75%;
    height: 150px;
    /* background: #2ab2ea; */
    margin: 0;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    border-radius: 10px;
  }
  .info {
    width: 30%;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    /* background: #2ab2ea; */
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-right: 35%;
  }
  }