<div id="solar">

    <ngx-gauge style="background-color: white; border-radius: 200px;" [size]="200" [type]="type" [thick]="thick" [label]="label" [append]="append" [prepend]="prepend" [cap]="cap" [foregroundColor]="foregroundColor" [backgroundColor]="backgroundColor" [value]="value"
        [min]="min" [max]="max" [markers]="enableMarkers ? markerConfig: {}">
        <ngx-gauge-value style="font-size: 37px;">{{value}}</ngx-gauge-value>
        <ngx-gauge-append style="font-size: 22px">{{append}}</ngx-gauge-append>
        <ngx-gauge-label style="font-size:20px">solar power now</ngx-gauge-label>
    </ngx-gauge>


</div>
<div id="solar2">

    <ngx-gauge style="background-color: white; border-radius: 200px;" [size]="180" [type]="type" [thick]="thick" [label]="label" [append]="append" [prepend]="prepend" [cap]="cap" [foregroundColor]="foregroundColor" [backgroundColor]="backgroundColor" [value]="value"
        [min]="min" [max]="max" [markers]="enableMarkers ? markerConfig: {}">
        <ngx-gauge-value style="font-size: 32px;">{{value}}</ngx-gauge-value>
        <ngx-gauge-append style="font-size: 20px">{{append}}</ngx-gauge-append>
        <ngx-gauge-label style="font-size:18px">solar power now</ngx-gauge-label>
    </ngx-gauge>


</div>

<div id="solar1">
    <ngx-gauge style="background-color: white; border-radius: 200px; " [size]="120" [type]="type" [thick]="thick" [label]="label" [append]="append" [prepend]="prepend" [cap]="cap" [foregroundColor]="foregroundColor" [backgroundColor]="backgroundColor" [value]="value"
        [min]="min" [max]="max" [markers]="enableMarkers ? markerConfig: {}">
        <ngx-gauge-value style="font-size: 22px;">{{value}}</ngx-gauge-value>
        <ngx-gauge-append style="font-size: 12px">{{append}}</ngx-gauge-append>
        <ngx-gauge-label style="font-size:11px">solar power now</ngx-gauge-label>
    </ngx-gauge>
</div>