<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="container2">
          <mat-form-field appearance="fill">
            <mat-label>Year</mat-label>
            <input matInput [matDatepicker]="dp" [formControl]="date" [max]="maxYear">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp
                            startView="multi-year"
                            (yearSelected)="setYear($event, dp)"
                            panelClass="example-year-picker">
              <mat-multi-year-view [selected]="date.value" (yearSelected)="dp.close()"></mat-multi-year-view>
              <mat-year-view [activeDate]="date.value" (yearSelected)="dp.close()"></mat-year-view>
              <mat-month-view></mat-month-view>
            </mat-datepicker>
          </mat-form-field>
            <div class="container3">
                  <button class="btn" (click)="downloadCSV()">Export to CSV</button>
            </div>
        </div>>
        <div class="table-container" *ngIf="consumptionGraph">
          <div class="table-wrapper">
            <h2 class="table-title">Consumption</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Date Time</th>
                  <th>Consumption</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item1 of list1">
                      <td>{{ item1.year }}/{{ item1.month }}</td>
                      <td>{{ item1.energyUsageResult }} [kWh]</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="table-container" *ngIf="productionGraph">
            <div class="table-wrapper">
              <h2 class="table-title">Production</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th>Date Time</th>
                    <th>Production</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item2 of list2">
                        <td>{{ item2.year }}/{{ item2.month }}</td>
                        <td>{{ item2.energyUsageResult }} [kWh]</td>
                </tbody>
              </table>
            </div>

            <div class="table-container" *ngIf="consumptionGraph">
                <div class="table-wrapper">
                    <h2 class="table-title">Consumption</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date Time</th>
                                <th>Consumption</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item1 of list1">
                                <td>{{ item1.year }}/{{ item1.month }}</td>
                                <td>{{ item1.energyUsageResult }} [kWh]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-container" *ngIf="productionGraph">
                <div class="table-wrapper">
                    <h2 class="table-title">Production</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date Time</th>
                                <th>Production</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item2 of list2">
                                <td>{{ item2.year }}/{{ item2.month }}</td>
                                <td>{{ item2.energyUsageResult }} [kWh]</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>