<app-prosumer-navbar>
</app-prosumer-navbar>
<div class="main">
    <div class="device">
        <div class="back">
            <a href="prosumer-devices-page"><img id="turnback" src="assets/img/back.png" alt=""></a>
        </div>
        <app-one-device></app-one-device>
        <div class="grafik">
            <div class="dropdown">
                <button class="dropbtn">Dropdown 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <div class="header">
                        <h2>Mega Menu</h2>
                    </div>

                </div>
            </div>
        </div>
        <!-- <app-footer></app-footer> -->
        <app-prosumer-footer></app-prosumer-footer>
    </div>