<app-prosumer-navbar>
</app-prosumer-navbar>


<div class="main">
    <div class="back">
        <a href="prosumer-devices-page"><img id="turnback" src="assets/img/turn-back.png" alt=""></a>
    </div>
    <div class="glavni">
        <div class="updatedelete">
            <button type="submit">Delete</button>
            <button type="submit">Update</button>
        </div>
        <div class="deviceimg">
            <img id="imgdevice" src="assets/img/water-heater.png" alt="">
            <div class="infoimg">
                <h2>Water heater</h2>
                <button type="submit" class="button1">Start</button>
            </div>
        </div>
        <div class="info">
            <p>Session Started</p>
            <p>Duration</p>
            <p>Energy consumtion</p>
        </div>
        <div class="schedular">
            <p id="pschedular">Schedular</p>
        </div>
        <div class="history">
            <p id="phistiry">Consumtion and Production Hostory</p>
        </div>
        <app-prosumer-footer></app-prosumer-footer>

    </div>
</div>