<app-prosumer-navbar>
</app-prosumer-navbar>
<div class="main">
    <div class="device">
        <div class="back">
            <a href="prosumer-devices-page"><img id="turnback" src="assets/img/back.png" alt=""></a>
        </div>
        <app-one-device></app-one-device>
        <div class="glafik">
            <button type="button" class="collapsible dropdown-toggle" #collapsibleButton active>Consaption</button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                </p>
            </div>

            <br><br>
            <button type="button" class="collapsible dropdown-toggle" #collapsibleButton>Prodaction</button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem</p>
            </div>
        </div>
        <app-footer></app-footer>
        <app-prosumer-footer></app-prosumer-footer>
    </div>
</div>