.main {
    min-height: 100vh;
}

.device {
    margin-top: 52px;
    min-height: 100vh;
}

.back {
    margin-top: 15px;
}

#turnback {
    margin-top: 5px;
    width: 7%;
    margin-left: 5px;
}

.glavni {
    top: 10%;
    margin: 2%;
}

.updatedelete {
    height: 40px;
    background-color: #1C315E;
    border-radius: 5px;
    position: relative;
    justify-content: center;
}


/* .btn {
    background-color: #3E5483;
    border-color: #3E5483;
    float: right;
    font-size: 10px;
    margin: 5px;
    box-shadow: none;
    color: white;
    width: 60px;
    border-radius: 10px;
} */

.deviceimg {
    margin-top: 5px;
    text-align: center;
}

#imgdevice {
    margin-left: 15px;
    width: 30%;
}

.infoimg {
    width: 55%;
    float: right;
    height: auto;
    text-align: center;
}

#startbutton {
    left: -20% !important;
    position: relative;
    font-size: 12px;
    width: 100px !important;
}

h2 {
    padding-top: 5px;
    font-size: 14px;
    position: relative;
}

.button1 {
    left: 49%;
    width: 100px;
    position: absolute;
}

.info {
    height: auto;
    margin-top: 2%;
    text-align: left;
    background-color: rgb(222, 222, 222);
}

p {
    padding-left: 5px;
    font-size: 10px;
    margin: 0;
    position: relative;
}

.schedular {
    height: auto;
    margin-top: 5px;
}

#pschedular {
    border-radius: 5px;
    padding-left: 5px;
    background-color: #1C315E;
    color: white;
}

.history {
    height: auto;
    margin-top: 5px;
}

#phistiry {
    padding-left: 5px;
    border-radius: 5px;
    background-color: #1C315E;
    color: white;
}

.grafik {
    display: flex;
    justify-content: left;
    border: 1px solid black;
    height: auto;
    margin: 10px;
}

@media (min-width: 768px) {
    .main {
        top: 0px;
        left: 0;
        right: 0;
        min-height: 100vh;
        position: absolute;
    }
    .device {
        margin-top: 85px;
        margin-left: 80px;
        top: 83px;
    }
    #turnback {
        width: 3%;
        margin-left: 2%;
    }
    /* .btn {
        width: 12% !important;
        font-size: 20px;
        margin: 9px;
    } */
    .updatedelete {
        height: 60px;
    }
    .deviceimg {
        width: 100%;
        text-align: left;
        /* min-height: auto; */
        /* box-sizing: border-box; */
    }
    #imgdevice {
        box-sizing: border-box;
        width: 13%;
        /* float: left; */
        margin: 10px;
        /* position: relative; */
    }
    .info {
        float: right;
        width: 57%;
        margin-right: 15px;
    }
    .infoimg {
        float: left;
        /* margin-top: 15px; */
        /* float: left; */
        left: 15%;
        padding-top: 15px;
        position: absolute;
        width: 20%;
    }
    h2 {
        font-size: 25px;
    }
    p {
        font-size: 22px;
    }
    #startbutton {
        font-size: 20px;
        width: 50% !important;
    }
    .schcons {
        position: absolute;
        width: 96%;
    }
    .grafik {
        display: flex;
        height: auto;
        margin: 35px;
        background-color: #1C315E;
        border-radius: 5px;
    }
    .dropdown-content {
        cursor: pointer;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 100%;
        left: 0;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .dropdown {
        width: 100%;
        /* float: left; */
        cursor: pointer;
        font-size: 20px;
    }
    .dropdown .dropbtn {
        font-size: 16px;
        width: 100%;
        border: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font: inherit;
        cursor: pointer;
        margin: 0;
    }
    .dropdown-content .header {
        background: red;
        padding: 16px;
        height: 300px;
        color: white;
    }
    .dropdown:hover .dropdown-content {
        display: block;
        cursor: pointer;
    }
    .dropbtn {
        text-align: left;
    }
    i {
        border: 1px solid black;
        text-align: right;
    }
}