<div class="chart">
    <div class="container2">
        <mat-form-field appearance="fill">
          <mat-label>Year</mat-label>
          <input matInput [matDatepicker]="dp" [formControl]="date" [max]="maxYear">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp
                          startView="multi-year"
                          (yearSelected)="setYear($event, dp)"
                          panelClass="example-year-picker">
            <mat-multi-year-view [selected]="date.value" (yearSelected)="dp.close()"></mat-multi-year-view>
            <mat-year-view [activeDate]="date.value" (yearSelected)="dp.close()"></mat-year-view>
            <mat-month-view></mat-month-view>
          </mat-datepicker>
        </mat-form-field>
      </div>
        
      <div class="container3">
        <button class="btn" (click)="downloadCSV()">Export to CSV</button>
      </div>
    <div class="chart-container">
        <canvas id="barplot2"></canvas>
    </div>
</div>