#container{
	display: flex;
	width: 90%;
}
#all{
	display: inline-block;
	width: 30%;

}
#map-wrapper{
	height: 100%;
	display: inline-block;
	width: 70%;
}
#prosumers-map{
	width:100%;
	height: 38vh;
}

.address-container{
	position: relative;
}
.search-result{
	position: absolute;
	z-index: 1010;
	background-color: #f6f6f6;
	box-shadow: 0px 1px 4px 1px #b0a7a7;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap:10px;
	height: 100px;
	width: 80%;
	border-radius: 0 0 10px 10px;
}
.search-result > .no-results{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-result > .no-results > p{
	font-size: 15px;
	color: #a39d9d;
	text-align: center;

}
.location{
	border-radius: 2px;
	background-color: #dddddd;
	cursor: pointer;
}
.location:hover{
	text-decoration: underline;
}
label {
    color: #1C315E;
    font-style: italic;
    font-size: 25px;
}
.none{
	visibility:hidden !important;
}
.select-form-control{
    width: 80%;
    padding: 0.525rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	outline: 0;
}
.form-control {
    display: block;
    width: 80%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
	#container{
		display: flex;
		width: 90%;
	}
	#all{
		width: 100%;
		
	}
	#map-wrapper{
		margin-top: 20px;
		height: 100%;
		width: 100%;
	}
	#prosumers-map{
		width:100%;
		height: 38vh;
	}
	.select-form-control{
		width: 100%;
		padding: 0.525rem 0.75rem;
		
	}
	.form-control {
		
		width: 100%;
		padding: 0.375rem 0.75rem;
	
	}
	.search-result{


		height: 100px;
		width:100%;

	}
	
}