#container{
	display: flex;
	flex-direction: column;
}
#map-wrapper{
	height: 100vh;
	margin-top: -180px;
}
#prosumers-map{
	width: 100%;
	height: 100%;
}
.search-container{
	flex-grow: 1;
}
.address-container{
	position: relative;
}
.search-result{
	z-index: 1010;
	background-color: #f6f6f6;
	box-shadow: 0px 1px 4px 1px #b0a7a7;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap:10px;
	height: 200px;
	padding: 10px;
	width: 100%;
	position: relative;
	bottom: 30px;
	border-radius: 0 0 10px 10px;
}
.search-result > .no-results{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-result > .no-results > p{
	font-size: 35px;
	color: #a39d9d;
	text-align: center;

}
.location{
	padding: 3px;
	border-radius: 2px;
	background-color: #dddddd;
	cursor: pointer;
}
.location:hover{
	text-decoration: underline;
}
label {
    color: #1C315E;
    font-style: italic;
    font-size: 25px;
}
.none{
	visibility:hidden !important;
}
.select-form-control{
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	outline: 0;
}