#container{
	display: flex;
	flex-direction: column;
}
#map-wrapper{
	height: 100vh;
}
#prosumers-map{
	width: 100%;
	height: 100%;
}
.search-container{
	flex-grow: 1;
}
.search-result{
	background-color: #fefefe;
	box-shadow: 1px 1px 1px black;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap:10px;
	height: 100px;
}
.location{
	background-color: white;
	cursor: pointer;
}
.location:hover{
	text-decoration: underline;
}
label {
    color: #1C315E;
    font-style: italic;
    font-size: 25px;
}
.none{
	display:none;
}