<div id="container1">
	<div id="all" >
		<label for="country">Country</label>
		<br>
		<select id="country" class="select-form-control" name="country">     
			<option [value]="stringify({id:1,name:'Serbia'})" >Serbia</option>
		</select>
		<br>
		<br>
		<label for="city">City</label>
		<br>
		<select id="city" class="select-form-control" name="city" (change)="onSelectedCity($event)">     
			<option *ngFor="let city of cities" [value]="stringify(city)" >{{city.name}}</option>
		</select>
		<br>
		<br>
		<label for="settlement">Settlement</label>
		<br>
		<select id="settlement" class="select-form-control" name="settlement" [(ngModel)]="settlementId" (change)="sendData()">     
			<option *ngFor="let settlement of settlements" [value]="settlement.id"  >{{settlement.name}}</option>
		</select>
		<br>
		<br>
		<div class="address-container">
			<label for="Address">Address</label>
			<br>
			<input type="text" class="form-control" id="address" name="address" [(ngModel)]="address" (ngModelChange)="changeLocations($event)">
			<div class="search-result" [class.invisible]="!searchResultVisible">
				<div *ngIf="locations.length==0" class="no-results">
					<p>There are no results</p>
				</div>	
				<div *ngFor="let location of locations" (click)="changeFocus(location)" class="location">
					{{location.display_name}}
				</div>
			</div>
		</div>
	</div>
		<div id="map-wrapper" >
			<div id="prosumers-map"></div>
		</div>
</div>