#container{
	display: flex;
	width: 90vw;
}
#map-wrapper{
	width: 80vw;
	height: 100vh;
}
#prosumers-map{
	width: 100%;
	height: 80%;
}
.search-container{
	flex-grow: 1;
}
.search-result{
	height: 70vh;
	overflow-y: auto;
}