#homewrepper {
    box-shadow: 2px 4px gray;
    background-color: white;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
    #homewrepper {
        box-shadow: 2px 4px gray;
        background-color: white;
        margin-top: 60px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
    }

}

