<div class="global">
    <div class="global1">
        <h1>Update</h1>
        <form #form="ngForm" (ngSubmit)="upDate()">
            <div class="form-row">
                <div class="form-group col-md-6 ">
                    <label for="id " class="form-label ">ID</label>
                    <input type="text " class="form-control " id="id " name="id " [(ngModel)]="updateUserDetail.id " disabled>

                    <br>
                    <label for="name " class="form-label ">Name</label>
                    <input type="text " class="form-control " id="id " name="name " [(ngModel)]="updateUserDetail.name ">

                    <br>
                    <label for="userName " class="form-label ">User name</label>
                    <input type="text " class="form-control " id="name " name="userName " [(ngModel)]="updateUserDetail.userName ">
                    <br>
                    <label for="role " class="form-label ">Role</label>
                    <select #teams id="role " class="form-control " name="role " [(ngModel)]="updateUserDetail.role ">
                            <option *ngFor="let role of roles " [value]="role?.id " >{{role?.name}}</option>
                        </select>
                    <br>
                    <label for="role " class="form-label ">Block</label>
                    <select id="block " class="form-control " name="block " [(ngModel)]="updateUserDetail.block ">
                        <option>false</option>
                        <option>true</option>
                    </select>
                </div>
            </div>
            <button type=" submit " class="btn btn-primary mr-5 ">Save</button>
        </form>
    </div>
</div>