.chart canvas {
    width: 100%; /* Set the width to 100% of the parent element */
    height: 450px; /* Set the height to 500 pixels */
  }

.chart {
    display: inline-block;
    
}

.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .chart {
        display: inline-block;
       
    }
    .chart canvas {
        width: 100%; /* Set the width to 100% of the parent element */
        height: 1800px; /* Set the height to 500 pixels */
      }
    
    
}
