.timeline{
    display: grid;
    grid-template-columns: repeat(8,6rem);
}

h3 {
    grid-column: 1 / -1;
}

.temp{
    display: flex;
    align-items: center;
}

.sub{
    border-left: thing orange solid;
    
}