<div class="global">
    <div class="global1">
        <h1>Add</h1>

        <form  (ngSubmit)="addUsers()">
            <div class="form-row">
                <div class="form-group col-md-6 ">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addUserRequest.name">
                    <br>
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="addUserRequest.email">
                    <br>
                    <label for="username">User name</label>
                    <input type="text" class="form-control" id="userName" name="username" [(ngModel)]="addUserRequest.username">
                    <br>
                    <!-- <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="addUserRequest.password"> -->

                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" value="{{passwordGen}}" disabled >
                    <form style="margin: 0; padding: 0;">
                        <button class="btn btn-primary" type="submit" (click)="generatePassword()">Generate password</button>
                    </form>
                    <br>
                    <label for="role">Role</label>

                    <select id="role" class="form-control" name="role" [(ngModel)]="addUserRequest.roleId">     
                        <option *ngFor="let role of roles" [value]="role.id" (change)="onSelectedRole($event)" >{{role.name}}</option>
                    </select>
                    <br>
                    
                </div>
            </div>
            <button (click)="sendEmail()" class="btn btn-primary">ADD</button>
        </form>
        
    </div>
</div>