
<!--<div class="container">
    <div *ngIf="isConfirmed;">
        
    <div class="left-container">
        <img src="assets/emailConfirmation/success.png" alt="Email confirmed successfully.">
    </div>
    <div class="right-container">
        <div class="title-container">
            <h3 class="title">Your email address has been successfully confirmed.</h3>
        </div>

        <br>
        <div class="message-container">
                <br>
                You can now <a (click)="goToLogin()" class="login-link">login</a> to our app and take control of your energy usage.
                Start tracking and managing your household electricity 
                consumption to help reduce your environmental impact.<br>
                <br>
                <div class="center-text"><b>Welcome aboard!</b></div>
                <br>
                <br>
            </div>
        <button class="login-button"><a (click)="goToLogin()">Login</a></button>
    </div>
    </div>

    <div *ngIf="!isConfirmed;">
        <div class="left-container">
            <img src="assets/emailConfirmation/not_confirmed.png" alt="Email confirmation failed." class="photo">
        </div>
        <div class="right-container">
            <div class="title-container">
                <h3 class="title">{{message}}</h3>
            </div>
            <br>
            <div class="message-container">
                <br>
                We're sorry to inform you that it appears that your email confirmation via the link has failed. 
                Please contact administator for more informations or try to <a (click)="goToLogin()" class="login-link">login</a> to your account and try again. <br>
                <br>
                <b>Welcome aboard!</b>
                <br>
                <br>
            </div>
            <button class="login-button"><a (click)="goToLogin()">Login</a></button>
        </div>
    </div>
    
</div>

-->

<div class="container"> 
    <div class="image-container"> 
        <img src="assets/emailConfirmation/success.png" alt="Email confirmed successfully.">
    </div>
    <div>
        <div class="title-container">
            <h2>Email confirmed successfully!</h2>
        </div>
        <div class="message-container">
            <p>
                Congratulations! Your email address has been successfully confirmed. You can now log in to our app and take full control of your energy usage.
                Welcome to the <i>ElectricAssist</i> team!
            </p>
        </div>
        <div class="button-container">
            <button>Login</button>
        </div>
    </div>
</div>