
<div class="wrapper">
    
        <div class="tabel-map">
          <div id="numpros">
            <span >Number of prosumers: {{numberOfProsumers}}</span>
          </div>
          <div id="select-view">
            <button (click)="showComponent()" class="nav-button" [class.active]="prosumersPage">Tabelar View</button>
            <button (click)="showComponent1()" class="nav-button" [class.active]="!prosumersPage">Map View</button>
          </div>
        </div>
        <div class="tabel-body" *ngIf="prosumersPage"> <!--*ngIf="componentShown"-->
			<!--<app-page-control [url]="pageUrl" [(itemsPerPage)]="itemsPerPage" [(totalItems)]="totalItems" [(items)]="items" [(currentPage)]="currentPage">
            	<app-all-prosumers [data]="items" [currentPage]="currentPage" [itemsPerPage]="itemsPerPage" [totalItems]="totalItems"></app-all-prosumers>
			</app-page-control>-->
			<app-all-prosumers></app-all-prosumers>
        </div>
        <div class="map" *ngIf="!prosumersPage">
            <app-prosumers-map ></app-prosumers-map>
        </div>
</div>
