#map-body{
    height: 100%;
    width: 100%;
    /* margin-left: 10px; */

}

.toggle-container {
    display: flex;
    margin: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
  }
  
  .toggle-buttons {
    margin-left: 15px;
    display: flex;
    align-items: center;
  }
  
  .toggle-buttons label {
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .toggle-buttons input[type="radio"] {
    display: none;
  }
  
  .toggle-buttons span.divider {
    display: inline-block;
    width: 1px;
    height: 20px;
    margin: 0 10px;
    background-color: gray;
  }
  
  .toggle-buttons input[type="radio"]:checked + label {
    font-weight: bold;
  }
  
  .toggle-buttons input[type="radio"]:not(:checked) + label {
    color: gray;
  }
  
  .date-time {
    margin-right: 15px;
    text-align: right;
  }