
<div class="global">
    <div class="global1">
      <a [routerLink]='["/dashboard"]'><img id="turnback" src="assets/img/back.png" alt=""></a>
        <h1>Update</h1>
        <form #form="ngForm" (ngSubmit)="upDate()">
            <div class="form-row">
                <div class="form-group col-md-6 ">
                    <br>
                    <label for="email " class="form-label ">Email</label>
                    <input type="text " class="form-control " id="id " name="email " [(ngModel)]="updateUserDetail.email ">
                    <br>
                </div>
            </div>
            <button type=" submit "id="subb" class="btn btn-primary mr-5 ">Save</button>
        </form>
    </div>
</div>
