    
    <div class="first">
      <div class="header">
        <h3>All Users</h3>
      </div>
      <div id="all">

     
      <div class="filter" >
      <div class="dropdown" [class.show]="showDropdown">
        <a id="dropbtn1" class="btn btn-primary" (click)="toggleDropdown()" style="text-decoration: none;">
          Filters <span class="filter-count">{{ countActiveFilters() }}</span>
        </a>
        
        <div class="dropdown-content">
          <div class="filter">
            <div class="form-group">
              <label for="role">Filter by role</label>
              <select class="form-control" name="role" [(ngModel)]="filters.role" (ngModelChange)="pageChanged(1)" id="role">
                <option value="0">All roles</option>
                <option value="1">Admin</option>
                <option value="2">Dispatcher</option>
                <option value="3">Prosumer</option>
              </select>
            </div>
            <div class="form-group">
              <label for="blocked">Filter by blocked status</label>
              <select class="form-control" name="blocked" [(ngModel)]="filters.blocked" (ngModelChange)="pageChanged(1)" id="blocked">
                <option value="-1">Select status</option>
                <option value="1">Blocked</option>
                <option value="0">Active</option>
              </select>
            </div>
            <div class="form-group">
              <label for="city">Filter by city</label>
              <select class="form-control" name="city" [(ngModel)]="filters.city" (ngModelChange)="cityChanged()" id="city">
                <option value="0">All cities</option>
                <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="settlement">Filter by settlement</label>
              <p *ngIf="filters.city==0" class="settlement-text">Select city first</p>
              <select class="form-control" name="settlement" *ngIf="filters.city!=0" [(ngModel)]="filters.settlement" (ngModelChange)="pageChanged(1)" id="settlement">
                <option value="0">All settlements</option>
                <option *ngFor="let settlement of settlements" [value]="settlement.id">{{settlement.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group" id="clearf" >
          <button class="btn btn-secondary" (click)="clearFilters()">Clear All Filters</button>
        </div>
      </div>
      
      <div class="form-group" id="search">
        <label>Search user by: </label>
        <input type="text" name="search" [(ngModel)]="filters.name" class="form-control search" id="searchInput"placeholder="name, username or address" (ngModelChange)="pageChanged(1)">
      </div> 
    </div>
    </div>
<!--       
		<div class="filter">
			<div class="form-group">
				<label>Filter by role</label>
				<select name="role" [(ngModel)]="filters.role" (ngModelChange)="pageChanged(1)">
					<option value="0">All roles</option>
					<option value="1">Admin</option>
					<option value="2">Dispatcher</option>
					<option value="3">Prosumer</option>
				</select>
			</div>
			<div class="form-group">
				<label>Filter by blocked status</label>
				<select name="role" [(ngModel)]="filters.blocked" (ngModelChange)="pageChanged(1)">
					<option value="-1">Select status</option>
					<option value="1">Blocked</option>
					<option value="0">Active</option>
				</select>
			</div>
			<div class="form-group">
				<label>Filter by city</label>
				<select name="role" [(ngModel)]="filters.city" (ngModelChange)="cityChanged()">
					<option value="0">All cities</option>
					<option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
				</select>
			</div>
			<div class="form-group">
				<label>Filter by settlement</label>
				<p *ngIf="filters.city==0" class="settlement-text">Select city first</p>
				<select name="role" *ngIf="filters.city!=0" [(ngModel)]="filters.settlement" (ngModelChange)="pageChanged(1)">
					<option value="0">All settlements</option>
					<option *ngFor="let settlement of settlements" [value]="settlement.id">{{settlement.name}}</option>
				</select>
			</div>
			<div class="form-group">
        <label>Search user by name, username or address</label>
        <input type="text" name="search" [(ngModel)]="filters.name" class="search" (ngModelChange)="pageChanged(1)">
      </div>
		</div> -->
    <!-- <div class="form-group">
      <label>Search user by name, username or address</label>
      <input type="text" name="search" [(ngModel)]="filters.name" class="search" (ngModelChange)="pageChanged(1)">
    </div> -->
		<app-loader *ngIf="loading"></app-loader>
		<div *ngIf="!loading && showUsers?.length==0" class="no-users">
			There are no users to be shown.
		</div>
    <div id="tableres">
        <table *ngIf="!loading && showUsers?.length!=0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>User name</th>
                    <th>Role</th>
                    <th>Address</th>
                    <th>Settlement</th>
                    <th>City</th>
                    <th>Blocked</th>
                    <th>Actions</th>  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let show of showUsers | paginate: {currentPage,itemsPerPage,totalItems} let i = index">
                    <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                    <td>{{show.name}}</td>
                    <td>{{show.username}}</td>
                    <td>{{show.role}}</td>
                    <td>{{show.address}}</td>
                    <td>{{show.settlement}}</td>
                    <td>{{show.city}}</td>
                    <td>
                      <label class="switch" *ngIf="show.block===false" (click)="blockUser(show.id)">
                        <input type="checkbox" [disabled]="!confirmBlock">
                        <span class="slider round"></span>
                      </label>
                      <label class="switch" *ngIf="show.block===true"  (click)="unblockUser (show.id)">
                        <input type="checkbox" checked [disabled]="!confirmBlock">
                        <span class="slider round"></span>
                      </label>
                    </td>
                    <td>
                      <a (click)="updatePage(show.id)" style="cursor: pointer;text-decoration: none; color: #2199e8;"><i class="fas fa-cog" style="color: #2199e8"></i> Edit</a>&nbsp;&nbsp;
                      <a  (click)="deleteUser(show.id)" style="cursor: pointer; color: red;"><i class="fas fa-trash" style="color: red"></i> Delete</a>
                  </td>
                </tr>
            </tbody>
        </table>
		    <app-page-control (pageChange)="pageChanged($event)" *ngIf="itemsPerPage<totalItems"></app-page-control>
    </div>
  </div>
    <!-- Modal -->
    <ng-template #modalContent let-modal >
      <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title" style="text-align: center; margin-bottom: 20px;">{{body}}</h5>
        <div id="subb">
          <button type="button" class="btn btn-primary" (click)="modal.close('Save click')"id="popup">{{btnAction}}</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-danger"  (click)="modal.dismiss('cancel')">Close</button>
        </div>
      </div>
    </ng-template>
    <!-- Update Modal -->
    <ng-template #modalContent1 let-modal >
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Update {{oneUser}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="upDate()">
          <div class="form-row">
              <div class="form-group col-md-6 ">
                  <br>
                  <label for="email " class="form-label ">Email</label>
                  <input type="text " class="form-control " id="id " name="email " [(ngModel)]="updateUserDetail.email ">
                  <br>
                  <label for="password " class="form-label ">Enter your password</label>
                  <input type="password " class="form-control " id="id " name="password "  >
                  <br>
              </div>
          </div>
          <div id="subb">
            <button type=" submit " class="btn btn-primary mr-5 " id="change-pass-popup"(click)="modal.close('Save click')">Save</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-outline-danger"  (click)="modal.dismiss('cancel')">Close</button>
          </div>
        </form>
     
      </div>
    </ng-template>
    
    