<app-prosumer-navbar>
</app-prosumer-navbar>

<div class="main">

    <div class="alldevices">
        <h1>All devices</h1>
        <div class="devices">
            <div class="devices-item" id="slide-1">
                <a href="#" class="devices-device-item">
                    <img id="imgdevice" src="assets/img/water-heater.png" alt="">

                </a>
                <h3 id="deviceh3">Boiler</h3>
            </div>
            <div class="devices-item" id="slide-2">
                <a href="#" class="devices-device-item">
                    <img id="imgdevice" src="assets/img/gas.png" alt="">
                </a>
                <h3 id="deviceh3">Gas stove</h3>
            </div>
            <div class="devices-item" id="slide-3">
                <a href="#" class="devices-device-item">
                    <img id="imgdevice" src="assets/img/water-heater.png" alt="">
                </a>
                <h3 id="deviceh3">Boiler</h3>
            </div>
            <div class="devices-item" id="slide-4">
                <a href="#" class="devices-device-item">
                    <img id="imgdevice" src="assets/img/solar-panel.png" alt="">
                </a>
                <h3 id="deviceh3">Solar panel</h3>
            </div>
            <div class="devices-item" id="slide-5">
                <a href="#" class="devices-device-item">
                    <img id="imgdevice" src="assets/img/water-heater.png" alt="">
                </a>
                <h3 id="deviceh3">Boiler</h3>
            </div>
            <div class="devices-item" id="slide-5">
                <a href="#" class="devices-device-item">
                    <img id="imgdevice" src="assets/img/water-heater.png" alt="">
                </a>
                <h3 id="deviceh3">Boiler</h3>
            </div>
            <div class="devices-item" id="slide-5">
                <a href="#" class="devices-device-item">
                    <img id="imgdevice" src="assets/img/water-heater.png" alt="">
                </a>
                <h3 id="deviceh3">Boiler</h3>
            </div>
            <div class="devices-item" id="slide-5">
                <a href="#" class="devices-device-item">
                    <img id="imgdevice" src="assets/img/water-heater.png" alt="">
                </a>
                <h3 id="deviceh3">Boiler</h3>
            </div>
            <div class="devices-item" id="slide-4">
                <a href="#" class="devices-device-item">
                    <img id="imgdevice" src="assets/img/solar-panel.png" alt="">
                </a>
                <h3 id="deviceh3">Solar panel</h3>
            </div>
            <div class="devices-item" id="slide-5">
                <a href="#" class="devices-device-item">
                    <img id="imgdevice" src="assets/img/water-heater.png" alt="">
                </a>
                <h3 id="deviceh3">Boiler</h3>
            </div>
            <div class="devices-item" id="slide-4">
                <a href="#" class="devices-device-item">
                    <img id="imgdevice" src="assets/img/solar-panel.png" alt="">
                </a>
                <h3 id="deviceh3">Solar panel</h3>
            </div>
            <div class="devices-item" id="slide-5">
                <a href="#" class="devices-device-item">
                    <img id="imgdevice" src="assets/img/water-heater.png" alt="">
                </a>
                <h3 id="deviceh3">Boiler</h3>
            </div>
            <div class="devices-item" id="slide-4">
                <a href="#" class="devices-device-item">
                    <img id="imgdevice" src="assets/img/solar-panel.png" alt="">
                </a>
                <h3 id="deviceh3">Solar panel</h3>
            </div>
            <div class="devices-item" id="slide-5">
                <a href="#" class="devices-device-item">
                    <img id="imgdevice" src="assets/img/water-heater.png" alt="">
                </a>
                <h3 id="deviceh3">Boiler</h3>
            </div>
            <div class="devices-item" id="slide-4">
                <a href="#" class="devices-device-item">
                    <img id="imgdevice" src="assets/img/solar-panel.png" alt="">
                </a>
                <h3 id="deviceh3">Solar panel</h3>
            </div>
            <div class="devices-item" id="slide-5">
                <a href="#" class="devices-device-item">
                    <img id="imgdevice" src="assets/img/water-heater.png" alt="">
                </a>
                <h3 id="deviceh3">Boiler</h3>
            </div>

        </div>
    </div>
    <app-prosumer-footer></app-prosumer-footer>
</div>