#container{
	display: flex;
}
#map-wrapper{
	width: 50vw;
	height: 100vh;
}
#prosumers-map{
	width: 100%;
	height: 100%;
}
.search-container{
	flex-grow: 1;
}
.search-result{
	height: 70vh;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap:10px;
}
.location{
	background-color: white;
	cursor: pointer;
}
.location:hover{
	text-decoration: underline;
}
.legend-item{
	display: flex;
	gap:20px;
	align-items: center;
}
.legend-square{
	width: 10px;
	height: 10px;
}