#container{
	display: flex;
	flex-direction: column;
	margin: 40px;
	height: auto;
	gap:5px;
}
#map-wrapper{
	width: 100%;
	height: 70vh;
}
#prosumers-map{
	margin-left: 5px;
	width: 100%;
	height: 100%;
}
.search-container{
	flex-grow: 1;
	width: 100%;
	text-align: center;
}

input{
	width: 80%;
    margin-bottom: 5px;
}
button{
	width: 60%;
    margin-left: 5px;
}
.search-result{
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap:10px;
}
.location{
	background-color: white;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 5px;
	max-width: 100%;
	text-align: left;
}
.location:hover{
	text-decoration: underline;
}
.legend{
	margin-bottom: 10px;
	--green-square:green;
	--blue-square:blue;
	--red-square:red;
}
.legend-item{
	display: flex;
	gap:20px;
	align-items: center;
}
.legend-square{
	width: 10px;
	height: 10px;
	background-color: var(--bg-color);
}

.search-container > form{
	display: flex;
	gap:20px;
}

.search-container > form > input[type="text"]{
	flex-grow: 1;
	border-radius: 5px;
}

/*
select[name="zone"] > option{
	background-color: var(--bg-color);
}
*/
.filter-select{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.filter-select select{
	padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	outline:0;
}
.filter-select > label{
	flex-grow: 1;
	text-align: left;
}

.map-filters-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	gap:40px;
}
.search-user{
	flex-grow: 1;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
}
.search-user input.form-control{
	width: 100%;
}