#container{
	display: flex;
	flex-direction: column;
	margin: 40px;
	height: auto;
	gap:15px;
}
#map-wrapper{
	width: 100%;
	height: 70vh;
	margin-bottom: 30px;
	margin-top:-200px;
}
#prosumers-map{
	margin-left: 5px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
}
.search-container{
	flex-grow: 1;
	width: 100%;
	text-align: center;
}
.location{
	background-color: white;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 5px;
	max-width: 100%;
	text-align: left;
}
.location:hover{
	text-decoration: underline;
}
.search-container > form{
	display: flex;
	gap:20px;
}
.search-container > form > input[type="text"]{
	flex-grow: 1;
	border-radius: 5px;
}
.green-square {
    display: inline-block;
    background-color: rgb(111, 180, 111);
	border-radius: 20px;
    width: 17px; 
    height: 17px; 
}
  .blue-square {
    display: inline-block;
    background-color: rgb(120, 120, 238);
	border-radius: 20px;
    width: 17px; 
    height: 17px; 
}
  .red-square {
    display: inline-block;
    background-color: rgb(247, 117, 117);
	border-radius: 20px;
    width: 17px; 
    height: 17px; 
  }
.filter-select{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap:10px;
}
.filter-select select{
	padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	outline:0;
}
.filter-select > label,.search-user label{
	text-align: left;
}
.map-filters-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	gap:40px;
}
.search-user{
	flex-grow: 1;
	min-width: 250px;
	height: 268px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
}
.search-user > :first-child{
	margin-bottom: 10px;
}
.search-user .input-form-control{
	width: 40%;
	padding: 4px 5px;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.375rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-form-control:focus{
	color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}
.no-prosumers-map{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 30px;
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: -140px;
	padding-top: 15vh;
	height: 70vh;
}
.none{
	display: none !important;
}
.search-result{
	z-index: 1010;
	background-color: #f6f6f6;
	box-shadow: 0px 1px 4px 1px #b0a7a7;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap:10px;
	max-height: 200px;
	padding: 10px;
	width: 100%;
	position: relative;
	bottom: 3px;
	border-radius: 0 0 10px 10px;
}
.search-result > .no-results{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-result > .no-results > p{
	font-size: 35px;
	color: #a39d9d;
	text-align: center;
}
.location{
	padding: 3px;
	border-radius: 2px;
	background-color: #dddddd;
	cursor: pointer;
}
.location:hover{
	text-decoration: underline;
}
.hidden{
	visibility: hidden;
}
#legend{
	display: block; 
	cursor: pointer;
}
.c-grey-900 {
	position: absolute;
	top: 35%;
	left: 83.5%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	background-color: white;
	width: 20%;
	height: 13%;
	text-align: left;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #D2D2D2;
	font-size: 16px;
}
@media screen and (max-width: 1900px) {
	.c-grey-900 {
		width:calc(21.8vw + 5vw);
		height: calc(14.8vh + 2vw);
		left: calc(86% - 8vw);
		top: calc(44.8% - 6.6vh);
	}
}
@media screen and (max-width: 1279px) {
	.c-grey-900 {
		width:calc(34vw + 2vw);
		height: calc(17vh + 3vw);
		left: calc(82% - 8vw);
		top: calc( 49% - 5.6vh);
	}
}
@media screen and (max-width: 1023px) {
	.c-grey-900 {
		width:calc(40vw + 2vw);
		height: calc(11vh + 3vw);
		left: calc(80% - 8vw);
		top: calc(40% - 6.6vh);
	}
}
@media screen and (max-width: 768px) {
	.c-grey-900 {
		width:calc(40vw + 2vw);
		height: calc(12.5vh + 3vw);
		left: calc(78% - 8vw);
		top: calc(42.5% - 6.6vh);
		font-size: 14px;
	}
}
