
<div class="c-grey-900" >
	<div style="display: inline-block;"><h2   style=" font-weight: bolder;">Legend</h2></div>
	<div id="legend" ><span class="green-square" ></span> Consumption less than 350 kWh</div>
	<div id="legend"><span class="blue-square"></span> Consumption between 351 and 1600 kWh</div>
	<div id="legend"><span class="red-square" ></span> Consumption more than 1601 kWh</div>
</div>
<div id="container">
	<div class="search-container">
		<div class="map-filters-container">
			<div class="filter-select">
				<label>Filter by zone</label>
				<select name="zone" (change)="changeZone()" [(ngModel)]="zone">
					<option value="0">All zones</option>
					<option value="1">Green zone</option>
					<option value="2">Blue zone</option>
					<option value="3">Red zone</option>
				</select>
			</div>
			<div class="search-user">
				<label>Search user by name or address</label>
				<input class="input-form-control" type="text" name="user" [(ngModel)]="name" (ngModelChange)="changeName()">
				<div class="search-result" [class.hidden]="!searchResultVisible">
					<div *ngIf="filteredUsers.length==0" class="no-results">
						<p>There are no results</p>
					</div>	
					<div *ngFor="let user of filteredUsers" (click)="focusUser(user)" class="location">
						{{user?.name}},{{user.address}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="no-prosumers-map" *ngIf="loading"><app-loader [showLabel]="false"></app-loader></div>
	<div class="no-prosumers-map" *ngIf="!loading && prosumers.length==0">There are no prosumers to show</div>
	<div id="map-wrapper" [class.none]="loading || prosumers.length==0" >
		<div id="prosumers-map"></div>
	</div>
</div>