<div class="containers">
  <div class="sort-by">
    <div class="form-group">
      <label for="dropdown ">Select by Category:</label>
      <select class="form-select" aria-label="Default select example" id="dropdown" style="cursor: pointer;" (change)="onSelectedCategory($event)" [(ngModel)]="deviceCategoryId" required>
          <option *ngFor="let category of categories" [value]="category.id" >{{category.name}}</option>
      </select>
    </div>
  </div>
  <div class="table">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Name</th>
                <th *ngIf="deviceCategory===false">Consumption</th>
                <th *ngIf="deviceCategory===true">Production</th>
                <th>On/Off</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dev of devicesList | paginate: {currentPage,itemsPerPage,totalItems} let i = index ">
                <ng-container *ngIf="dev.visibility">
                  <td [ngStyle]="{'background-color': dev.controlability? 'white' : '#f2f2f2'}">{{ (currentPage - 1) * itemsPerPage + i +1  }}</td>
                  <ng-container *ngIf="dev.controlability">
                    <td>{{dev.deviceType}}</td>
                    <td>{{dev.deviceBrand}}</td>
                    <td>{{dev.deviceModel}}</td>
                    <td>{{dev.name}}</td>
                    <td>{{dev.energyInKwh}}</td>
                    <td class="on-off">
                     <label class="switch" *ngIf="dev.turnOn===false" (click)="turnOn(dev.id)">
                      <input type="checkbox" [disabled]="!confirmTurnOnOff">
                      <span class="slider round"></span>
                    </label>
                    <label class="switch" *ngIf="dev.turnOn===true"  (click)="turnOff(dev.id)">
                      <input type="checkbox" checked [disabled]="!confirmTurnOnOff">
                      <span class="slider round"></span>
                    </label>
                    </td>
                  </ng-container>
                  <ng-container *ngIf="!dev.controlability" >
                    <td style="background-color: #f2f2f2;">{{dev.deviceType}}</td>
                    <td style="background-color: #f2f2f2;">{{dev.deviceBrand}}</td>
                    <td style="background-color: #f2f2f2;">{{dev.deviceModel}}</td>
                    <td style="background-color: #f2f2f2;">{{dev.name}}</td>
                    <td style="background-color: #f2f2f2;">{{dev.energyInKwh}}</td>
                    <td style="background-color: #f2f2f2;" class="on-off">
                     <label class="switch" *ngIf="dev.turnOn===false" (click)="noControl()">
                      <input type="checkbox"   disabled="true">
                      <span class="slider round"></span>
                    </label>
                    <label class="switch" *ngIf="dev.turnOn===true"(click)="noControl()"  >
                      <input type="checkbox" checked   disabled="true">
                      <span class="slider round"></span>
                    </label>
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
              
                
                </tbody>
          </table>
        <app-page-control (pageChange)="pageChanged($event)" *ngIf="itemsPerPage<totalItems"></app-page-control>
      </div>
  </div>
<ng-template #modalContent let-modal >
  <div class="modal-header">
    <!-- <h5 class="modal-title" id="modalTitle">{{ title }}</h5> -->
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <h5 class="modal-title" style="text-align: center; margin-bottom: 20px;">{{body}}</h5>
    <div id="subb">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')"id="popup">{{btnAction}}</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-outline-danger"  (click)="modal.dismiss('cancel')">Close</button>
    
    </div>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')"id="popup">{{btnAction}}</button>
    <button type="button" class="btn btn-outline-danger"  (click)="modal.dismiss('cancel')">Close</button>
  </div> -->
</ng-template>
<ng-template #modalContent1 let-modal >
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <h5 class="modal-title" style="text-align: center; margin-bottom: 20px;">{{body}}</h5>
    <div id="subb">
       <button type="button" class="btn btn-outline-danger"  (click)="modal.dismiss('cancel')">Close</button>
    
    </div>
  </div>
</ng-template>