

<div class="containers">
  <!-- <div class="search">
    <input type="text" placeholder="Search...">
  </div>
  <div class="sort-by">
      <select id="deviceCategoryId" class="form-control" name="deviceCategoryId" (change)="onSelectedCategory($event)" [(ngModel)]="deviceCategoryId" required>
          <option *ngFor="let category of categories" [value]="category.id" >{{category.name}}</option>
      </select>
    <select>
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
    <select>
      <option value="10">10 per page</option>
      <option value="20">20 per page</option>
      <option value="50">50 per page</option>
    </select>
  </div> -->
  <div class="table">
      <div class="table">
          <table>
            <thead>
              <tr>
                <th>Device Type</th>
                <th>Device Brand</th>
                <th>Device Model</th>
                <th>Device Name</th>
                <th>Peak Power</th>
                <th>On/Off</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dev of devicesList | paginate: {currentPage,itemsPerPage,totalItems}">
                  <ng-container *ngIf="dev.visibility">
                    <ng-container *ngIf="dev.controlability">
                      <td>{{dev.deviceType}}</td>
                      <td>{{dev.deviceBrand}}</td>
                      <td>{{dev.deviceModel}}</td>
                      <td>{{dev.name}}</td>
                      <td>{{dev.energyInKwh}}</td>
                      <td class="on-off">
                        <a class="btn" id="startbutton" role="button" data-bs-toggle="modal" data-bs-target="#myModalOff" *ngIf="dev.turnOn === true" (click)="turnOnOff(dev.id)">On</a>
                        <a class="btn" id="startbutton" role="button" data-bs-toggle="modal" data-bs-target="#myModalOn" *ngIf="dev.turnOn === false" (click)="turnOnOff(dev.id)">Off</a>
                      </td>
                    </ng-container>
                    <ng-container *ngIf="!dev.controlability">
                      <td>{{dev.deviceType}}</td>
                      <td>{{dev.deviceBrand}}</td>
                      <td>{{dev.deviceModel}}</td>
                      <td>{{dev.name}}</td>
                      <td>{{dev.energyInKwh}}</td>
                      <td class="on-off">
                        <a class="btn " id="startbutton" role="button" data-bs-toggle="modal" data-bs-target="#myModalNoControl" *ngIf="dev.turnOn === true" >On</a>
                        <a class="btn " id="startbutton" role="button" data-bs-toggle="modal" data-bs-target="#myModalNoControl"*ngIf="dev.turnOn === false" >Off</a>
                      </td>
                    </ng-container>
                  </ng-container>
                </tr>
                
                </tbody>
          </table>
<app-page-control (pageChange)="pageChanged($event)" *ngIf="itemsPerPage<totalItems"></app-page-control>
      </div>
  </div>
</div>

 <!-- Modal On -->
<div class="modal fade" id="myModalOn" tabindex="-1" aria-labelledby="myModalOnLabel" aria-hidden="true" data-bs-backdrop="true" data-bs-keyboard="true">
<div class="modal-dialog  modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">      
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
    </div>
    <div class="modal-body">
      <h5 class="modal-title" id="myModalOnLabel" style="text-align: center;">Do you want to turn on this device?</h5>
    </div>
    <div class="modal-footer" >
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="turn-on-popup">Turn On</button>
        
      <button type="button" class="btn btn-outline-danger " data-bs-dismiss="modal">
        Close
      </button>
     
    </div>
  </div>
</div>
</div>
<!-- Modal Off -->
<div class="modal fade" id="myModalOff" tabindex="-1" aria-labelledby="myModalOffLabel" aria-hidden="true" data-bs-backdrop="true" data-bs-keyboard="true">
<div class="modal-dialog  modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h5 class="modal-title" id="myModalOffLabel" style="text-align: center;">Do you want to turn off this device?</h5>
      
    </div>
    <div class="modal-footer" >
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="turn-off-popup">Turn Off</button>
        
      <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
        Close
      </button>
      
    </div>
  </div>
</div>
</div>

   <!-- Modal No Control -->
   <div class="modal fade" id="myModalNoControl" tabindex="-1" aria-labelledby="myModalNoControlLabel" aria-hidden="true" data-bs-backdrop="true" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-body">
          <h5 class="modal-title" id="myModalNoControlLabel" style="text-align: center;">Cant control this device!</h5>
          
        </div>
        <div class="modal-footer" >
            
            
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
            Close
          </button>
          
        </div>
      </div>
    </div>
  </div>
