<div class="wrapper">


    <div id="content">

        <nav class="navbar">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../../assets/white-logo.png" class="logo">
                    <span>WattApp</span>
                </a>
                <div class="user">
                    <div class="dropdown">
                        <a class="dropbtn"><i class="fa fa-user"></i> Admin</a>
                        <div class="dropdown-content">
                            <a href="#"><i class="fa fa-settings"></i> Settings</a>
                            <a href="#" id="logouta" (click)="logout()"><i class="fa fa-user"></i>  Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="content"></div>