.register-container {
    min-height: 100vh;
    background: linear-gradient(150deg, #166a77, #04d8f9);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.register-container>.logo {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
    padding-top: 20px;
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
}

.register-container>.description {
    font-size: 18px;
    font-family: 'Aladin', cursive;
    letter-spacing: 5px;
    padding-top: 30px;
    padding-right: 50px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.register-container .login-form {
    width: 500px;
    height: 420px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #383838;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form-wrapper {
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

label {
    font-weight: bold;
}

.btn {
    margin-top: 10px;
    margin-right: 10px;
}

.error-message {
    color: red;
}

.link {
    padding-top: 10px;
    font-size: 18px;
}