<div class="register-container">
    <div class="logo">Register</div>
    <div class="login-form-wrapper">
        <div class="login-form">
            <div class="form-group">
                <label for="registerName">First name</label>
                <input type="text" [(ngModel)]="registerName" name="registerName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="registerUserName">User name</label>
                <input type="text" [(ngModel)]="registerUserName" name="registerUserName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="registerRassword">Password</label>
                <input type="password" [(ngModel)]="registerRassword" name="registerRassword" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Repeat password</label>
                <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control" />
            </div>
            <div class="btn-container">
                <button class="btn btn-dark" (click)="register()">Register</button><br>
                <a class="link" [routerLink]='["/login"]'>Already have acount</a>
            </div>
            <div class="error-message">{{errorMsg}}</div>
        </div>
    </div>
</div>