<div class="card">
    <div class="card-header" *ngIf="driver">{{pageTitle + ": " + driver.name}}</div>
    <div class="card-body"
         *ngIf="driver">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3">Name:</div>
            <div class="col-md-6">{{driver.name}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Nationality:</div>
            <div class="col-md-6">{{driver.nationality}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Championships:</div>
            <div class="col-md-6">{{driver.championships}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Number:</div>
            <div class="col-md-6">{{driver.number}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Year of Birth:</div>
            <div class="col-md-6">{{driver.yearOfBirth}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Team:</div>
            <div class="col-md-6">{{driver.team}}</div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <button class="btn btn-outline-secondary mr-3" style="width:80px;margin-right:10px;" (click)="goBack()">
            <i class="fa fa-chevron-left"></i> Back
          </button>
          <button class="btn btn-outline-primary" style="width:80px;margin-right:10px;" [routerLink]="['/drivers', driver.id,'edit']">
            Edit
          </button>
        </div>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
  </div>