.table-container {
    overflow-x: auto;
}

.responsive {
    overflow-x: auto;
}

.btn {
    background-color: #bce9e4;
    color: grey;
}

@media (min-width: 320px) {
    h1 {
        font-size: 20px;
    }
    .table {
        font-size: 14px;
    }
    .table td,
    .table th {
        padding: 2px;
    }
    .table-container {
        overflow-x: auto;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 37px;
    }
    .table {
        font-size: 25px;
    }
}