#sideBar{
    height: 100vh;
    padding-top: 80px;
    margin-right: 20px;
    position: fixed;
    background-color: #FFFFFF!important;
}


#dashboard{
    margin-top: 60px;
    vertical-align: middle;
    margin-left: 170px;
}
#navbar{

    margin: 0;
    padding: 0;
    background-color: #1C315E!important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2)
}