.chart {
    background-color: white;
    border-radius: 5px;
    width: 100%;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 30vh;
    width: 100%;
}
#linechart{
    display: flex;
    width: 100%;
}