<div class="table-container">
    <div class="table-wrapper">
      <h2 class="table-title">Consumption</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Year</th>
            <th>Month</th>
            <th>Energy</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list1">
            <td>{{ item.year }}</td>
            <td>{{ item.month }}</td>
            <td>{{ item.energyUsageResult }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="table-wrapper">
      <h2 class="table-title">Production</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Year</th>
            <th>Month</th>
            <th>Energy</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list2">
            <td>{{ item.year }}</td>
            <td>{{ item.month }}</td>
            <td>{{ item.energyUsageResult }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  