<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Energy Usage</h1>
      <div class="form-group">
        <label>Select Settlement:</label>
        <select style="padding: 10px; text-align: center;" [(ngModel)]="selectedOption" (change)="onOptionSelected()">
          <option value="0">Ukupno</option>
          <option *ngFor="let item of settlements" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="table-container">
        <div class="table-wrapper">
          <h2 class="table-title">Consumption</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Energy</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of list1">
                <td>{{ item.year }}</td>
                <td>{{ item.month }}</td>
                <td>{{ item.energyUsageResult }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-wrapper">
          <h2 class="table-title">Production</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Energy</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of list2">
                <td>{{ item.year }}</td>
                <td>{{ item.month }}</td>
                <td>{{ item.energyUsageResult }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
