<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Energy Usage</h1>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Year</mat-label>
          <input matInput [matDatepicker]="dp" [formControl]="date" [max]="maxYear">
          <mat-hint>YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp
                          startView="multi-year"
                          (yearSelected)="setYear($event, dp)"
                          panelClass="example-year-picker">
            <mat-multi-year-view [selected]="date.value" (yearSelected)="dp.close()"></mat-multi-year-view>
            <mat-year-view [activeDate]="date.value" (yearSelected)="dp.close()"></mat-year-view>
            <mat-month-view></mat-month-view>
          </mat-datepicker>
        </mat-form-field>
        <label>Select Settlement:</label>
        <select style="padding: 10px; text-align: center;" [(ngModel)]="selectedOption" (change)="onOptionSelected()">
          <option value="0">Total</option>
          <option *ngFor="let item of settlements" value="{{item.id}}">{{item.name}}</option>
        </select>
        <button class="btn" (click)="downloadCSV()">Export to CSV</button>
      </div>
      <div class="table-container">
        <div class="table-wrapper">
          <h2 class="table-title">Consumption/Production</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Consumption</th>
                <th>Production</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item1 of list1">
                <ng-container *ngFor="let item2 of list2">
                  <ng-container *ngIf="item1.year == item2.year && item1.month == item2.month">
                    <td>{{ item1.year }}</td>
                    <td>{{ item1.month }}</td>
                    <td>{{ item1.energyUsageResult }} kWh</td>
                    <td>{{ item2.energyUsageResult }} kWh</td>
                  </ng-container>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
