<div class="global">
    <div class="global1">
        
        <div class="header">
            <h3>Add User</h3>
        </div>
<!--         
        <form  (ngSubmit)="addUsers()" (ngModelChange)="onFormChange()" #form="ngForm">
            <div class="form-row row">
                <div class="form-group add-user-form col-md-3" >
                    <label for="name">Name</label>
                    <br>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addUserRequest.name"(ngModelChange)="onFormChange()">
                    <br>
                    <label for="email">Email</label>
                    <br>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="addUserRequest.email"(ngModelChange)="onFormChange()">
                    <br>
                    <label for="username">Username</label>
                    <br>
                    <input type="text" class="form-control" id="userName" name="username" [(ngModel)]="addUserRequest.username"(ngModelChange)="onFormChange()">
                    <br>
                    <label for="role">Role</label>
                    <br>
                    <select id="role" class="select-form-control" name="role" [(ngModel)]="addUserRequest.roleId" (ngModelChange)="onFormChange()">     
                        <option class="optionRole" [value]="roles.ADMIN_ID">{{roles.ADMIN_NAME}}</option>
                        <option class="optionRole" [value]="roles.DISPATCHER_ID">{{roles.DISPATCHER_NAME}}</option>
                        <option class="optionRole" [value]="roles.PROSUMER_ID">{{roles.PROSUMER_NAME}}</option>
                    </select>
                    <br>
                    <br>
                </div>
                <div class="form-group col-md-8 ">
                    <map-input (locationChanged)="locationChanged($event)" (settlementChanged)="settlementChanged($event)"></map-input>
                </div>
            </div>
            <button type="submit" id="button-add" class="btn btn-primary ">ADD</button>
        </form> -->
        <form  (ngSubmit)="addUsers()" (ngModelChange)="onFormChange()" [formGroup]="userForm" >
            <div class="form-row row">
                <div class="form-group add-user-form col-md-3" >
                    <label for="name">Name</label>
                    <br>
                    <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid':isFormDirty2 && userForm.controls.name.errors}" [(ngModel)]="addUserRequest.name" (ngModelChange)="onFormChange()">
                    <br>
                    <label for="email">Email</label>
                    <br>
                    <input type="text" class="form-control" formControlName="email"  [ngClass]="{'is-invalid':isFormDirty2 && userForm.controls.email.errors}"[(ngModel)]="addUserRequest.email" (ngModelChange)="onFormChange()">
                    <br>
                    <label for="username">Username</label>
                    <br>
                    <input type="text" class="form-control" formControlName="username" [ngClass]="{'is-invalid':isFormDirty2 && userForm.controls.username.errors}"[(ngModel)]="addUserRequest.username" (ngModelChange)="onFormChange()">
                    <br>
                    <label for="role">Role</label>
                    <br>
                    <select  class="form-select" aria-label="Default select example" formControlName="role"[ngClass]="{'is-invalid':isFormDirty2 && userForm.controls.role.errors}" [(ngModel)]="addUserRequest.roleId">     
                        <option class="optionRole" [value]="roles.ADMIN_ID">{{roles.ADMIN_NAME}}</option>
                        <option class="optionRole" [value]="roles.DISPATCHER_ID">{{roles.DISPATCHER_NAME}}</option>
                        <option class="optionRole" [value]="roles.PROSUMER_ID">{{roles.PROSUMER_NAME}}</option>
                    </select>
                    <br>
                    <br>
                </div>
                <div class="form-group col-md-8 ">
                    <map-input (locationChanged)="locationChanged($event)" (settlementChanged)="settlementChanged($event)"></map-input>
                </div>
            </div>
            <button type="submit" id="button-add" class="btn btn-primary ">ADD</button>
        </form>
    </div>
</div>
<ng-template #modalContent let-modal >
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <h5 class="modal-title" style="text-align: center; margin-bottom: 20px;">{{body}}</h5>
      <div id="subb">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')"id="popup" *ngIf="confirm===true">{{btnAction}}</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-danger"  (click)="modal.dismiss('cancel')">Close</button>
      </div>
    </div>
  </ng-template>