.global {
	padding-left: 10px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 50px;
}

input {
    color: #1C315E;
}

.global1 {
    box-shadow: 2px 4px gray;
    background-color: white;
    padding: 10px;
    width: 80%;
    margin-bottom: 30px;
}
.add-user-form{
	width:90%;
}
h1 {
    color: #1C315E;
    display: flex;
    justify-content: center;
    font-style: italic;
}

label {
    color: #1C315E;
    font-style: italic;
    font-size: 25px;
}

form {
    margin-top: 50px;
}

.form-row {
    display: flex;
    justify-content: center;
}

button {
    justify-content: center;
    margin-left: 25%;
    width: 160px;
    background-color: #1C315E;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .global {
        padding-left: 5px;
        display: flex;
        justify-content: center;
        margin-top: 90px;
        margin-bottom: 50px;
    }
    
    input {
        color: #1C315E;
    }
    
    .global1 {
        box-shadow: 2px 4px gray;
        background-color: white;
        padding: 10px;
        width: 98%;
        margin-bottom: 30px;
    }
    .add-user-form{
        width:90%;
    }
    h1 {
        color: #1C315E;
        display: flex;
        justify-content: center;
        font-style: italic;
    }
    
    label {
        color: #1C315E;
        font-style: italic;
        font-size: 25px;
    }
    
    form {
        margin-top: 50px;
    }
    
    .form-row {
        display: flex;
        justify-content: center;
    }
    
    button {
        justify-content: center;
        margin-left: 25%;
        width: 160px;
        background-color: #1C315E;
    }
}