<div class="global">
    <div class="global1">
        <h1>Add User</h1>

        <form  (ngSubmit)="addUsers()">
            <div class="form-row row">
                <div class="form-group add-user-form col-md-3">
                    <label for="name">Name</label>
                    <br>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addUserRequest.name">
                    <br>
                    <label for="email">Email</label>
                    <br>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="addUserRequest.email">
                    <br>
                    <label for="username">Username</label>
                    <br>
                    <input type="text" class="form-control" id="userName" name="username" [(ngModel)]="addUserRequest.username">
                    <br>
                    <label for="role">Role</label>
                    <br>
                    <select id="role" class="select-form-control" name="role" [(ngModel)]="addUserRequest.roleId">     
                        <option [value]="roles.ADMIN_ID">{{roles.ADMIN_NAME}}</option>
                        <option [value]="roles.DISPATCHER_ID">{{roles.DISPATCHER_NAME}}</option>
                        <option [value]="roles.PROSUMER_ID">{{roles.PROSUMER_NAME}}</option>
                    </select>
                    <br>
                </div>
                <div class="form-group col-md-8 ">
                    <map-input (locationChanged)="locationChanged($event)" (settlementChanged)="settlementChanged($event)"></map-input>
                </div>
            </div>
            <button (click)="addUsers()" class="btn btn-primary ">ADD</button>
        </form>
        
    </div>
</div>