<!-- <div class="prosumer-info">
  <div class="info-cell">
    <div class="cell-label">Name:</div>
    <div class="cell-value">{{dso.name}}</div>
  </div>
  <div class="info-cell">
    <div class="cell-label">City:</div>
    <div class="cell-value">{{dso.city}}</div>
  </div>
  <div class="info-cell">
    <div class="cell-label">Communities:</div>
    <div class="cell-value">{{dso.settlement}}</div>
  </div>
  <div class="info-cell">
    <div class="cell-label">Address:</div>
    <div class="cell-value">{{dso.address}}</div>
  </div>
  <div class="info-cell">
    <div class="cell-label">Current Consumption:</div>
    <div class="cell-value">{{cC}} kWh</div>
  </div>
  <div class="info-cell">
    <div class="cell-label">Current Production:</div>
    <div class="cell-value">{{cP}} kWh</div>
  </div>
</div>
 -->
