<div *ngIf="prosumer" class="prosumer-info">
  <div class="info-cell">
    <div class="cell-label">Name:</div>
    <div class="cell-value">{{prosumer.name}}</div>
  </div>
  <div class="info-cell">
    <div class="cell-label">City:</div>
    <div class="cell-value">{{prosumer.city}}</div>
  </div>
  <div class="info-cell">
    <div class="cell-label">Communitie:</div>
    <div class="cell-value">{{prosumer.settlement}}</div>
  </div>
  <div class="info-cell">
    <div class="cell-label">Address:</div>
    <div class="cell-value">{{prosumer.address}}</div>
  </div>
  <div class="info-cell">
    <div class="cell-label">Current Consumption:</div>
    <div class="cell-value">{{cC}} kWh</div>
  </div>
  <div class="info-cell">
    <div class="cell-label">Current Production:</div>
    <div class="cell-value">{{cP}} kWh</div>
  </div>
</div>