<div class="prosumer-info">
    <div class="info-cell">
      <div class="cell-label">Name:</div>
      <div class="cell-value">{{dso.username}}</div>
    </div>
    <div class="info-cell">
      <div class="cell-label">City:</div>
      <div class="cell-value">{{dso.city}}</div>
    </div>
    <div class="info-cell">
      <div class="cell-label">Communities:</div>
      <div class="cell-value">{{dso.settlement}}</div>
    </div>
    <div class="info-cell">
      <div class="cell-label">Address:</div>
      <div class="cell-value">{{dso.address}}</div>
    </div>
    <div class="info-cell">
      <div class="cell-label">Peak Power:</div>
      <div class="cell-value">100 MW</div>
    </div>
  </div>
  