<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row" style="margin-bottom:15px;">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter" />
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <button class="btn btn-primary mr-3" [routerLink]="['/drivers/0/edit']">
                    Add Driver
                </button>
            </div>
        </div>
        <div class="row" *ngIf="listFilter">
            <div class="col-md-6">
                <h4>Filtered by: {{listFilter}}</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table mb-0" *ngIf="drivers && drivers.length">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Team</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let driver of filteredDrivers">
                        <td>
                            <a [routerLink]="['/drivers', driver.id]">
                                {{ driver.name }}
                            </a>
                        </td>
                        <td>{{ driver.number }}</td>
                        <td>{{ driver.team }}</td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm"
                                [routerLink]="['/drivers', driver.id, 'edit']">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-warning btn-sm"
                                (click)="deleteDriver(driver.id,driver.name);">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
    Error: {{ errorMessage }}
</div>