.chart canvas {
    width: 100%;
    /* Set the width to 100% of the parent element */
    height: 300px;
    /* Set the height to 500 pixels */
}

.chart {
    display: block;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    padding-top: 18px;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    width: 100%;
}

.container2 {
    display: inline-block;
    width: 100%;
}

mat-form-field {
    width: 45%;
    float: left;
}

.container3 {
    float: right;
}

.btn {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: #bce9e4;
    color: grey;
    font-weight: normal;
    text-align: center;
}

.btn:hover {
    background-color: #93ede2;
}

@media only screen and (min-width: 768px) {
    .chart {
        display: inline-block;
    }
    .chart-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40vh;
        width: 100%;
    }
    mat-form-field {
        width: 29%;
        float: none;
        margin-left: 23%;
    }
}

@media(min-width:1280px) {
    mat-form-field {
        width: 15%;
        float: none;
        margin-left: 39%;
    }
}