<div class="chart">
    <div class="container2">
        <mat-form-field appearance="fill">
            <mat-label>Enter a date</mat-label>
          <input matInput [matDatepicker]="picker" [max]="maxDate" (dateChange)="onDateSelected($event)" [(ngModel)]="currentDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="container3">
            <button class="btn" (click)="downloadCSV()">Export to CSV</button>
        </div>
    </div>

    <div class="chart-container" *ngIf="consumptionGraph">
        <canvas id="linechart22"></canvas>
    </div>
    <div class="chart-container" *ngIf="productionGraph">
        <canvas id="linechart11"></canvas>
    </div>

</div>