.main {
    display: grid;
    grid-template-columns: repeat(5, 6rem);
}
.image{
    height: 2rem;
    padding-left: 2rem;
}

.sub{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.selected{
    font-weight: bold;
}