.weather-container {
    display: flex;
    margin-top: 5px;
    text-align: center;
  }
  
  .weather-container .flex-column {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    align-items: center;
  }
  
  .weather-container .small {
    font-size: 15px;
  }
  
  .weather-container .image {
    width: 50px;
    height: 50px;
  }
  