<div class="container" *ngIf="weatherNow">
    <div class="currentTime">{{ currentTime | date: "HH:mm EE MMM"}}</div>
    <div class="location">{{ location.name }}, {{ location.country }}</div>
    <div class="temp">
        <img src="assets/img/{{weatherNow.weather[0].icon}}.png" alt="">
        <h3>{{ weatherNow.main.temp | number: '1.0-0' }} °C</h3>
    </div>
    <!-- <div class="details">
        <div class="main">
            Feels like {{ weatherNow.main.feels_like | number: '1.0-0' }} °C . {{ weatherNow.weather[0].main }}. {{ weatherNow.weather[0].description }}
        </div>
        <div class="sub">
            Humidity : {{ weatherNow.main.humidity }}%
        </div>
    </div> -->
    <!-- <div class="timeline">
        <h3>3-Hour Forecast</h3>
        <div *ngFor="let item of timeline">
            <div> {{ item.time | date: 'HH:mm' }}</div>
            <div> {{ item.temp | number: '1.0-0'}} °C</div>
        </div>
    </div> -->
</div>