.weather-container {
    height: 150px;
    display: flex;
    background: #ffffff;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    margin-right: 15px;
  }
  
  .weather-container .flex-column {
    display: flex;
    margin-left: 5%;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    }
  
  .weather-container .small {
    font-size: 15px;
  }
  
  .weather-container .image {
    width: 50px;
    height: 50px;
  }


  @media (max-width: 768px) {
    .weather-container {
      height: 100px;
      flex-direction: column;
      margin-right: 0;
    }
    
    .weather-container .flex-column {
      margin: 0;
    }
    
    .weather-container .image {
      width: 30px;
      height: 30px;
    }
    
    .weather-container .small {
      font-size: 12px;
    }
  }
  
  /* Media queries for larger screens */
  @media (max-width: 1200px) {
    .weather-container {
      height: 200px;
      margin-right: 30px;
    }
    
    .weather-container .flex-column {
      margin-left: 10%;
      margin-top: 20px;
    }
    
    .weather-container .image {
      width: 70px;
      height: 70px;
    }
    
    .weather-container .small {
      font-size: 18px;
    }
  }