.weather-container {
    background: #ffffff;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    width: 100%;
    margin-top: 100px;
  }
  
  .weather-container .flex-column {
    display: inline-block;
    margin-top: 10px;
    margin-left: 0px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    }
  
  .weather-container .small {
    font-size: 15px;
  }
  
  .weather-container .image {
    width: 50px;
    height: 50px;
  }


  @media (max-width: 768px) {
    .weather-container {
      width: 50%;
      flex-direction: column;
      margin-right: 0;
    }
    
    .weather-container .flex-column {
      margin: 0;
    }
    
    .weather-container .image {
      width: 35px;
      height: 35px;
    }
    
    .weather-container .small {
      font-size: 10px;
    }
  }
  
  /* Media queries for larger screens */
  @media (max-width: 1200px) {
    .weather-container {
      width: 100%;
      /* margin-right: 30px; */
    }
    
    
    
    .weather-container .image {
      width: 35px;
      height: 35px;
    }
    
    .weather-container .small {
      font-size: 10px;
    }
  }