<div class="toggle-container">
  <div class="toggle-buttons">
    <input type="radio" (click)="toggleDa()" name="toggle" id="dashboard-btn" checked >
    <label for="dashboard-btn">Dashboard</label>
    <span class="divider"></span>
    <input type="radio" (click)="toggleD()" name="toggle" id="devices-btn">
    <label for="devices-btn">Devices</label>
  </div>
  <div class="date-time">
    <p>{{ currentTime | date: 'dd.MM.yyyy HH:mm' }}</p>
  </div>
</div>
<div class="container" *ngIf="dashboard">
  <div class="card-group">
    <div class="consumption">
      <div class="consumption-body">
        <app-today-consumption></app-today-consumption>
      </div>
    </div>
    <div class="consumption">
      <div class="consumption-body">
        <app-month-consumption></app-month-consumption>    
      </div>
    </div>
    <div class="consumption">
      <div class="consumption-body">
        <app-today-production></app-today-production>
      </div>
    </div>
    <div class="consumption">
      <div class="consumption-body">
        <app-month-production></app-month-production>
      </div>
    </div>
  </div>
  <div class="information">
    <app-one-prosumer></app-one-prosumer>
  </div>
</div>
<app-all-devices-dso *ngIf="devices"></app-all-devices-dso>

<div class="container2" *ngIf="dashboard">
  <!-- <div class="today-future">
    <app-today></app-today>
    <app-future></app-future>
  </div> -->
  <div class="graph">

  </div>
</div>

