.wrapper{
  margin-top: 90px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  margin-bottom: 70px;
  
}
.toggle-container {

  display: flex;
  
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.toggle-buttons {
  margin-left: 15px;
  display: flex;
  align-items: center;
  
}

.toggle-buttons label {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.toggle-buttons input[type="radio"] {
  display: none;
}

.toggle-buttons span.divider {
  display: inline-block;
  width: 1px;
  height: 20px;
  margin: 0 10px;
  background-color: gray;
}

.toggle-buttons input[type="radio"]:checked + label {
  font-weight: bold;
}

.toggle-buttons input[type="radio"]:not(:checked) + label {
  color: gray;
}
.date-time {
  margin-right: 15px;
  text-align: right;
}

.container {
  max-width: 100%;
  min-height: 10%;
}

.information {
  width: 35%;
  margin-left: 15px;
}

.today-future{
  display: block;
  min-width: 30%;
  max-width: 100%;
  left: auto;
  right: auto;
  padding: 15px;
  margin: 0 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.search input[type="text"] {
  padding: 10px;
  width: 300px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
}

.sort-by {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sort-by select {
  margin-left: 10px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #0077cc;
  color: white;
  font-weight: normal;
  padding: 10px;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.on-off {
  text-align: center;
}

.on {
  color: green;
}

.off {
  color: red;
}

.history-charts {
  background-color: white;
  box-shadow: 2px 4px grey;
  /* border: 1px solid black; */
  height: 100%;
  flex-grow: 100;
  padding-left: 5%;
  margin-right: 15px;
  width: 100%;
}

.history-charts-body {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.csv-body {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
border: 1px solid #ccc;
border-radius: 10px;
padding: 10px;
}

.csv-button {
background-color: #2199e8;
color: #fff;
border: none;
border-radius: 10px;
padding: 8px 16px;
font-size: 16px;
font-weight: bold;
cursor: pointer;
transition: all 0.3s ease;
}

.csv-button:hover {
background-color: #005ea6;
}

.chart-body {
display: flex;
justify-content: center;
margin-top: 20px;
}

.chart-buttons {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.chart-button {
cursor: pointer;
border: none;
padding: 10px 20px;
margin: 0 10px;
color: #2199e8;
font-size: 16px;
font-weight: bold;
border-radius: 25px;
background-color: white;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease;
}

.chart-button:hover {
background-color: #2199e8;
color: white;
box-shadow: 0 0 15px rgba(0, 119, 204, 0.5);
}

.tgl-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
}

.tgl-btn {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.tgl-btn label {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.tgl-btn input[type="radio"] {
  display: none;
}

.tgl-btn span.divider {
  display: inline-block;
  width: 1px;
  height: 20px;
  margin: 0 10px;
  background-color: gray;
}

.tgl-btn input[type="radio"]:checked + label {
  font-weight: bold;
}

.tgl-btn input[type="radio"]:not(:checked) + label {
  color: gray;
}
.card-group {
  margin-left: 17px;
  margin-right: 15px;
  flex-wrap: 100px;
  text-align: center;
  margin-bottom: 10px;
}
.ta-c {
  text-align: center !important;
}
.mT-20 {
  margin-top: 20px !important;
}
.jc-sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.peers {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  height: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.gap-10 > * {
  padding: 10px !important;
}
.gap-10 {
  margin: 10px !important;
}
[class*='gap'] {
  width: auto !important;
  overflow: hidden !important;
}
.bgc-white, .bgcH-white:hover {
  background-color: #ffffff !important;
  border-radius: 10px;
  box-shadow: 1px 2px grey;
  margin-bottom: 7px;
}
.bd {
  border: 1px solid rgba(0, 0, 0, 0.0625) !important;
}
.p-20 {
  padding: 5px !important;
  margin-right: 10px;
}
.peer {
  display: block;
  height: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.green-square {
  display: inline-block;
  background-color: rgb(111, 180, 111);
  width: 10px;
  height: 10px;
  margin-left: 10px;
}
.blue-square {
  display: inline-block;
  background-color: rgb(120, 120, 238);
  width: 10px; 
  height: 10px; 
  margin-left: 10px;
}
.red-square {
  display: inline-block;
  background-color: rgb(247, 117, 117);
  width: 10px;
  height: 10px; 
  margin-left: 10px;
}  
button.active {
  background-color: #2199e8;
  color: white;
  box-shadow: 0 0 15px rgba(0, 119, 204, 0.5);
}
@media (max-width: 768px) {
  .wrapper{
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;

    margin-bottom: 70px;
  }
  .toggle-container {
    flex-direction: column;
  }

  .toggle-buttons {
    margin-left: 0;
    margin-top: 10px;
  }

  .toggle-buttons label {
    font-size: 16px;
  }

  .toggle-buttons span.divider {
    display: none;
  }

  .date-time {
    margin-right: 0;
    margin-top: 10px;
    text-align: left;
}

  .container {
  flex-direction: column;
  align-items: center;
  }

  .card-group{
    width: 100%;
  }
.card-group .consumption {
flex: 1 0 calc(50% - 15px);
max-width: calc(50% - 15px);
}

.information {
min-width: 100%;
max-width: 100%;
margin: 10px 0;
}

.today-future {
min-width: 100%;
max-width: 100%;
margin: 10px 0;
}

.search input[type="text"] {
width: 100%;
}

.table {
width: 100%;
}

}
