<div class="toggle-container">
  <div class="toggle-buttons">
    <input type="radio" name="toggle" id="dashboard-btn" checked>
    <label for="dashboard-btn">Dashboard</label>
    <span class="divider"></span>
    <input type="radio" name="toggle" id="devices-btn">
    <label for="devices-btn">Devices</label>
  </div>
  <div class="date-time">
    <p>{{ currentTime | date: 'dd.MM.yyyy HH:mm' }}</p>
  </div>
</div>
<div class="container">
  <div class="card-group">
    <div class="consumption">
      <div class="consumption-body">
        <app-current-power-wattmeter></app-current-power-wattmeter>
      </div>
    </div>
    <div class="consumption">
      <div class="consumption-body">
        <app-consumption-today-wattmeter></app-consumption-today-wattmeter>
      </div>
    </div>
    <div class="consumption">
      <div class="consumption-body">
        <app-consumption-month-wattmeter></app-consumption-month-wattmeter>
      </div>
    </div>
    <div class="consumption">
      <div class="consumption-body">
        <app-consumption-year-wattmeter></app-consumption-year-wattmeter>
      </div>
    </div>
  </div>
  <div class="information">
    <app-one-prosumer></app-one-prosumer>
  </div>
</div>
