.main {
    top: 0;
    width: 100%;
    min-height: 100vh;
    position: absolute;
}

.centar {
    max-width: 100%;
    margin-top: 45px;
    text-align: center;
    height: auto;
}

#imgdevice {
    position: relative;
    width: 30%;
}

.back {
    text-align: left;
}

#turnback {
    margin-top: 5px;
    width: 7%;
}

h1 {
    margin-top: 15px;
    font-size: 15px;
}

form {
    text-align: left;
    margin: 10px;
    margin-bottom: 50px;
}

#giveupbutton {
    margin-left: 20px;
    background-color: red !important;
    border: red;
}

label {
    font-size: 15px !important;
}

.changepass {
    border-top: 2px solid silver;
    margin-top: 15px;
}

@media (min-width: 768px) {
    .centar {
        margin-top: 85px;
    }
    #turnback {
        width: 3%;
    }
    #imgdevice {
        width: 10%;
    }
    form {
        margin-left: 200px;
        margin-right: 200px;
    }
    h1 {
        font-size: 50px;
    }
    label {
        font-size: 20px !important;
    }
    button {
        width: 105px;
    }
    .card {
        border-radius: 15px;
        background-color: rgb(166, 203, 235);
        top: 10%;
        left: 8%;
        position: absolute;
        width: 80%;
    }
    .changepass {
        margin-top: 15px;
    }
}