<app-prosumer-navbar>
</app-prosumer-navbar>
<div class="main">
    <div class="centar">
        <div class="card">
            <div class="back">
                <a *ngIf="this.role==this.prosumer" [routerLink]='["/profile"]'><img id="turnback" src="assets/img/back.png" alt=""></a>
                <a *ngIf="this.role==this.dso" [routerLink]='["/profile-dso"]'><img id="turnback" src="assets/img/back.png" alt=""></a>
            </div>
            <div>
                <img id="imgdevice" src="assets/img/account.png" alt="">
            </div>
            <h1>{{name}}</h1>

            <form #form="ngForm" (ngSubmit)="upDateProsumer()">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" id="id" name="username" [(ngModel)]="updateUserDetail.username ">
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" id="id" name="name" [(ngModel)]="updateUserDetail.name ">
                </div>


                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" id="id" name="email" [(ngModel)]="updateUserDetail.email ">
                </div>

                <button type="submite" class="btn btn-primary">Save</button>
                <button type="submite" class="btn btn-primary" id="giveupbutton" *ngIf="this.role==this.prosumer"[routerLink]="['/profile']">Cancel</button>
                <button type="submite" class="btn btn-primary" id="giveupbutton" *ngIf="this.role==this.dso" [routerLink]="['/profile-dso']">Cancel</button>



            </form>
            <form #form="ngForm" (ngSubmit)="updatePasswordProsumer()" [formGroup]="myForm">
                <div class="changepass">
                    <div class="form-group">
                        <label for="oldpass" id="oldpas">Old Password</label>
                        <input type="password" formControlName="nameform1" class="form-control" name="oldPassword" placeholder="Old password" [(ngModel)]="oldPassword">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">New Password</label>
                        <input type="password" formControlName="nameform2" class="form-control" name="newPassword" placeholder="New password" [(ngModel)]="newPassword">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" formControlName="nameform3" class="form-control" name="confirmPassword" placeholder="Confirm password" [(ngModel)]="confirmPassword">
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button>
                    <button type="submit" class="btn btn-primary" id="giveupbutton" *ngIf="this.role==this.prosumer" [routerLink]="['/profile']">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="giveupbutton" *ngIf="this.role==this.dso" [routerLink]="['/profile-dso']">Cancel</button>
                </div>

            </form>

        </div>

    </div>
    <app-footer *ngIf="this.role==this.prosumer"></app-footer>
    <app-prosumer-footer *ngIf="this.role==this.prosumer"></app-prosumer-footer>
</div>