<app-prosumer-navbar>
</app-prosumer-navbar>
<div class="main">
    <div class="centar">
        <div class="card">
            <div class="back">
                <a href="prosumer-account-page"><img id="turnback" src="assets/img/turn-back.png" alt=""></a>
            </div>
            <div>
                <img id="imgdevice" src="assets/img/account.png" alt="">
            </div>
            <!-- <h1>{{updateUserDetail.name}}</h1> -->

            <form #form="ngForm" (ngSubmit)="upDateProsumer()">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" id="id" name="username" [(ngModel)]="updateUserDetail.username ">
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" id="id" name="name" [(ngModel)]="updateUserDetail.name ">
                </div>
                <div class="form-group">
                    <label>Adress</label>
                    <input type="text" class="form-control" id="id" name="address" [(ngModel)]="updateUserDetail.address ">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" id="id" name="email" [(ngModel)]="updateUserDetail.email ">
                </div>
                <button type="submite" class="btn btn-primary">Save</button>
                <button type="submite" class="btn btn-primary" id="giveupbutton" [routerLink]="['prosumer-account-page']">Cancel</button>
                <!-- <div class="changepass">
                    <div class="form-group" id="">
                        <label for="exampleInputPassword1">Old Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">New Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Repeat new Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="save" class="btn btn-primary">Save</button>
                    <button type="giveup" class="btn btn-primary" id="giveupbutton">Cancel</button>
                </div> -->
            </form>
        </div>

    </div>
</div>
<app-prosumer-footer></app-prosumer-footer>