.chart canvas {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    padding-top: 18px;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 40vh;
    width: 100%;
}