.table-container {
    overflow-x: auto;
}

.responsive {
    overflow-x: auto;
}

.btn {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: #bce9e4;
    color: grey;
    font-weight: normal;
    text-align: center;
}

.btn:hover {
    background-color: #93ede2;
}


/* .containter3 {
    float: right;
} */

@media (min-width: 320px) {
    h1 {
        font-size: 20px;
    }
    .table {
        font-size: 14px;
    }
    .table td,
    .table th {
        padding: 2px;
    }
    .table-container {
        overflow-x: auto;
    }
}

.container {
    padding: 0;
}

.row {
    margin-right: -17px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 37px;
    }
    .table {
        font-size: 25px;
    }
}