.wrapper{
    margin-top: 60px;
    min-height: calc(100vh - 61px);
    width: 100%;
}
.head {
    justify-content: flex-end;
    height: 100%;
}
/* .overview {
    background-color: white;
    box-shadow: 2px 4px grey;
    margin-right: 15px;
    margin-left: 0px;
    padding-left: 17px;
    padding-right: 15px;
    flex-grow: 100;
    text-align: center;
    border: 1px solid black;
} */


   /* satici */

/* .consumption {

    
    width:23%;

    border-right: 1px solid gray;
   
}
.consumption-body {
    background-color: white;
    width: 20%;
    text-align: center;
} */

.card-group {

    margin-left: 17px;
    margin-right: 15px;
    flex-wrap: 100px;
    text-align: center;
    
    /* border: 1px solid black; */
}
.ta-c {
    text-align: center !important;
}
.mT-20 {
    margin-top: 20px !important;
}
.jc-sb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.peers {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.gap-10 > * {
    padding: 10px !important;
}
.gap-10 {
    margin: 10px !important;
}
[class*='gap'] {
    width: auto !important;
    overflow: hidden !important;
}
.bgc-white, .bgcH-white:hover {
    background-color: #ffffff !important;
    border-radius: 5px;
    box-shadow: 1px 2px grey;
    margin-bottom: 7px;
}

.bd {
    border: 1px solid rgba(0, 0, 0, 0.0625) !important;
}
.p-20 {
    padding: 20px !important;
}
.peer {
    display: block;
    height: auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-top: 20px;
}



.history-charts {
    background-color: white;
    box-shadow: 2px 4px grey;
    /* border: 1px solid black; */
    height: 100%;
    flex-grow: 100;
    padding-left: 5%;
    margin-right: 15px;
    width: 200px;
}

.history-charts-body {
    margin-top: 15px;
    flex-grow: 100;
    left: -80px;
    right: -120px;
    bottom: 0px;
    top: 0px;
    margin-right: 15px;
}


/* .chart-body {
    border: 1px solid black;
    padding-top: 2px;
} */


/* .csv-body {
    border: 1px solid black;
} */

.csv-body {
    flex-grow: 100;
}

.chart-body {
    margin-left: 40%;
    flex-grow: 100;
}


/* .history-charts-body{
    margin-left: 200px;
} */

.numpro {
    margin-left: 15px;
    
    background-color: white;
    border-radius: 5px;
    width: 20%;
    box-shadow: 1px 2px grey;
    margin-bottom: 7px;
  }
  
  .tile_stats_count {
    width: 65%;
    margin-top: 15px;
    float: none;
    display: inline-block;
    text-align: center;
  }
  
  .count_top {
    font-size: 12px;
    text-transform: uppercase;
    color: #7B7B7B;
  }

  .count {
    font-size: 30px;
    font-weight: bold;
    color: #3071af;
  }
  
  .count_bottom {
    font-size: 12px;
    color: #999;
    margin-top: 2px;
  }
  
  .green {
    color: #3071af;
  }
  
  .numpro-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
    color: #7B7B7B;
  }
  #pie{
    margin-left: 15px;

    background-color: white;
    border-radius: 5px;
    width:25%;
    box-shadow: 1px 2px grey;
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  #chart{
    margin-top: 0,auto;
    padding-bottom: 0;
  }
  
.green-square {
    display: inline-block;
    background-color: rgb(111, 180, 111);
    width: 17px; /* Set the width to your desired size */
    height: 17px; /* Set the height to the same value as the width to create a square shape */
    margin-left: 10px;
    cursor: pointer;
}

  .blue-square {
    display: inline-block;
    background-color: rgb(120, 120, 238);
    width: 17px; /* Set the width to your desired size */
    height: 17px; /* Set the height to the same value as the width to create a square shape */
    margin-left: 10px;
    cursor: pointer;
}
  .red-square {
    display: inline-block;
    background-color: rgb(247, 117, 117);
    width: 17px; /* Set the width to your desired size */
    height: 17px; /* Set the height to the same value as the width to create a square shape */
    margin-left: 10px;
    cursor: pointer;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper{
        margin-top: 60px;
        min-height: calc(100vh - 61px);
        width: 100%;
    }
    .head {
        justify-content: flex-end;
        height: 100%;
    }
    /* .overview {
        background-color: white;
        box-shadow: 2px 4px grey;
        margin-right: 15px;
        margin-left: 0px;
        padding-left: 17px;
        padding-right: 15px;
        flex-grow: 100;
        text-align: center;
        border: 1px solid black;
    } */
    
    
       /* satici */
    
    /* .consumption {

        
        width:23%;

        border-right: 1px solid gray;
       
    }
    .consumption-body {
        background-color: white;
        width: 20%;
        text-align: center;
    } */
    
    .card-group {

        margin-left: 17px;
        margin-right: 15px;
        flex-wrap: 100px;
        text-align: center;
        
        /* border: 1px solid black; */
    }
    .ta-c {
        text-align: center !important;
    }
    .mT-20 {
        margin-top: 20px !important;
    }
    .jc-sb {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .peers {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        height: auto;
        max-width: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
    }
    .gap-10 > * {
        padding: 5px !important;
    }
    .gap-10 {
        margin: 5px !important;
    }
    [class*='gap'] {
        width: auto !important;
        overflow: hidden !important;
    }
    .bgc-white, .bgcH-white:hover {
        background-color: #ffffff !important;
        border-radius: 5px;
        box-shadow: 1px 2px grey;
        margin-bottom: 7px;
    }
    
    .bd {
        border: 1px solid rgba(0, 0, 0, 0.0625) !important;
    }
    .p-20 {
        padding: 20px !important;
    }
    .peer {
        display: block;
        height: auto;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    
   
    
    .history-charts {
        background-color: white;
        box-shadow: 2px 4px grey;
        /* border: 1px solid black; */
        height: 100%;
        flex-grow: 100;
        padding-left: 5%;
        margin-right: 15px;
        width: 200px;
    }
    
    .history-charts-body {
        margin-top: 15px;
        flex-grow: 100;
        left: -80px;
        right: -120px;
        bottom: 0px;
        top: 0px;
        margin-right: 15px;
    }
    
    
    /* .chart-body {
        border: 1px solid black;
        padding-top: 2px;
    } */
    
    
    /* .csv-body {
        border: 1px solid black;
    } */
    
    .csv-body {
        flex-grow: 100;
    }
    
    .chart-body {
        margin-left: 40%;
        flex-grow: 100;
    }
    
    
    /* .history-charts-body{
        margin-left: 200px;
    } */
    
    .numpro {
        margin-left: 15px;
        
        background-color: white;
        border-radius: 5px;
        width: 30%;
        box-shadow: 1px 2px grey;
        margin-bottom: 7px;
      }
      
      .tile_stats_count {
        width: 65%;
        margin-top: 15px;
        float: none;
        display: inline-block;
        text-align: center;
      }
      
      .count_top {
        font-size: 12px;
        text-transform: uppercase;
        color: #7B7B7B;
      }

      .count {
        font-size: 30px;
        font-weight: bold;
        color: #3071af;
      }
      
      .count_bottom {
        font-size: 12px;
        color: #999;
        margin-top: 2px;
      }
      
      .green {
        color: #3071af;
      }
      
      .numpro-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        font-size: 14px;
        color: #7B7B7B;
      }
      #pie{
        margin-left: 15px;
        
 
        background-color: white;
        border-radius: 5px;
        width:65%;
        box-shadow: 1px 2px grey;
        margin-bottom: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      }
      #chart{
        margin-top: 0,auto;
        padding-bottom: 0;
      }
      
    .green-square {
        display: inline-block;
        background-color: rgb(111, 180, 111);
        width: 17px; /* Set the width to your desired size */
        height: 17px; /* Set the height to the same value as the width to create a square shape */
        margin-left: 10px;
        cursor: pointer;
    }
    
      .blue-square {
        display: inline-block;
        background-color: rgb(120, 120, 238);
        width: 17px; /* Set the width to your desired size */
        height: 17px; /* Set the height to the same value as the width to create a square shape */
        margin-left: 10px;
        cursor: pointer;
    }
      .red-square {
        display: inline-block;
        background-color: rgb(247, 117, 117);
        width: 17px; /* Set the width to your desired size */
        height: 17px; /* Set the height to the same value as the width to create a square shape */
        margin-left: 10px;
        cursor: pointer;
    }
    
}
