<div class="wrapper">
    <div class="card-group">
        <div class="bgc-white p-20 bd">
            <div class="c-grey-900 text-center"  >
                <div style="display: inline-block;"><h4 style=" font-weight: bolder;">Overview of {{updateUserDetail.city}}</h4></div>
                <hr style="margin-bottom: 0;padding-bottom: 0;">
            </div>
            <div class="peers mT-20 fxw-nw@lg+ jc-sb ta-c gap-10">
                <div class="peer">
                    <div class="c-grey-900 text-center"  >
                        <div data-bs-toggle="tooltip" data-bs-placement="top" title="Consumption less than 350 kWh" style="display: inline-block; cursor: pointer;font-size: 12px;"><span class="green-square" ></span> Green zone </div>
                        <div data-bs-toggle="tooltip" data-bs-placement="top" title="Consumption between 351 and 1600 kWh" style="display: inline-block; cursor: pointer;font-size: 12px;"><span class="blue-square"></span> Blue zone</div>
                        <div data-bs-toggle="tooltip" data-bs-placement="top" title="Consumption more than 1601 kWh" style="display: inline-block; cursor: pointer;font-size: 12px;"><span class="red-square" ></span> Red zone</div>
                        </div>
                        <app-current-power-wattmeter></app-current-power-wattmeter>
                        <span>Current consumption</span>
                </div>
                <div class="peer">
                    <div class="c-grey-900 text-center"  >
                        <div data-bs-toggle="tooltip" data-bs-placement="top" title="Consumption less than: 22,222 kWh" style="display: inline-block; cursor: pointer;font-size: 12px;"><span class="green-square" ></span> Green zone </div>
                        <div data-bs-toggle="tooltip" data-bs-placement="top" title="Consumption between: 22,223-44,444 kWh" style="display: inline-block; cursor: pointer;font-size: 12px;"><span class="blue-square"></span> Blue zone</div>
                        <div data-bs-toggle="tooltip" data-bs-placement="top" title="Consumption more than: 44,445 kWh" style="display: inline-block; cursor: pointer;font-size: 12px;"><span class="red-square" ></span> Red zone</div>
                    </div>
                        <app-consumption-today-wattmeter></app-consumption-today-wattmeter>
                        <span>Today consumption</span>
                </div>

                <div class="peer">
                    <div class="c-grey-900 text-center"  >
                        <div data-bs-toggle="tooltip" data-bs-placement="top" title="Consumption less than: 666,667 kWh" style="display: inline-block; cursor: pointer;font-size: 12px;"><span class="green-square" ></span> Green zone </div>
                        <div data-bs-toggle="tooltip" data-bs-placement="top" title="Consumption between: 666,668 - 1,333,333 kWh" style="display: inline-block; cursor: pointer;font-size: 12px;"><span class="blue-square"></span> Blue zone</div>
                        <div data-bs-toggle="tooltip" data-bs-placement="top" title="Consumption more than: 1,333,334 kWh" style="display: inline-block; cursor: pointer;font-size: 12px;"><span class="red-square" ></span> Red zone</div>
                    </div>
                        <app-consumption-month-wattmeter></app-consumption-month-wattmeter>
                        <span>Month consumption</span>
                </div>
                <div class="peer">
                    <div class="c-grey-900 text-center"  >
                        <div data-bs-toggle="tooltip" data-bs-placement="top" title="Consumption less than: 8,000,000 kWh" style="display: inline-block; cursor: pointer;font-size: 12px;"><span class="green-square" ></span> Green zone </div>
                        <div data-bs-toggle="tooltip" data-bs-placement="top" title="Consumption between: 8,000,001-16,000,000 kWh" style="display: inline-block; cursor: pointer;font-size: 12px;"><span class="blue-square"></span> Blue zone</div>
                        <div data-bs-toggle="tooltip" data-bs-placement="top" title="Consumption more than: 16,000,001 kWh" style="display: inline-block; cursor: pointer;font-size: 12px;"><span class="red-square" ></span> Red zone</div>
                    </div>
                        <app-consumption-year-wattmeter></app-consumption-year-wattmeter>
                        <span>Year consumption</span>
                </div>
            </div>
        </div>
        <div class="numpro">
            <div class="col-md-2 col-sm-4  tile_stats_count">
                <span class="count_top"><i style="font-size: 15px;margin-right: 5px;" class="fa fa-user"></i>Total Prosumers in {{updateUserDetail.city}}</span>
                <div class="count">{{numberOfProsumers}}</div>
                <span class="count_bottom"><i class="green">10% </i> From last Week</span>
            </div>
            <hr style="margin: 0;">
            <div class="col-md-2 col-sm-4  tile_stats_count">
                <span class="count_top"><i style="font-size: 15px; margin-right: 5px;"class="fa fa-sun"></i>Total Production in {{updateUserDetail.city}}</span>
                <div class="count">20</div>
                <span class="count_bottom"><i class="green">2% </i> From last Week</span>
            </div>
            
            <hr style="margin: 0;">
            <div class="col-md-2 col-sm-4  tile_stats_count">
                <span class="count_top"><i style="font-size: 15px; margin-right: 5px;" class="fa fa-bolt"></i>Average Production in {{updateUserDetail.city}}</span>
                <div class="count">{{avgProduction}} kWh</div>
                <span class="count_bottom"><i class="green"><i class="fa fa-arrow-up"></i>14% </i> From last Week</span>
            </div>
            
        </div>
        <div id="pie">
            
            <span style="margin: 0; padding: 0;"><b>Current production in stettlements </b> </span>
            
            <div id="chart">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="weather">
            <div class="weather-body">
                <app-today></app-today>
                <app-future></app-future>
            </div>
        </div>

       <div class="history-charts">
            <div class="toggle-container">
                <div class="toggle-buttons">
                  <input type="radio" (click)="showGraph()" name="toggle" id="dashboard-btn" checked >
                  <label for="dashboard-btn">Graphical view</label>
                  <span class="divider"></span>
                  <input type="radio" (click)="showTable()" name="toggle" id="devices-btn">
                  <label for="devices-btn">Tabelar view</label>
                </div>
            </div>
            <div class="csv-body">
                <span>Power and Energy</span>
                <button class="csv-button">CSV</button>
              </div>
            <ng-container *ngIf="graph">
                <div class="chart-body">
                    <div class="chart-buttons">
                      <button (click)="showComponentGraph()" class="chart-button">Day</button>
                      <button (click)="showComponentGraph1()" class="chart-button">Week</button>
                      <button (click)="showComponentGraph2()" class="chart-button">Month</button>
                      <button (click)="showComponentGraph3()" class="chart-button">Year</button>
                    </div>
                  </div>
                <div class="history-charts-body" *ngIf="compGraph">
                    <app-line-day-chart></app-line-day-chart>
                </div>
                <div class="history-charts-body" *ngIf="compGraph1">
                    <app-line-week-chart></app-line-week-chart>
                </div>
                <div class="history-charts-body" *ngIf="compGraph2">
                    <app-bar-month-chart></app-bar-month-chart>
                </div>
                <div class="history-charts-body" *ngIf="compGraph3">
                    <app-bar-year-chart></app-bar-year-chart>
                </div>
            </ng-container>
            <ng-container *ngIf="tabelar">
                <div class="chart-body">
                    <div class="chart-buttons">
                      <button (click)="showComponentTable()" class="chart-button">Day</button>
                      <button (click)="showComponentTable1()" class="chart-button">Week</button>
                      <button (click)="showComponentTable2()" class="chart-button">Month</button>
                      <button (click)="showComponentTable3()" class="chart-button">Year</button>
                    </div>
                  </div>
                <div class="history-charts-body" *ngIf="compTable1">
                    <app-tabelar-view-by-week></app-tabelar-view-by-week>
                </div>
                <div class="history-charts-body" *ngIf="compTable2">
                    <app-tabelar-view-by-month></app-tabelar-view-by-month>
                </div>
                <div class="history-charts-body" *ngIf="compTable3">
                    <app-tabelar-view-by-year></app-tabelar-view-by-year>
                </div>
            </ng-container>
        </div> 
    </div>

</div>
