<div class="col-sm-9 ml-sm-auto col-md-11" style="border: 1px solid black;" id="sve">
  <div class="card-group">
    <div class="price">
      <div class="price-body">
        <h4 id="price-title">Current price of Electricity</h4>
        <p><b>2.96</b> RSD/kWh</p>
        <hr style="width: 300px; margin: auto;">
        <p style="font-size: 12px;">The predicted price may differ from the final one, it is based on...</p>
        </div>
    </div>
    <div class="overview">
      <div class="overview-body">
        <span>overview </span>
        <span>Number or </span>
        <span> WattMeter</span>
      </div>
      <div class="card-group">
          <div class="consumption">
            <div class="consumption-body">
              <app-current-power-wattmeter></app-current-power-wattmeter>
            </div>
          </div>
          <div class="consumption">
            <div class="consumption-body">
              <app-consumption-today-wattmeter></app-consumption-today-wattmeter>
            </div>
          </div>
      
          <div class="consumption">
            <div class="consumption-body">
              <app-consumption-month-wattmeter></app-consumption-month-wattmeter>
            </div>
          </div>
          <div class="consumption">
              <div class="consumption-body">
                <app-consumption-year-wattmeter></app-consumption-year-wattmeter>
              </div>
          </div>
      </div>
    </div>

  </div>


  <div class="card-group">
      <div class="weather">
        <div class="weather-body">
          <span><app-number-of-users-meter></app-number-of-users-meter></span>
        </div>
      </div>
      <div class="history-charts">
        <div class="csv-body">
          <span>Power and Energy </span>
          <span> csv </span>
        </div>
        <div class="csv-body">
          <a>Day </a>
          <a> Week </a>
          <a> Month </a>
          <a> Year </a>
        </div>
        <div class="history-charts-body">
          <app-bar-chart></app-bar-chart>
        </div>
      </div>
  </div>


</div>
















<!-- <div class="overview">
  <div class="overview-body">
    <span>overview </span>
    <span>Number or </span>
    <span> WattMeter</span>
  </div>
</div>

<div class="card-group">
  <div class="price">
        <div class="price-body">
          <span>price asdsadasdasdsadasdsadsadasdsad</span>
        </div>
    </div>
    <div class="consumption">
      <div class="consumption-body">
        <app-current-power-wattmeter></app-current-power-wattmeter>
      </div>
    </div>
    <div class="consumption">
      <div class="consumption-body">
        <app-consumption-today-wattmeter></app-consumption-today-wattmeter>
      </div>
    </div>

    <div class="consumption">
      <div class="consumption-body">
        <app-consumption-month-wattmeter></app-consumption-month-wattmeter>
      </div>
    </div>
    <div class="consumption">
        <div class="consumption-body">
          <app-consumption-year-wattmeter></app-consumption-year-wattmeter>
        </div>
    </div>
</div> -->