<div class="head">
    <div class="col-sm-9 col-md-12">
        <div class="card-group">
            <div class="price">
                <div class="price-body">
                    <h1 id="price-title">Current price of Electricity</h1>
                    <p style="font-size: 55px;"><b>2.96</b> RSD/kWh</p>
                    <hr style="width: 300px; margin: auto;">
                    <p style="font-size: 15px;">The predicted price may differ from the final one, it is based on...</p>
                </div>
            </div>
            <div class="overview">
                <div class="overview-body">
                    <span><b>Overview of Kragujevac</b> </span>
                </div>
                <div class="card-group">
                    <div class="consumption">
                        <div class="consumption-body">
                            <app-current-power-wattmeter></app-current-power-wattmeter>
                        </div>
                    </div>
                    <div class="consumption">
                        <div class="consumption-body">
                            <app-consumption-today-wattmeter></app-consumption-today-wattmeter>
                        </div>
                    </div>

                    <div class="consumption">
                        <div class="consumption-body">
                            <app-consumption-month-wattmeter></app-consumption-month-wattmeter>
                        </div>
                    </div>
                    <div class="consumption">
                        <div class="consumption-body">
                            <app-consumption-year-wattmeter></app-consumption-year-wattmeter>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="card-group">
            <div class="weather">
                <div class="weather-body">
                    <span><app-number-of-users-meter></app-number-of-users-meter></span>
                    <span>weather API</span>
                </div>
            </div>

            <div class="history-charts">
                <div class="csv-body">
                    <span>Power and Energy </span>
                    <button style="cursor: pointer;">CSV</button>
                </div>
                <div class="chart-body">
                    <button (click)="showComponent()" style="cursor: pointer;">Day</button>
                    <button (click)="showComponent1()" style="cursor: pointer;">Week</button>
                    <button (click)="showComponent2()" style="cursor: pointer;">Month</button>
                    <button (click)="showComponent3()" style="cursor: pointer;">Year</button>
                </div>
                <div class="history-charts-body" *ngIf="componentShown">
                    <app-line-day-chart></app-line-day-chart>
                    
                </div>
                <div class="history-charts-body" *ngIf="componentShown1">
                    <app-line-week-chart></app-line-week-chart>
                </div>
                <div class="history-charts-body" *ngIf="componentShown2">
                    <app-bar-month-chart></app-bar-month-chart>
                </div>
                <div class="history-charts-body" *ngIf="componentShown3">
                    <app-bar-year-chart></app-bar-year-chart>
                </div>
                


            </div>
        </div>

    </div>
</div>




    <div class="consumption">
      <div class="consumption-body">
        <app-consumption-month-wattmeter></app-consumption-month-wattmeter>
      </div>
    </div>
    <div class="consumption">
        <div class="consumption-body">
          <app-consumption-year-wattmeter></app-consumption-year-wattmeter>
        </div>
    </div>
</div> -->