.wrapper{
    margin-top: 90px;
    width: 100%;
    margin-bottom: 70px;
    padding-left: 10px;
    padding-right: 7px;
}
.head {
    justify-content: flex-end;
    height: 100%;
}
.card-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
}
.toggle-container {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.toggle-buttons {
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.toggle-buttons label {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}
.toggle-buttons input[type="radio"] {
  display: none;
}
.toggle-buttons span.divider {
  display: inline-block;
  width: 1px;
  height: 20px;
  margin: 0 10px;
  background-color: gray;
}
.toggle-buttons input[type="radio"]:checked + label {
  font-weight: bold;
  color: black;
}
.toggle-buttons input[type="radio"]:not(:checked) + label {
  color: gray;
}
.card-group {
    text-align: center;
    margin-bottom: 10px;
}
.ta-c {
    text-align: center !important;
}
.mT-20 {
    margin-top: 20px !important;
}
.jc-sb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.peers {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    justify-content: center;
}
.gap-10 > * {
    padding: 10px !important;
}
.gap-10 {
    margin: 10px !important;
}
[class*='gap'] {
    width: auto !important;
    overflow: hidden !important;
}
.bgc-white, .bgcH-white:hover {
    background-color: #ffffff !important;
    border-radius: 10px;
    box-shadow: 1px 2px grey;
    margin-bottom: 7px;
}
.bd {
    border: 1px solid rgba(0, 0, 0, 0.0625) !important;
}
.p-20 {
    padding: 5px !important;
    margin-right: 10px;
}
.peer {
    display: block;
    height: auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
/* chart */
.history-charts {
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px grey;
    width: 70%;
    margin-bottom: 10px;
}
.history-charts-body {
    margin-top: 15px;

    bottom: 0px;
    top: 0px;

}
.csv-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}
.csv-button {
  background-color: #2199e8;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.csv-button:hover {
  background-color: #005ea6;
}
/* chart */
.chart-body {

  justify-content: center;
  /* margin-top: 20px; */
}
.chart-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chart-button {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  color: #2199e8;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.chart-button:hover {
  background-color: #2199e8;
  color: white;
  box-shadow: 0 0 15px rgba(0, 119, 204, 0.5);
}

button.active {
  background-color: #2199e8;
  color: white;
  box-shadow: 0 0 15px rgba(0, 119, 204, 0.5);
}
.numpro {
  margin-right: 10px;
  background-color: white;
  border-radius: 10px;
  width: 15%;
  box-shadow: 1px 2px grey;
  margin-bottom: 10px;
}
.tile_stats_count {

  width: 100%;
  margin-top: 12px;
  float: none;
  display: inline-block;
  text-align: center;
}
.count_top {
  font-size: 12px;
  text-transform: uppercase;
  color: #7B7B7B;
}
.count {
  font-size: 30px;
  font-weight: bold;
  color: #3071af;
}
.count_bottom {
  font-size: 12px;
  color: #999;
  margin-top: 2px;
}
.green {
  color: #3071af;
}
.numpro-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 14px;
  color: #7B7B7B;
}
#pie{
  background-color: white;
  border-radius: 10px;
  width:28%;
  box-shadow: 1px 2px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}
#titlePie
{
  font-size: 25px;
  margin-bottom: 30px;
  
}
#chart{
  margin-top: 0 ;
  padding-bottom: 0;
}
.green-square {
  display: inline-block;
  background-color: rgb(111, 180, 111);
  width: 10px; /* Set the width to your desired size */
  height: 10px; /* Set the height to the same value as the width to create a square shape */
  margin-left: 10px;
}
.blue-square {
  display: inline-block;
  background-color: rgb(120, 120, 238);
  width: 10px; /* Set the width to your desired size */
  height: 10px; /* Set the height to the same value as the width to create a square shape */
  margin-left: 10px;
}
.red-square {
  display: inline-block;
  background-color: rgb(247, 117, 117);
  width: 10px; /* Set the width to your desired size */
  height: 10px; /* Set the height to the same value as the width to create a square shape */
  margin-left: 10px;
  
}  
.weather {
  width: 24%;
  margin-right: 5px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 7px;
  box-shadow: 1px 2px grey;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.weather-body{
  display: block;
  left: auto;
  right: auto;
  margin: 0 15px;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
    .wrapper{
        margin-top: 90px;
        width: 100%;
        margin-bottom: 70px;
    }
    .head {
        justify-content: flex-end;
        height: 100%;
    }
    .card-group {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
    }
    .ta-c {
        text-align: center !important;
    }
    .mT-20 {
        margin-top: 20px !important;
    }
    .jc-sb {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .peers {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        height: auto;
        max-width: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
    }
    .gap-10 > * {
        padding: 5px !important;
    }
    .gap-10 {
        margin: 5px !important;
    }
    [class*='gap'] {
        width: auto !important;
        overflow: hidden !important;
    }
    .bgc-white, .bgcH-white:hover {
        background-color: #ffffff !important;
        border-radius: 10px;
        box-shadow: 1px 2px grey;
        margin-bottom: 7px;
    }
    .bd {
        border: 1px solid rgba(0, 0, 0, 0.0625) !important;
    }
    .p-20 {
        padding: 20px !important;
    }
    .peer {
        display: block;
        height: auto;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    /* charts */
    .history-charts {
        background-color: white;
        box-shadow: 1px 2px grey;
        height: 100%;
        width: 65%;
        
    }
    .history-charts-body {
        
        bottom: 0px;
        top: 0px;
        margin-right: 15px;
    }
    .csv-body {
        flex-grow: 100;
    }
    .chart-body {
        
        flex-grow: 100;
    }
    /* charts end */
    .numpro {
        background-color: white;
        border-radius: 10px;
        width: 40%;
        box-shadow: 1px 2px grey;
        margin-bottom: 7px;
      }
      .tile_stats_count {
        margin-top: 12px;
        width: 70%;
        float: none;
        display: inline-block;
        text-align: center;
      }
      
      .count_top {
        font-size: 12px;
        text-transform: uppercase;
        color: #7B7B7B;
      }

      .count {
        font-size: 30px;
        font-weight: bold;
        color: #3071af;
      }
      
      .count_bottom {
        font-size: 12px;
        color: #999;
        margin-top: 2px;
      }
      
      .green {
        color: #3071af;
      }
      
      .numpro-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        font-size: 14px;
        color: #7B7B7B;
      }
      #pie{
        background-color: white;
        border-radius:10px;
        width: 33.9%;
        box-shadow: 1px 2px grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      #chart{
        margin-top: 0,auto;
        padding-bottom: 0;
      }
      
      .green-square {
          display: inline-block;
          background-color: rgb(111, 180, 111);
          width: 10px; /* Set the width to your desired size */
          height: 10px; /* Set the height to the same value as the width to create a square shape */
          margin-left: 10px; 
      }
      .blue-square {
        display: inline-block;
        background-color: rgb(120, 120, 238);
        width: 10px; /* Set the width to your desired size */
        height: 10px; /* Set the height to the same value as the width to create a square shape */
        margin-left: 10px;
    }
      .red-square {
        display: inline-block;
        background-color: rgb(247, 117, 117);
        width: 10px; /* Set the width to your desired size */
        height: 10px; /* Set the height to the same value as the width to create a square shape */
        margin-left: 10px;
    }
            
      .weather {
        width: 40%;
        margin-left: 20px;
        margin-right: 10px;
        background-color: white;
        box-shadow: 1px 2px grey;
        align-items: center;
        justify-content: center;
      }

      .weather-body{
        display: block;
        left: auto;
        right: auto;
        
        margin: 0 5px;
        text-align: center;
      }

      .toggle-container {
          display: flex;
          border-radius: 10px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: white;
          padding-top: 10px;
          border-bottom: 1px solid black;
        }
        
        .toggle-buttons {
          margin-left: 15px;
          display: flex;
          align-items: center;
          
        }
        
        .toggle-buttons label {
          display: inline-block;
          padding: 10px;
          font-size: 18px;
          cursor: pointer;
        }
        
        .toggle-buttons input[type="radio"] {
          display: none;
        }
        
        .toggle-buttons span.divider {
          display: inline-block;
          width: 1px;
          height: 20px;
          margin: 0 10px;
          background-color: gray;
        }
        
        .toggle-buttons input[type="radio"]:checked + label {
          font-weight: bold;
        }
        
        .toggle-buttons input[type="radio"]:not(:checked) + label {
          color: gray;
        }
        
      .chart-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .chart-button {
        cursor: pointer;
        border: none;
        padding: 10px 20px;
        margin: 0 10px;
        color: #2199e8;
        font-size: 16px;
        font-weight: bold;
        border-radius: 25px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
      }

}

@media only screen and (min-width: 768px)and (max-width: 769px)and (max-height: 1040px) {
  #pie{
    background-color: white;
    border-radius:10px;
    width: 50%;
    box-shadow: 1px 2px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #chart{
    margin-top: 0,auto;
    padding-bottom: 0;
  }
    /* charts */
    .history-charts {
      margin-top: 10px;
      height: 100%;
      width: 100%;
      
  }
  .history-charts-body {
      margin-top: 15px;
      bottom: 0px;
      top: 0px;
      margin-right: 15px;
  }
}
