<div class="adddevices">
    <h1 id="allh1">All devices
    </h1>
    <label for="deviceCategoryId">Filter by:</label>
    <select id="deviceCategoryId" class="form-control" name="deviceCategoryId" (change)="onSelectedCategory($event)" [(ngModel)]="deviceCategoryId" required>     
                <option value="0" >All devices</option>
                <option *ngFor="let category of categories" [value]="category.id" >{{category.name}}</option>
    </select>
    <a class="btn btn-primary" [routerLink]='["/device-add"]' role="button">Add device</a>
</div>
<div *ngIf="loader" style="display: inline; justify-content: center;align-items: center;"><app-loader></app-loader></div>
<div class="devices" *ngIf="devices.length!==0">
    <div class="devices-item" id="slide-1" *ngFor="let device of devices | paginate: {itemsPerPage,totalItems,currentPage}">
        <a *ngIf="device.turnOn===true" [routerLink]='["/device/"+device.id]' class="devices-device-item">
            <img id="imgdevice" src="assets/img/{{device.deviceType}}.png" alt="">
        </a>
        <a *ngIf="device.turnOn===false" [routerLink]='["/device/"+device.id]' class="devices-device-item1">
            <img id="imgdevice" src="assets/img/{{device.deviceType}}.png" alt="">
        </a>
        <h3 id="deviceh3">{{device.name}}</h3>
    </div>
    <app-page-control (pageChange)="pageChanged($event)" *ngIf="itemsPerPage<totalItems"></app-page-control>
</div>
<div class="devices" *ngIf="devices.length===0">
    <h1 id="nodevices">You don't have any devices</h1>
</div>