<app-prosumer-navbar>
</app-prosumer-navbar>
<div class="main">

    <img id="homeimg" src="assets/img/prosumerHome.png" alt="">

    <div class="prodactionToday">
        <h2>Production today</h2>
        <h1><strong>{{todayProduction}} kWh</strong></h1>
    </div>
    <!-- <div class="prodactionNow">
        <app-prosumer-solar></app-prosumer-solar>
    </div> -->

    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Current consumption</h5>
                    <p class="card-text">{{currentConsumption}} kWh</p>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Today consumption</h5>
                    <p class="card-text">{{todayConsumption}} kWh</p>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Month consumption</h5>
                    <p class="card-text">{{monthConsumption}} kWh</p>
                </div>
            </div>
        </div>
    </div>

    <h2 id="smarthomeh2">Smart Home Devices</h2>
    <app-home-devices></app-home-devices>
    <br><br>

    <app-footer></app-footer>
    <app-prosumer-footer></app-prosumer-footer>
</div>