<div class="wrapper">
    <div class="homeimage">
        <img id="homeimg" src="assets/img/prosumerHome.png" alt="">
        <div class="tower">
            <img class="imgtower" src="assets/img/transmission-tower.png" alt="">
        </div>
        <div class="powerTransmissiontower">
            <app-prosumer-tower></app-prosumer-tower>
        </div>
        <div class="consumptionNow">
            <app-prosumer-solar></app-prosumer-solar>
        </div>
        <div class="solarPowerNow">
            <app-prosumer-house></app-prosumer-house>
        </div>
        <div class="prodactionToday">
            <h2><strong>Production today</strong></h2>
            <h1><strong>24.56 kWh</strong></h1>
        </div>
        <div class="prognosis"><app-today></app-today></div>
    </div>

    <div class="carbattery">
        <div class="device-item">
            <div class="buttery-device-item">
                <img id="imgbattery" src="assets/img/charging-station.png" alt="">
                <h3>Car charging</h3>
                <h2>0%</h2>
            </div>
        </div>
        <div class="device-item">
            <div class="buttery-device-item">
                <img id="imgbattery" src="assets/img/battery.png" alt="">
                <h3>Discharging</h3>
                <h2>0%</h2>
            </div>
        </div>
        <div class="device-item">
            <div class="buttery-device-item">
                <img id="imgbattery" src="assets/img/battery.png" alt="">
                <h3>Discharging</h3>
                <h2>0%</h2>
            </div>
        </div>
    </div>
    <div class="devices">
        <div class="devices-item" id="slide-1">
            <div class="devices-device-item">
                <img id="imgdevice" src="assets/img/water-heater.png" alt="">
                <h3>Boiler</h3>
            </div>
        </div>
        <div class="devices-item" id="slide-2">
            <div class="devices-device-item">
                <img id="imgdevice" src="assets/img/gas.png" alt="">
                <h3>Gas stove</h3>
            </div>

        </div>
        <div class="devices-item" id="slide-3">
            <div class="devices-device-item">
                <img id="imgdevice" src="assets/img/water-heater.png" alt="">
                <h3>Boiler</h3>
            </div>
        </div>
        <div class="devices-item" id="slide-4">
            <div class="devices-device-item">
                <img id="imgdevice" src="assets/img/solar-panel.png" alt="">
                <h3>Solar panel</h3>
            </div>

        </div>
        <div class="devices-item" id="slide-5">
            <div class="devices-device-item">
                <img id="imgdevice" src="assets/img/water-heater.png" alt="">
                <h3>Boiler</h3>
            </div>

        </div>
        <div class="devices-item" id="slide-6">
            <div class="devices-device-item">
                <img id="imgdevice" src="assets/img/water-heater.png" alt="">
                <h3>Boiler</h3>
            </div>

        </div>
        <div class="devices-item" id="slide-7">
            <div class="devices-device-item">
                <img id="imgdevice" src="assets/img/water-heater.png" alt="">
                <h3>Boiler</h3>
            </div>

        </div>

        <div class="devices-item" id="slide-8">
            <div class="devices-device-item">
                <img id="imgdevice" src="assets/img/water-heater.png" alt="">
                <h3>Boiler</h3>
            </div>

        </div>
    </div>
</div>