/* Footer */

#pros {
    background-color: #1C315E;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
}

a {
    text-decoration: none;
    color: white;
    float: inherit;
}

.footer-app {
    position: relative;
    margin: 0px 20px 0px 20px;
}

#footerimg {
    width: 30px;
    margin: 5px;
}

.nav-link {
    padding: 5%;
    border: 1px solid white;
    float: left;
}

.icon-holder {
    width: 5% !important;
}

.title {
    font-size: 15px;
}

@media (min-width: 768px) {
    #pros {
        display: none;
    }
}