.main {
    top: 0;
    position: absolute;
    min-height: 100vh;
}

.toggle-container {
    margin: 11px;
    border-radius: 5px;
    background-color: #bce9e4;
}

.toggle-containerr {
    margin: 11px;
    border-radius: 5px;
    max-width: 97%;
    background-color: #bce9e4;
}

.row {
    margin: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
}

label {
    font-size: 20px;
}

.all {
    margin-top: 52px;
    margin-bottom: 0px;
}

.con {
    margin-bottom: 55px;
}

input {
    border: 1px solid black;
    width: 20%;
}

.col {
    width: 160px;
}

.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 22px;
}

.card {
    padding: 0;
    margin-bottom: 10px;
    background-color: #bce9e4;
}

.graf {
    width: 100%;
}

.graf1 {
    margin-top: 15px;
    width: 100%;
}

.table {
    margin-top: 15px;
    width: 100%;
}

.predictiontabelandgrapf {
    margin-top: 15px;
    width: 100%;
}

.history-table-body {
    margin-left: 0;
    width: 100%;
}

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bce9e4;
    padding: 7px;
    border-radius: 10px;
}

.toggle-containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bce9e4;
    padding: 7px;
    border-radius: 10px;
}

.toggle-buttons {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.toggle-buttonss {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.toggle-buttons label {
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.toggle-buttons input[type="radio"] {
    display: none;
}

.toggle-buttons span.divider {
    display: inline-block;
    width: 1px;
    height: 20px;
    margin: 0 10px;
    background-color: gray;
}

.toggle-buttonss span.divider {
    display: inline-block;
    width: 1px;
    height: 20px;
    margin: 0 10px;
    background-color: gray;
}

.toggle-buttons input[type="radio"]:checked+label {
    font-weight: bold;
}

.toggle-buttons input[type="radio"]:not(:checked)+label {
    color: gray;
}

.history-charts-body {
    width: 100%;
}

.toggle-buttonss label {
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.toggle-buttonss input[type="radio"] {
    display: none;
}

.toggle-buttonss span.divider {
    display: inline-block;
    width: 1px;
    height: 20px;
    margin: 0 10px;
    background-color: gray;
}

.toggle-buttonss input[type="radio"]:checked+label {
    font-weight: bold;
}

.toggle-buttonss input[type="radio"]:not(:checked)+label {
    color: gray;
}

.collapsible {
    background-color: #bce9e4;
    color: grey;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 9px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}

.collapsible2 {
    background-color: #bce9e4;
    color: grey;
    cursor: pointer;
    border-radius: 10px;
    padding: 9px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}

.collapsible1 {
    background-color: #bce9e4;
    color: grey;
    cursor: pointer;
    border-radius: 10px;
    padding: 9px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}

.active,
.collapsible:hover {
    background-color: #bce9e4;
    box-shadow: 0 0 15px rgba(0, 119, 204, 0.5);
}

.active,
.collapsible2:hover {
    background-color: #bce9e4;
    box-shadow: 0 0 15px rgba(0, 119, 204, 0.5);
}

.active,
.collapsible1:hover {
    background-color: #bce9e4;
    box-shadow: 0 0 15px rgba(0, 119, 204, 0.5);
}

.content {
    width: 100%;
    padding: 0 0px;
    display: block;
    overflow: hidden;
    background-color: #f1f1f1;
}

.content3 {
    width: 100%;
    padding: 0 0px;
    display: block;
    overflow: hidden;
    background-color: #f1f1f1;
}

.content4 {
    width: 100%;
    padding: 0 0px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.content2 {
    width: 100%;
    display: none;
    padding: 0 0px;
    overflow: hidden;
    background-color: #f1f1f1;
}

.content1 {
    width: 100%;
    padding: 0 0px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

button.active {
    box-shadow: 0 0 15px rgba(0, 119, 204, 0.5);
}

@media (min-width: 768px) {
    .main {
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
    }
    .all {
        margin-top: 85px;
        margin-left: 80px;
        margin-bottom: 79px;
        top: 83px;
    }
    input {
        border: 1px solid black;
        width: 30%;
    }
    label {
        font-size: 35px;
    }
    .con {
        margin: 21px;
        margin-bottom: 0px;
    }
    .col {
        width: 300px;
    }
    .card {
        background-color: #bce9e4;
    }
    .card-title {
        font-size: 35px;
    }
    .card-text {
        font-size: 45px;
    }
    .row {
        margin-bottom: 15px;
    }
    .table {
        margin-top: 15px;
    }
    .toggle-container {
        margin-left: 23px;
        margin-right: 23px;
    }
    .toggle-containerr {
        width: 100%;
    }
    .toggle-buttons label {
        font-size: 35px;
    }
    .toggle-buttonss label {
        font-size: 35px;
    }
    .collapsible {
        padding: 18px;
        font-size: 35px;
    }
    #collapsible1 {
        padding: 18px;
        width: 100%;
        font-size: 35px;
    }
    .active,
    .collapsible:hover {
        background-color: #bce9e4;
    }
    .active,
    #collapsible1:hover {
        background-color: #bce9e4;
    }
    .content {
        width: 100%;
        padding: 0 140px;
        display: block;
        overflow: hidden;
        background-color: #f1f1f1;
    }
    .content3 {
        width: 100%;
        padding: 0 18px;
        display: block;
        overflow: hidden;
        background-color: #f1f1f1;
    }
    .content4 {
        width: 100%;
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
    .content2 {
        width: 100%;
        display: none;
        padding: 0 18px;
        overflow: hidden;
        background-color: #f1f1f1;
    }
    .content1 {
        width: 100%;
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
    #contentng {
        padding: 0 140px;
    }
    .graf {
        padding: 0;
    }
    .graf1 {
        padding: 0;
    }
    .table {
        padding: 0;
    }
}