::ng-deep .ngx-pagination{
	display: flex;
	justify-content: center;
	align-items: center;
	gap:4px;
}

::ng-deep .ngx-pagination li{
	width: 35px;
	height: 35px;
	border-radius: 50% !important;
	background: #f8f8f8;
	display: flex !important;
	justify-content: center;
	align-items: center;
	position: relative;
}
.ngx-pagination {
    margin-right: 20px;
    margin-bottom: 1rem;
}
::ng-deep .ngx-pagination li.small-screen{
	display: none !important;
}
::ng-deep #pagination .ngx-pagination .pagination-next a::after,
::ng-deep #pagination .ngx-pagination .pagination-next.disabled::after{
	margin-left: 0 !important;
	font-size: 20px;
}

::ng-deep #pagination .ngx-pagination .pagination-previous a::before,
::ng-deep #pagination .ngx-pagination .pagination-previous.disabled::before{
	margin-right: 0 !important;
	font-size: 20px;
}

::ng-deep #pagination .ngx-pagination .pagination-next a, 
::ng-deep #pagination .ngx-pagination .pagination-previous a{
	color: #2199e8 !important;
	font-weight: bold;
	text-decoration: none!important;
}

::ng-deep #pagination .ngx-pagination li a:hover{
	width: 100%;
	height: 100%;
	display: flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 50% !important;
	text-decoration: none !important;
	
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
::ng-deep .ngx-pagination{
	display: flex;
	justify-content: center;
	align-items: center;
	gap:4px;
	margin-right: 1px;
}

::ng-deep .ngx-pagination li{
	width: 35px;
	height: 35px;
	border-radius: 50% !important;
	background: #f8f8f8;
	display: flex !important;
	justify-content: center;
	align-items: center;
	position: relative;
	text-decoration: none !important;
}
.ngx-pagination {
    
    margin-bottom: 1rem;
}

::ng-deep .ngx-pagination a{
	text-decoration: none !important;
} 
::ng-deep .ngx-pagination li.small-screen{
	display: none !important;
}
::ng-deep #pagination .ngx-pagination .pagination-next a::after,
::ng-deep #pagination .ngx-pagination .pagination-next.disabled::after{
	margin-left: 0 !important;
	font-size: 20px;
}

::ng-deep #pagination .ngx-pagination .pagination-previous a::before,
::ng-deep #pagination .ngx-pagination .pagination-previous.disabled::before{
	margin-right: 0 !important;
	font-size: 20px;
}

::ng-deep #pagination .ngx-pagination .pagination-next a, 
::ng-deep #pagination .ngx-pagination .pagination-previous a{
	color: #2199e8 !important;
	font-weight: bold;
}

::ng-deep #pagination .ngx-pagination li a:hover{
	width: 100%;
	height: 100%;
	display: flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 50% !important;
	text-decoration: none !important;
}
}