body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container{
  display: flex;
  flex-grow: 1;
  width: 80%;
  margin: 5% auto;
}

.left-container{
  flex-basis: 25%;
}

.right-container{
  flex-basis: 75%;
  padding-left: 5%;
  padding-right: 5%;
  text-justify: justify;
}

.left-container > img{
  width: 100%;
  height: auto;
}

.login-button{
  width: 18%;
  height: 15%;
  background-color: rgb(80, 80, 219);
  border-color: rgb(80, 80, 219);
  color: white;
  font-size: 16px;
  transition: transform 0.2s ease-in-out;
  border-radius: 5px;
}

.login-button:hover{
  width: 18%;
  height: 15%;
  background-color: white;
  border-color: rgb(80, 80, 219);
  color: rgb(80, 80, 219);
  font-size: 18px;
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 5px;
}




