
<div class="container">
    <div *ngIf="isConfirmed;">
        
        <div class="left-container">
            <img src="assets/emailConfirmation/success.png" alt="Email confirmed successfully." class="photo">
        </div>
        <div class="right-container">
            <div class="title-container">
                <h3 class="title">Your email address has been successfully confirmed.</h3>
            </div>
        
            <div class="message-container">
                <br>
                You can now <a (click)="goToLogin()" class="login-link">login</a> to our app and take control of your energy usage.
                Start tracking and managing your household electricity 
                consumption to help reduce your environmental impact.<br>
                <br>
                <b>Welcome aboard!</b><br><br>
            </div>
        
            <button class="login-button"><a (click)="goToLogin()">Login</a></button>
        </div>
    </div>

    <div *ngIf="!isConfirmed;">
        <div class="left-container">
            <img src="assets/emailConfirmation/not_confirmed.png" alt="Email confirmation failed." class="photo">
        </div>
        <div class="right-container">
            <div class="title-container">
                <h3 class="title">{{message}}</h3>
            </div>
            <div class="message-container">
                <br>
                We're sorry to inform you that it appears that your email confirmation via the link has failed. 
                Please contact administator for more informations. <br>
                <br>
                <b>See you soon!</b>
            </div>
        </div>
    </div>
</div>