.container1 {
  width: 12%;
  float: left;
  margin-left: 5%;
}
.form-select {
  cursor: pointer;
}

.container2 {
  display: inline-block;
  width: 15%;

}
.container3 {
  width: 15%;
  float: right;
  margin-right: 5%;
}


.btn {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2199e8;
  color: white;
  font-weight: normal;
  text-align: center;
}

.btn:hover {
  background-color: #0d8beb;
}
  
  .table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    width: 20%;
    text-align: right;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #2199e8;
    color: white;
    font-weight: normal;
    padding: 10px;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .on-off {
    text-align: center;
  }
  
  .on {
    color: green;
  }
  
  .off {
    color: red;
  }