<div class="navbar-logo">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-justify"></i>
        </button>

    <a class="navbar-brand" href="#">
        <img src="../../assets/white-logo.png" class="logo">
        <span>WattApp</span>
    </a>
</div>

<div class="user">
    <div class="dropdown">
        <a class="dropbtn"><i class="fa fa-user"></i>Admin</a>
        <div class="dropdown-content">
            <a href="#">Settings</a>
            <a href="#" (click)="logout()">Logout</a>
        </div>
    </div>
</div>