.wrapper{
  display: none;
}
  @media (min-width: 768px) {
    .wrapper{
      display: block;
      z-index: -1;
    }
    #content {
      position: fixed;
      z-index: 1020;
      width: 100%;
      min-height: 5%;
      margin-bottom: 30px;
      transition: all 0.3s;
    }
    #sidebarCollapse {
      transition: all 0.2s ease-in-out;
      color: white;
      font-size: 20px
    }
    #sidebarCollapse:hover {
      color: rgb(48, 98, 204);
      transition: all 0.2s ease-in-out;
      font-size: 26px
    }
    .navbar {
      background-color: #354871;
    }
    .container-fluid {
      margin: 0;
      float: left;
    }
    .navbar-brand {
      margin-top: -40px;
      margin-right: auto;
      height: 100px;
    }
    .user {
      margin-top: -10px;
      padding-right: 30px;
    }
    .nav-link {
      font-size: 20px;
    }
    .logo {
      width: 60px;
    }
    a {
      color: white;
    }
    #sidebarCollapse {
      background-color: #354871;
      border: #354871;
      width: 60px;
      float: left;
    }
    .dropdown {
      position: relative;
      display: inline-block;
      margin-top: 15px;
    }
    .dropbtn {
      color: white;
      padding: 20px;
      font-size: 20px;
      border: none;
      cursor: pointer;
    }
    .dropdown.show .dropdown-content {
      display: block;
    }
    .dropdown-content {
      border-radius: 5px;
      width: 150px;
      border: 1px solid black;
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      align-items: center;
      align-content: center;
      text-align: center;
      margin-top: 18px;
      margin-left: 10px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    .dropdown-content a {
      color: #354871;
      padding: 20px 20px;
      text-decoration: none;
      display: block;
    }
    .dropdown-content a:hover {
      background-color: #354871;
      color: #f9f9f9;
    }
    .dropdown:focus .dropdown-content {
      display: block;
    }
    .dropdown-content:hover .dropbtn {
      background-color: #354871;
    }
    .dropbtn a:hover {
      background-color: #f9f9f9;
    }
  }