.main {
    min-height: 100vh;
}

#turnback {
    padding-top: 2px;
    width: 10%;
    margin-left: 5px;
}

.global {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

input {
    color: #1C315E;
}

.global1 {
    border-radius: 5px;
    box-shadow: 2px 4px gray;
    background-color: #bce9e4;
    margin-left: 9px;
    margin-right: 9px;
    width: 100%;
    margin-bottom: 70px;
    padding-bottom: 5px;
}

h1 {
    color: #1C315E;
    display: flex;
    justify-content: center;
    font-style: italic;
}

label {
    margin-left: 0;
    color: #1C315E;
    font-style: italic;
    font-size: 25px;
}

.form-row {
    display: flex;
    margin-left: 14px;
    margin-right: 14px;
    justify-content: center;
}

#btn1 {
    justify-content: center;
    margin-left: 25%;
    width: 142px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.ng-valid {
    border: 1px solid green;
}

input.ng-touched {
    border: 1px solid blue;
}

.all {
    padding-top: 55px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#subb {
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: right;
    align-items: right;
}

@media(min-width:768px) {
    .main {
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
    }
    .all {
        padding-top: 80px;
        min-height: 100vh;
    }
    .global1 {
        width: 60%;
    }
    #turnback {
        margin-top: 5px;
        width: 5%;
        margin-left: 105px;
    }
    #btn1 {
        justify-content: center;
        margin-left: 25%;
        width: 180px;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked+.slider {
        background-color: #2196F3;
    }
    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
}