<div class="main">

<div class="global">
    <div class="global1">
        <h1>Update</h1>
        <form #form="ngForm" (ngSubmit)="upDate()">
            <div class="form-row">
                <div class="form-group col-md-6 ">
                
                    <br>
                    
                    <input type="number " class="form-control " id="id " name="userId " [(ngModel)]="idProsumer " disabled>
                    <br>
                    <label for="name " class="form-label ">Name</label>
                    <input type="text " class="form-control " id="id " name="name " [(ngModel)]="updateDevice.name "  required>
                    <br>
                    <label for="energyInKwh " class="form-label ">Energy in kWh</label>
                    <input type="number " class="form-control " id="id " name="energyInKwh " [(ngModel)]="updateDevice.energyInKwh "  required>
                    <br>
                    <label for="standByKwh " class="form-label ">Stand by in kWh</label>
                    <input type="number " class="form-control " id="id " name="standByKwh " [(ngModel)]="updateDevice.standByKwh "  required>
                    <br>
                    <form >
                        <label for="visibilityOnOff" class="form-label ">Visibility</label>
                        <button style="width: 84px; height:30px; color: #fff;"  (click)="visibilityOnOff()" > {{ updateDevice.visibility ? 'On' : 'Off' }}</button>
                    </form>
                    <br>
                   
                    <form >
                        <label for="controlabilityOnOff" class="form-label ">Control</label>
                        <button style="width: 84px; height:30px; color: #fff;"  (click)="controlabilityOnOff()" > {{ updateDevice.controlability ? 'On' : 'Off' }}</button>
                    </form>
                    <br>
                    <br>
                    
                </div>
            </div>
            <button type=" submit " class="btn btn-primary mr-5 ">Save</button>
        </form>
        <app-prosumer-footer></app-prosumer-footer>
    </div>
   
</div>

</div>