.main {
    top: 0px;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    justify-content: center;
}

.back {
    margin-top: 20%;
}

#turnback {
    width: 7%;
    margin-left: 5px;
}

.global {
    position: absolute;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
}
#turnback {
    margin-top: 5px;
    width: 7%;
    margin-left: 5px;
}
input {
    color: #1C315E;
}

.global1 {
    border-radius: 5px;
    box-shadow: 2px 4px gray;
    background-color: gainsboro;
    padding: 20px;
    width: 100%;
    margin-bottom: 15%;
}

h1 {
    color: #1C315E;
    display: flex;
    justify-content: center;
    font-style: italic;
}

label {
    color: #1C315E;
    font-style: italic;
    font-size: 25px;
}

form {
    margin-top: 50px;
}

.form-row {
    display: flex;
    justify-content: center;
}

#save {
    justify-content: center;
    margin-left: 25%;
    width: 160px;
    background-color: #1C315E;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.ng-valid {
    border: 1px solid green;
}

input.ng-touched {
    border: 1px solid blue;
}

@media(min-width:768px) {
    .global1 {
        width: 60%;
    }
    .back {
        margin-top: 95px;
    }
    #turnback {
        margin-top: 5px;
        width: 3%;
        margin-left: 35px;
    }
    #turnback {
        width: 3%;
        margin-top: 100px;
        margin-left: 2%;
    }
    #turnback {
        width: 3%;
        margin-top: 100px;
        margin-left: 2%;
    }
}